.w-50
  .box
    .row
      .col-md-6
        %h5.pack.semibold= retriever.user.info
        %h6.under_pack.regular 
          - if retriever.provider_and_bank?
            Doc. et Op. Bancaires
          - elsif retriever.bank?
            Op. Bancaires
          - else
            Document
          %span &#124;
          %span.semibold= retriever.name
          %span= "(" + retriever.service_name + ")"
      .col-md-4
        .created-date
          %span.semibold Premier ajout le :
          %span= retriever.created_at.strftime("%d-%m-%Y")
        .updated-date
          %span Modifié le :
          %span= retriever.updated_at.strftime("%d-%m-%Y")
      .col-md-2.text-center
        %h3.semibold.p-3= retriever.journal_name.presence || ''
    %hr
    .row.retriever_actions
      .col-md-9
        %span.badge{ class: "badge-#{badge_type_of(retriever)}" }= state_of(retriever)
      .col-md-3.text-end
        %span.action-group.ms-1.pointer.retriever_infos{ title: "Créer le : #{retriever.created_at.strftime('%d-%m-%Y %H:%M:%S')} / Modifier le: #{retriever.updated_at.strftime('%d-%m-%Y %H:%M:%S')}"}= glyphicon('info', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
        %span.action-group.ms-1.pointer.trigger_connection{ title: 'Synchronisation', data: { id: retriever.id }}= glyphicon('loop-circular', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
        - if (@is_budgea && retriever.budgea_id) || @is_specific_mission
          %span.action-group.ms-1.pointer.edit_connection{ title: 'Edition', data: { retriever: retriever.to_json, banking_provider: (@is_budgea)? 'budgea' : 'internal' } }= glyphicon('pencil', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
        %span.action-group.ms-1.pointer.delete_connection{ title: 'Suppression', data: { id: retriever.id }}= glyphicon('trash', { size: '20', color:'red'})