= stylesheet_link_tag 'front/retrievers/assets/stylesheets/main'

.container-fluid
  .row.derivationLeft
    .col-md-6.text-start
      %h1.bold
        Mes automates
        %span.badge.badge-secondary.regular.total-count= @retrievers.total_count
    .col-md-2.text-start
      = select_tag 'account_id', options_for_select(customers_active.unshift(['Tous', 'all']), @account.try(:id) || 'all'), include_blank: false, class: 'form-select'
    .col-md-1.text-center
      %button.btn.btn-light.semibold.retriever-filter.w-100{ disabled: false }
        %span.me-3= glyphicon('layers', { size: '15', color: '#72AA42'})
        %span Filtrer
    .col-md-2.text-center
      %button.btn.btn-light-primary.semibold.list-retriever.w-100{ disabled: false }
        %span.me-4= glyphicon('list', { size: '15', color: '#0d6efd'})
        %span Automates disponibles
    .col-md-1.text-center
      %button.btn.btn-primary.semibold.add-retriever.w-100{ disabled: false }
        %span.me-2= glyphicon('plus', { size: '15', color: '#FFFF'})
        %span Ajouter

  .mb-4

  .retrievers-list.derivationRight
    - if @retrievers.size > 0
      - @retrievers.each_slice(2) do |retrievers|
        .row.retriever-content
          - retrievers.each do |retriever|
            = render partial: 'retriever', locals: { retriever: retriever }
    - else
      .no-data-found.box= t('global.no-data-found')

= render partial: 'dialogs'
          
= javascript_include_tag 'front/retrievers/assets/javascripts/main'