= stylesheet_link_tag 'front/retriever/main'

.container-fluid
  .row
    .col-md-7.text-start
      %h1.bold Historique de récupération
    .col-md-3.p-1
      %select.form-select#retriever-customers{ name: 'retriever-customers', "aria-label" => "Default select example"  }              
        %option Choisir un dossier
        %option customer 1
        %option customer 2
        %option customer 3
        %option customer 4

    .col-md-1.text-start.p-1
      %button.btn.btn-light.semibold.retriever-filter-historic.w-100{ disabled: false }
        %span.me-3= glyphicon('layers', { size: '15', color: '#72AA42'})
        %span Filtrer  

  .mb-4

  %ul.nav.nav-tabs.ms-3{ "role" => "tablist" }
    %li.nav-item.no-margin{ "role" => "presentation" }
      %button.semibold.nav-link.active#bank-operation-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#bank-operation", type: :button, "role" => "tab", "aria-controls" => "bank-operation", "aria-selected" => "true" } 
        Opérations bancaires 
        %span.ms-1.badge.badge-secondary.regular 480
    %li.nav-item.no-margin{ "role" => "presentation" }
      %button.semibold.nav-link#documents-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#documents", type: :button, "role" => "tab", "aria-controls" => "documents", "aria-selected" => "false"} 
        Documents
        %span.ms-1.badge.badge-secondary.regular 256
  .tab-content
    .tab-pane.box.no-margin.active#bank-operation{ "role" => "tabpanel", "aria-labelledby" => "bank-operation-tab" }
      .row
        .col-md-8
        .col-md-4.text-end
          %button.btn.btn-danger.semibold.force-preseizures
            %span.me-2= glyphicon('aperture', { size: '15', color: '#FF4848'})
            %span Forcer la pré-affectation de
            %span.count-operation 0
            %span opération(s)

      .mb-4

      .row
        .col-md-12
          %table.table.table-striped.table_integration
            %thead            
              %th Date Opé
              %th Date Valeur
              %th Service
              %th Compte
              %th Catégorie
              %th Libellé
              %th Montant
              %th Pré-affecté
            %tbody
              %tr
                %td 13/07/2020
                %td 13/07/2020
                %td LCL Pro
                %td.semibold FR7830002004140000431111G83
                %td -
                %td RENOUVELLEMENT CAT 97612141232 - DU 130621 AU 130721 INT ECHEANC - TAUX NOMI. 0,0500 ACTUA. 0,0500
                %td 50325,76 €
                %td Oui
              %tr
                %td 14/07/2020
                %td 14/07/2020
                %td LCL Pro
                %td.semibold FR7830002004140000431111G83
                %td -
                %td RENOUVELLEMENT CAT 97612141232 - DU 130621 AU 130721 INT ECHEANC - TAUX NOMI. 0,0500 ACTUA. 0,0500
                %td 50325,76 €
                %td Oui

        .form-group
          .row.pagination
            .col-md-6
              .row
                .col-md-2.text-end.pt-1
                  %label Afficher par
                .col-md-2
                  %select.form-select.form-select-sm{ "aria-label" => ".form-select-sm" }
                    %option 20
                    %option 50
                    %option 100         

            .col-md-6.text-end
              .row
                .col-md-10
                  %label 2-10 de 10 éléments
                .col-md-1
                  %span= glyphicon('chevron-left', { size: '15', color: "#1A1A1A" })
                .col-md-1
                  %span= glyphicon('chevron-right', { size: '15', color: "#1A1A1A" })

    .tab-pane.box.no-margin#documents{ "role" => "tabpanel", "aria-labelledby" => "documents-tab" }
      .row
        .col-md-12
          %table.table.table-striped.table_integration
            %thead            
              %th Date de la récupération              
              %th Service
              %th Date
              %th Nom original
              %th Nom iDocus
              %th Nb pages
              %th Montant
            %tbody
              %tr
                %td 12/07/2020
                %td Orange
                %td 12/07/2020
                %td 
                  %a{ href: '#' } 9051137835_13072021.pdf
                %td
                  %a{ href: '#' } AC0000_AC_202107_006.pdf
                %td 10
                %td -167.04 €
              %tr
                %td 12/07/2020
                %td Orange
                %td 12/07/2020
                %td 
                  %a{ href: '#' } 9051137835_13072021.pdf
                %td
                  %a{ href: '#' } AC0000_AC_202107_006.pdf
                %td 10
                %td -167.04 €            
              

        .form-group
          .row.pagination
            .col-md-6
              .row
                .col-md-2.text-end.pt-1
                  %label Afficher par
                .col-md-2
                  %select.form-select.form-select-sm{ "aria-label" => ".form-select-sm" }
                    %option 20
                    %option 50
                    %option 100         

            .col-md-6.text-end
              .row
                .col-md-10
                  %label 2-10 de 10 éléments
                .col-md-1
                  %span= glyphicon('chevron-left', { size: '15', color: "#1A1A1A" })
                .col-md-1
                  %span= glyphicon('chevron-right', { size: '15', color: "#1A1A1A" })

  .modal#filter-bank-operation
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold Filtre opération bancaire
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
          .form-group
            %label.semibold Date opération
            .select-container.no-padding.w-100.date.date-picker
              %input{ type: :text }

          .form-group
            %label.semibold Date valeur
            .select-container.no-padding.w-100.date.date-picker
              %input{ type: :text }

          .form-group
            %label.semibold Service
            .select-container.no-padding.w-100
              %input{ type: :text }

          .form-group
            %label.semibold Catégorie
            .select-container.no-padding.w-100
              %input{ type: :text }

          .form-group
            %label.semibold Libellé
            .select-container.no-padding.w-100
              %input{ type: :text }

          .form-group
            %label.semibold Pré-affectation
            %select.form-select#preseizure{ name: 'preseizure', "aria-label" => "Default select"  }              
              %option
              %option Oui
              %option Non
              %option En attente

        .modal-footer
          %button.btn.btn-light.semibold.cancel{ type: :button } Annuler
          %button.btn.btn-primary.semibold{ type: :button } Valider

  .modal#filter-documents
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold Filtre documents
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
          .form-group
            %label.semibold Service
            .select-container.no-padding.w-100
              %input{ type: :text }

          .form-group
            %label.semibold Date
            .select-container.no-padding.w-100.date.date-picker
              %input{ type: :text }          

          .form-group
            %label.semibold Nom original
            .select-container.no-padding.w-100
              %input{ type: :text }

          .form-group
            %label.semibold Montant
            .select-container.no-padding.w-100
              %input{ type: :text }

        .modal-footer
          %button.btn.btn-light.semibold.cancel{ type: :button } Annuler
          %button.btn.btn-primary.semibold{ type: :button } Valider
      
= javascript_include_tag 'front/retriever/main'