- customer_selected = User.find(params[:uid].present? ? params[:uid] : @user.id)
= hidden_field_tag :customer_code, customer_selected.code
.row
  .col-md-2
    .lefter.mt-5
      %ul.principal.p-0
        - @journals.each_with_index do |journal, index|
          %li.direct_links
            %input{ type: :hidden, id: "form_#{journal.id}", value: ""}  
            %a.rubric{ href: "#", data: { id: journal.id } }
              %span.link_principal{ class: (journal.name == params[:journal] || (!params[:journal].present? && index == 0)) ? 'active' : ''}= journal.full_name

        %li.direct_links.add-rubric
          %span.float-end= glyphicon('plus', { color: "#C1D837", size: 10})
          %span.link_principal.green-label Ajouter une rubrique
        %li.input-add-rubric.hide
          %hr
          = render file: Rails.root.join('app/templates/front/journals/views/journals/main/_rubric_form.html.haml'), locals: { organization_id: @user.organization_id }
          - ajx_params = param_encode({ url: '#url', form: { id: 'edit-rubric-form', dump_action: true, validate: true }, before_send: 'journal.before_rubric_addition', after_send: 'refresh_customer_view' })
          .row
            .col-md-5
            .col-md-7
              %button.btn.btn-light.btn-sm.cancel-add-rubric{ idocus: ajx_params } Annuler
              %button.btn.btn-dark.btn-sm.as_idocus_ajax{ idocus: ajx_params } Valider

    %hr
    %h3.semibild.text-center Recherche
    %form#customer_filter_form.simple_form.form-horizontal
      .form-group
        %label.semibold Contenu
        .select-container.no-padding
          %input#text{ name: 'text', value: (params[:text] rescue '' ) }

      .form-group
        %label.semibold Nom du tiers
        .select-container.no-padding
          %input#third_party{ name: 'third_party', value: (params[:third_party] rescue '' ) }
      .form-group
        %label.semibold Date facture
        .select-container.no-padding
          %input.daterange#date{ name: 'date', value: (params[:date] rescue '' ) }
      .form-group
        %label.semibold Tags
        .select-container.no-padding
          %input#tags{ name: 'tags', value: (params[:tags] rescue '' ) }
      .form-group
        %label.semibold Montant
        .row.me-0
          .w-50
            = select_tag 'amount_operation', options_for_select([['=', 0], ['>=', 1], ['<=', 2]], (@options[:amount_operation] rescue 0)), include_blank: false, class: 'form-select operator'
          .w-50.select-container.no-padding
            %input#amount.p-1{ name: 'amount', value: (@options[:amount].join(',') rescue '' ) }

      .row.w-100.text-center
        .col-md-6
          %button.btn.btn-light.btn-sm.w-75.semibold.btn-reinit{:type => 'button', id: 'launch-reinit2', :type => 'button'} Reinitialiser
        .col-md-6
          %button.btn.btn-dark.btn-sm.w-75.semibold.btn-search{:type => 'button', id: 'launch-filter'} Lancer

  .col-md-10      
    .box.derivationLeft#table_pieces
      .row
        .col-md-12
          - if @filter_active
            .filter_active.hide Filter
          %table.table.table-striped.list_customers#tbl_pieces
            %thead
              %th= sortable 'pack_report_preseizures.third_party', "Nom du tiers"
              %th= sortable 'pack_report_preseizures.date', "Date"
              %th= sortable 'pack_report_preseizures.cached_amount', "Montant TTC"
              %th Tags
              %th.text-end Action
            %tbody
              - @pieces.each do |piece|
                - preseizure = piece.preseizures.first
                %tr
                  %td.pointer.show-detail{ title: 'Voir détail', data: { content_url: piece.get_access_url, piece_id: piece.id }}
                    .name.text-table-green= preseizure&.third_party
                  %td
                    %span.info= preseizure.try(:date).try(:strftime, '%d/%m/%Y')
                  %td 
                    = preseizure.try(:amount_ttc).to_s + ' €'
                  %td
                    - piece.get_tags.split('-').each do |tag|              
                      %span.badge.bg-dark= tag
                  %td.text-end.pointer.align-middle
                    .action.sub_edit_delete.list-collaborators
                      %span.glyph= glyphicon('ellipses', { size: '15', color: 'gba(26, 26, 26, 0.7)', style: 'transform: rotate(90deg)'})
                    .sub_menu.text-start.hide
                      %ul.no-margin.no-padding.regular
                        %li.edit-tags
                          = link_to glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'}) + ' Editer les tags', '#', class: 'link update_tags', data: { id: piece.id, type: 'piece' }

          = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: documents_reloaded_path, target: '#table_pieces', total_pages: @pieces.total_pages, filter: 'customer_filter_form' }