- customer_selected = User.find(params[:uid].present? ? params[:uid] : @user.id)
= hidden_field_tag :customer_code, customer_selected.code
.row
  .col-md-2
    %h3.semibild.text-center Rechercher un document
    %hr
    .lefter.mt-3
      %ul.principal.p-0
        - @journals.each_with_index do |journal, index|
          %li.direct_links
            %input{ type: :hidden, id: "form_#{journal.id}", value: ""}  
            %a.rubric{ href: "#", data: { id: journal.id } }
              %span.link_principal{ class: (journal.name == params[:journal] || (!params[:journal].present? && index == 0)) ? 'active' : ''}= journal.full_name

        - if !@user.has_maximum_journal?
          %li.direct_links.add-rubric
            .info-rubric
              %span.float-start.popup-info-rubric= glyphicon('info', { color: 'white', size: 20 , style: "background-color: #000; border-radius:50%; padding: 4px;"})
              .info-rubric-content.hide
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

            .action-rubric       
              %span.float-end= glyphicon('plus', { color: "#C1D837", size: 10})            
              %span.link_principal.green-label Créer une rubrique
            

        %li.input-add-rubric.hide
          %hr
          = render file: Rails.root.join('app/templates/front/journals/views/journals/main/_rubric_form.html.haml'), locals: { organization_id: @user.organization_id }
          - ajx_params = param_encode({ url: '#url', form: { id: 'edit-rubric-form', dump_action: true, validate: true }, before_send: 'journal.before_rubric_addition', after_send: 'refresh_customer_view' })
          .row
            .col-md-5
            .col-md-7
              %button.btn.btn-light.btn-sm.cancel-add-rubric{ idocus: ajx_params } Annuler
              %button.btn.btn-dark.btn-sm.as_idocus_ajax{ idocus: ajx_params } Valider

    %hr
    %form#customer_filter_form.simple_form.form-horizontal
      .form-group
        %label.semibold Plein texte
        .select-container.no-padding
          %input#text{ name: 'text', value: (params[:text] rescue '' ) }

      .form-group
        %label.semibold Nom du tiers
        .select-container.no-padding
          %input#third_party{ name: 'third_party', value: (params[:third_party] rescue '' ) }

      .form-group
        %label Date
        .input-group.mb-3
          %span.show-calendar.input-group-text.calendar-field-customer.p-2{ data: { ref: 'date-val' }}= glyphicon('calendar', { size: '14', color: 'background: rgba(26, 26, 26, 0.7)' })
          %input.form-control.value-content.date.daterange.calendar-field-customer#date-val{ type: :text, name: 'date', value: (params[:date] rescue '')}
          %span.show-calendar.input-group-text-right.calendar-field-customer.p-2{ data: { ref: 'date-val' } }= glyphicon('chevron-bottom', { size: '12', color: 'background: rgba(26, 26, 26, 0.7)' })

      .form-group
        %label.semibold N° de pièce
        .select-container.no-padding
          %input#third_party{ name: 'piece_number', value: (params[:piece_number] rescue '' ) }

      .form-group
        %label.semibold Montant TTC
        .row.me-0
          .w-50
            = select_tag 'amount_operation', options_for_select([['=', 0], ['>=', 1], ['<=', 2]], (@options[:amount_operation] rescue 0)), include_blank: false, class: 'form-select operator'
          .w-50.select-container.no-padding
            %input#amount.p-1{ name: 'amount', value: (@options[:amount].join(',') rescue '' ) }
      .form-group
        %label.semibold Tags
        .select-container.no-padding
          %input#tags{ name: 'tags', value: (params[:tags] rescue '' ) }

      .row.w-100.text-center
        .col-md-6
          %button.btn.btn-light.btn-sm.no-border-radius.w-100.semibold.btn-reinit{:type => 'button', id: 'launch-reinit2', :type => 'button'} &Eacute;ffacer
        .col-md-6
          %button.btn.btn-dark.btn-sm.no-border-radius.w-100.semibold.btn-search{:type => 'button', id: 'launch-filter'} Lancer

  .col-md-10      
    .box.derivationLeft#table_pieces
      .row
        .col-md-12
          - if @filter_active
            .filter_active.hide Filter
          %table.table.table-striped.list_customers#tbl_pieces
            %thead
              %th
                .row
                  .icon-actions
                    %span.pointer.form-check.d-inline.ms-2
                      %input.form-check-input.pointer.float-none.select-all{ type: :checkbox, value: "", title: 'Sélectionner toutes les pièces' }
                      %span.pointer.ms-2.action-selected.deliver_preseizures.hide{title: 'Télécharger une archive zip'}= glyphicon('cloud-download', { size: '14', color:'rgba(26, 26, 26, 0.32);'})
              %th= sortable 'pack_report_preseizures.third_party', "Nom du tiers"
              %th= sortable 'pack_report_preseizures.date', "Date"
              %th= sortable 'pack_report_preseizures.piece_number', "N° de pièce"
              %th= sortable 'pack_report_preseizures.cached_amount', "Montant TTC"
              %th Tags
              %th.text-end Action
            %tbody
              - @pieces.each do |piece|
                - preseizure = piece.preseizures.first
                %tr.box.list
                  %td
                    %span.form-check
                      %input.form-check-input.pointer.float-none.select-document{ data: { id: piece.id, preseizure_ids: piece.preseizures.collect(&:id) }, type: :checkbox, value: "" }
                  %td.pointer.show-detail{ title: 'Voir détail', data: { content_url: piece.get_access_url, piece_id: piece.id }}
                    .name.text-table-green= preseizure.try(:third_party)
                  %td
                    %span.info= preseizure.try(:date).try(:strftime, '%d/%m/%Y')
                  %td
                    = preseizure.try(:piece_number)
                  %td 
                    = preseizure.try(:amount_ttc).to_s + ' €'
                  %td
                    - piece.get_tags.split('-').each do |tag|              
                      %span.badge.bg-dark= tag
                  %td.text-end.pointer.align-middle
                    .action.sub_edit_delete.list-collaborators
                      %span.glyph= glyphicon('ellipses', { size: '15', color: 'gba(26, 26, 26, 0.7)', style: 'transform: rotate(90deg)'})
                    .sub_menu.text-start.hide
                      %ul.no-margin.no-padding.regular
                        %li.edit-tags
                          = link_to glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'}) + ' Editer les tags', '#', class: 'link update_tags', data: { id: piece.id, type: 'piece' }

          = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: documents_reloaded_path, target: '#table_pieces', total_pages: @pieces.total_pages, filter: 'customer_filter_form' }