.container-fluid.main-content
  .row
    .col-md-10.derivationLeft
      %h3.bold
        %span.me-2 Mes Documents        
        - if @filters.present?
          %span.filter-info.badge.bg-info.regular.datas_size.blink Filtre actif
    - if @user.still_active?
      .col-md-2.derivationRight
        %button.btn.btn-primary.add-document.w-100.semibold
          %span.me-3= glyphicon('plus', { size: '12', color: '#FFFF'})
          %span Ajouter des documents
  .mb-4

  .row
    .col-md-2
      .mt-5
      .lefter
        %ul.principal
          %li.direct_links{ data: { href: 'documents_reloaded' } }
            %a{href: documents_reloaded_path }
              %span.float-end.badge.bg-light.black-label.mt-1.me-1.semibold= @pieces.total_count
              %span.link_principal{class: (controller_name == 'pieces') ? 'active' : ''} Tous les documents
          %li.direct_links{ data: { href: 'pieces_errors' } }
            %a{href: pieces_errors_path }
              %span.link_principal{class: (controller_name == 'pieces_errors') ? 'active' : ''} Pièces en erreur
          %hr
          %li.direct_links{ data: { href: 'documents_processing' } }
            %a{href: "#" }
              %span.float-end.badge.bg-dark.mt-1.semibold.me-1 1024
              %span.link_principal{class: (controller_name == 'documents_processing') ? 'active' : ''} Pièces en cours de traitement
          %li.direct_links{ data: { href: 'documents_deleted' } }
            %a{href: "#" }
              %span.float-end.badge.bg-danger.mt-1.semibold.me-1 55
              %span.link_principal{class: (controller_name == 'documents_deleted') ? 'active' : ''} Pièces supprimer

    .col-md-10
      .row
        .col-md-3
          .row
            .col-md-3.pt-2
              .semibold Dossier
            .col-md-9
              - if accounts_options.size == (@options.try(:[], :owner_ids).try(:size) rescue 0)
                = select_tag 'customer_document_filter', options_for_select(accounts_options), id: 'customer_document_filter', multiple: true
              - else
                = select_tag 'customer_document_filter', options_for_select(accounts_options, @options.try(:[], :owner_ids)), id: 'customer_document_filter', multiple: true
        .col-md-3
          .row
            .col-md-3.pt-2
              .semibold Journal
            .col-md-9
              = select_tag 'journal_document_filter', options_for_select(accounts_journaux, @options.try(:[], :journal)), id: 'journal_document_filter', multiple: true
        .col-md-2
          .row
            .col-md-4.pt-2
              .semibold Periode
            .col-md-8
              = select_tag 'period_document_filter', options_for_select(period_list, @options.try(:[], :period)), id: 'period_document_filter', multiple: true
        .col-md-3
          .search-content
            .row.no-margin
              .col-md-1.no-padding.text-center.glass
                = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
              .col-md-11.no-padding.no-margin
                %input#search_input{ name:'pack_name', placeholder: 'Recherche (contenu, dossier)', value: @options.try(:[], :text) }
        .col-md-1
          %button.btn.btn-light.more-filter.w-100.semibold
            %span= glyphicon('transfer', { size: '15', color: '#72AA42', style: 'transform: rotate(90deg)'})
            %span Filtrer
      .box.derivationLeft
        .row
          .col-md-12
            %table.table.table-striped.list_customers#table_pieces
              %thead
                %th Dossier / Ref pièce
                %th Date
                %th Tiers - Numéro de pièce
                %th Montant TTC
                %th Etat
                %th.text-end Action
              %tbody
                - @pieces.each do |piece|                  
                  %tr
                    %td.pointer.show-detail{ title: 'Voir détail', data: { piece_id: piece.id }}
                      .name.text-table-green= piece.name
                    %td
                      %span.info= piece.created_at.strftime('%d/%m/%Y')
                    %td FREENEWS
                    %td 500 €
                    %td= piece.get_state_to('text')
                    %td.text-end.pointer.align-middle
                      .action.sub_edit_delete.list-collaborators
                        %span.glyph= glyphicon('ellipses', { size: '15', color: 'gba(26, 26, 26, 0.7)', style: 'transform: rotate(90deg)'})
                      .sub_menu.text-start.hide
                        %ul.no-margin.no-padding.regular
                          %li.edit.edit-customer
                            = link_to glyphicon('trash', { size: '15', color: 'rgba(26, 26, 26, 0.7);'}) + ' Supprimer', documents_reloaded_path
                  %tr.hide{ class: "tr_piece_#{piece.id}" }
                    %td{ colspan: 6 }
                      .detail-piece
                        = render partial: 'detail', locals: { piece: piece }

            = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: documents_reloaded_path, target: '#table_pieces', total_pages: @pieces.total_pages, filter: 'form-customer-filter' }

= render partial: 'upload_dialog' if @render_upload