.container-fluid.main-content
  .row
    .col-md-10.derivationLeft
      %h3.bold
        %span.me-2 Mes Documents
        %span.badge.badge-secondary.regular.datas_size= @pieces.total_count
        %span.filter-info.badge.bg-info.regular.datas_size.blink.hide Filtre actif
    - if @user.still_active?
      .col-md-2.derivationRight
        
  .mb-4

  .row
    .col-md-2
      - if @user.still_active?
        %button.btn.btn-dark.add-document.w-100.semibold
          %span.me-3.blink= glyphicon('plus', { size: '12', color: '#FFFF'})
          %span.blink Ajouter des documents
      
    .col-md-4
    .col-md-3
    .col-md-3
      .row
        .col-md-3.pt-2
          .semibold Dossier
        .col-md-9
          = select_tag 'customers', options_for_select(@users.reverse.map{ |e| [e.short_info, e.id] }, params[:uid].present? ? params[:uid] : @user.id), id: 'customers', class: 'form-select', include_blank: false

  .customer-document-content
    = render partial: 'body_customer' 

= render partial: 'upload_dialog_customer' if @render_upload

= javascript_include_tag 'front/documents_reloaded/assets/javascripts/customer'