%h4.bold= t('reporting.top_delay_sending_document')
%table.table.table-striped
  %thead
    %th.text-left= t('reporting.pack_name')
    %th.text-right= t('reporting.last_document_date')
  %tbody
    - @packs.each do |pack|
      %tr
        %td.text-left= pack.name.gsub(' all', '')
        %td.text-right= pack.updated_at.strftime('%d/%m/%Y')