%h4.bold= t('reporting.top_delivery_waiting_account')
%table.table.table-striped
  %thead.w-100
    %th.text-left= t('reporting.pack_name')
    %th.text-right= t('reporting.share_anomaly_account')
    %th.text-right= t('reporting.share_waiting_account')
    %th.text-right= t('reporting.share_default_account')
  %tbody
    - @reports.each do |report|
      - result = accounts_repartition_stat(report.user)
      - all_accounts_size     = result[:all_accounts_size]
      - anomaly_accounts_size = result[:anomaly_accounts_size]
      - waiting_accounts_size = result[:waiting_accounts_size]
      - default_accounts_size = result[:default_accounts_size]

      %tr
        %td.text-left= report.name
        %td.text-right= ((all_accounts_size > 0)? (anomaly_accounts_size * 100) / all_accounts_size : 0).to_s + '%'
        %td.text-right= ((all_accounts_size > 0)? (waiting_accounts_size * 100) / all_accounts_size : 0).to_s + '%'
        %td.text-right= ((all_accounts_size > 0)? (default_accounts_size * 100) / all_accounts_size : 0).to_s + '%'