%h4.bold= t('reporting.top_delivery_waiting_account')
%table.table.table-striped
  %thead.w-100
    %th.text-left.w-75= t('reporting.pack_name')
    %th.text-right= t('reporting.share_anomaly_account')
    %th.text-right= t('reporting.share_waiting_account')
    %th.text-right= t('reporting.share_default_account')
  %tbody
    - @reports.each do |report|
      - user             = report.user
      - anomaly_accounts = AccountBookType.where(user_id: user.id).distinct.select(:anomaly_account).collect(&:anomaly_account).compact
      - waiting_accounts = AccountBookType.where(user_id: user.id).distinct.select(:account_number).collect(&:account_number).compact
      - default_accounts = AccountBookType.where(user_id: user.id).distinct.select(:default_account_number).collect(&:default_account_number).compact

      - preseizures_ids  = Pack::Report::Preseizure.where("created_at BETWEEN '#{@date_range.join("' AND '")}'").where(user_id: user.id).select(:id)

      - all_accounts_size     = Pack::Report::Preseizure::Account.where(preseizure_id: preseizures_ids).count
      - anomaly_accounts_size = Pack::Report::Preseizure::Account.where(preseizure_id: preseizures_ids, number: anomaly_accounts).count
      - waiting_accounts_size = Pack::Report::Preseizure::Account.where(preseizure_id: preseizures_ids, number: waiting_accounts).count
      - default_accounts_size = Pack::Report::Preseizure::Account.where(preseizure_id: preseizures_ids, number: default_accounts).count

      %tr
        %td.text-left= report.name
        %td.text-right= ((all_accounts_size > 0)? (anomaly_accounts_size * 100) / all_accounts_size : 0).to_s + '%'
        %td.text-right= ((all_accounts_size > 0)? (waiting_accounts_size * 100) / all_accounts_size : 0).to_s + '%'
        %td.text-right= ((all_accounts_size > 0)? (default_accounts_size * 100) / all_accounts_size : 0).to_s + '%'