= stylesheet_link_tag 'front/reporting/assets/stylesheets/main'

.container-fluid
  .row
    .col-md-6
      %h1.bold= t('reporting.reporting_text')
    .col-md-3      
      = select_tag 'customer_filter', options_for_select(['DEVP%001 - TEST - Testa Test', 'DEVP%002 - TEST - Testa Test', 'DEVP%003 - TEST - Testa Test', 'DEVP%004 - TEST - Testa Test']), id: 'customer_filter', multiple: true
    .col-md-3
      .select-container
        .row.date.datepicker
          .col-md-2= glyphicon('calendar', { size: '20', color: '#b5a6a6'} )
          .col-md-8.label-titre= t('reporting.filter_by_period')
          .col-md-2.no-padding= glyphicon('chevron-bottom', { size: '20', color: '#b5a6a6'})
          %span.add-on.hide{style: 'width: 0px; height:35px'}
  .row
    .col-md-4.chart-container.back-white
      %h4.bold= t('reporting.reporting_flow')
      .row
        .col-md-12.mt-4
          %canvas#chart_flux_document
    .col-md-4.chart-container.back-white
      %h4.bold= t('reporting.reporting_delivery_account')
      .row.chart-deliver
        .col-md-11
          %canvas#chart_sending
    .col-md-4.chart-container.back-white
      %h4.bold= t('reporting.reporting_retrievers')
      .row.chart-retriever.mt-5
        .col-md-6.no-margin.no-padding
          .label-canvas.bold
            60%
          %canvas#chart_retriever_active          
          %h5.text-center.label-retriever.no-margin= t('reporting.active_retrievers')
        .col-md-6.no-margin.no-padding
          .label-canvas.bold
            40%
          %canvas#chart_retriever_inactive          
          %h5.text-center.label-retriever.no-margin= t('reporting.failed_retrievers')

  .row
    .col-md-4.chart-container.back-white
      %h4.bold= t('reporting.top_delay_sending_document')
      %table.table.table-striped
        %thead
          %th.text-left= t('reporting.folder_name')
          %th.text-right= t('reporting.last_document_date')
        %tbody
          %tr
            %td.text-left IDOC%Client1 - iDocus
            %td.text-right 30/10/20
          %tr
            %td.text-left IDOC%Client2 - iDocus
            %td.text-right 31/10/20
    .col-md-4.chart-container.back-white
      %h4.bold= t('reporting.top_delivery_waiting_account')
      %table.table.table-striped
        %thead
          %th.text-left= t('reporting.folder_name')
          %th.text-right= t('reporting.share_waiting_account')
        %tbody
          %tr
            %td.text-left IDOC%Client1 - iDocus
            %td.text-right 30%
          %tr
            %td.text-left IDOC%Client2 - iDocus
            %td.text-right 20%
    .col-md-4.chart-container.back-white
      %h4.bold= t('reporting.failed_retrievers')
      %table.table.table-striped
        %thead
          %th.text-left= t('reporting.folder_name')
          %th.text-center= t('reporting.retriever')
          %th.text-right= t('reporting.status')
        %tbody
          %tr
            %td.text-left IDOC%Client1 - iDocus
            %td.text-center Crédit du nord
            %td.text-right 
              .badge.badge-secondary
                SCA Required
          %tr
            %td.text-left IDOC%Client2 - iDocus
            %td.text-center Crédit du nord
            %td.text-right 
              .badge.badge-secondary
                SCA Required

= javascript_include_tag 'front/reporting/assets/javascripts/main'