= stylesheet_link_tag 'front/reporting/assets/stylesheets/main'
%input#organization_id{ type: 'hidden', name: 'organization_id', value: params[:organization_id] || @organization.try(:id) || @user.organizations.first.try(:id) || @user.organization.try(:id) }

.container-fluid
  .row
    .col-md-8
      %h1.bold= "#{t('reporting.reporting_text')} ( #{ @organization.name } )"
    .col-md-2
      = select_tag 'customer_filter', options_for_select(accounts_options), id: 'customer_filter', multiple: true
    .col-md-2
      .form-group                    
        .input-group.mb-3
          %span.input-group-text#reporting-filter-date= glyphicon('calendar', { size: '14', color: 'background: rgba(26, 26, 26, 0.7)' })          
          %input.form-control.value-content.date.daterange#date_filter{ type: :text, name: 'date_filter'}
          %span.input-group-text-right= glyphicon('chevron-bottom', { size: '12', color: 'background: rgba(26, 26, 26, 0.7)' }) 
  
  .row.mt-5.text-center
    .col-md-4.box
      %h4.bold= t('reporting.reporting_flow')
      .row
        .col-md-12.mt-4
          %canvas#chart_flux_document
    .col-md-3.box
      %h4.bold= t('reporting.reporting_delivery_account')
      .row.chart-deliver
        .col-md-11
          %canvas#chart_sending
    .col-md-4.box
      %h4.bold= t('reporting.reporting_retrievers')
      .row.mt-5
        .col-md-6.no-margin.no-padding
          %label.text-canvas-reporting.semibold.actif_retrievers_percentage 0%
          %canvas#chart_retriever_active          
          %h5.text-center.mt-3.semibold= t('reporting.active_retrievers')
        .col-md-6.no-margin.no-padding
          %label.text-canvas-reporting.semibold.failed_retrievers_percentage 0%
          %canvas#chart_retriever_inactive          
          %h5.text-center.mt-3.semibold= t('reporting.failed_retrievers')

  .row
    .col-md-4.box#lastest_sending_docs
      
    .col-md-3.box#pre_assignment_accounts
      
    .col-md-4.box#failed_retrievers

    .mb-4
= javascript_include_tag 'front/reporting/assets/javascripts/main'