= stylesheet_link_tag 'front/organizations/assets/stylesheets/welcome'

.acceuil_organizations.container-fluid
  .row
    .col-md-12.title
      %h1
        Mon organisation :
        %span= @organization.name
  .row
    .col-md-12.statistic_board                 
      .col-md-8.left_section
        .row
          .col-md-12.collab_customer
            .col-md-5.collaborator.box
              %h2= @organization.collaborators.count
              %h4 Collaborateurs
            .col-md-5.float-right.customer.box
              %h2= @organization.customers.count
              %h4 Dossiers actifs
        .row
          .col-md-12.evolution
            %h4 Evolution du nombre de dossiers
            
            %canvas#chart_dossiers          
      .col-md-4.right_section
        .repartition
          %h4 Répartition des abonnements
          %canvas#chart_abonnement
          - organization_statistic = SubscriptionStatistic.where(organization_id: @organization.id).first
          %input#organization_options{ type: :hidden, value: organization_statistic.options.to_json }
          %table.table.borderless
            %tbody
              %tr
                %td.glyph= glyphicon('media-record', { color: '#72AA42' })
                %td.left iDo'Micro
                %td.right= organization_statistic.options[:micro_package].to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1E637' })
                %td.left iDo'Nano
                %td.right= organization_statistic.options[:nano_package].to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1D837' })
                %td.left iDo'X
                %td.right= organization_statistic.options[:idox_package].to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#445E2B' })
                %td.left iDo'Classique
                %td.right= organization_statistic.options[:basic_package].to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#1A1A1A' })
                %td.left Automate       
                %td.right= organization_statistic.options[:retriever_package].to_i

= javascript_include_tag 'front/organizations/assets/javascripts/welcome'