= stylesheet_link_tag 'front/organizations/assets/stylesheets/bank_affectation'

.facture
  .row
    .col-md-6
      %h3.bold
        = t('organizations.bank_assignment_rule')
        %span.badge.badge-secondary.badge-sm.regular 104
    .col-md-3.no-padding
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input{ placeholder: 'Rechercher'}
    .col-md-1.text-center.no-padding
      %button.btn.btn-light.more-filter
        = t('filters.action')
        %span
          = glyphicon('transfer', { size: '16', color: '#72AA42', style: 'transform: rotate(90deg)'})
    .col-md-2.no-padding.add-rule
      %button.btn.btn-primary
        = t('actions.rules.add')
        %span.pl-2.chevron-add-rule= glyphicon('chevron-bottom', { size: '16', color: '#FFFF'})
      
  .box
    .row
      .col-md-8
        %h6.mt-3= t('rules.recovery_operation_retriever')
      .col-md-4.text-right
        %button.btn.btn-light-secondary.add-document.m-1#export-rule= t('actions.excel_export')
        %button.btn.btn-light-secondary.add-document.m-1#delete-rule= t('actions.destroy')
        
    .row.mt-5
      .col-md-12
        %table.table.table-striped.table_integration
          %thead
            %th 
              %label.container
                %input.check-all-bank-rule{ type: :checkbox}
                %span.checkmark
                  = glyphicon('check', { size: '14', color: '#FFF'})
            %th= t('rules.name')
            %th= t('rules.assigned_to')
            %th= t('rules.type')
            %th= t('rules.categozation')
            %th= t('rules.searched_content')
            %th= t('rules.account_number')
            %th.text-right= t('actions.name')
          %tbody
            %tr
              %td
                %label.container
                  %input.check-bank-rule{ type: :checkbox}
                  %span.checkmark
                    = glyphicon('check', { size: '14', color: '#FFF'})
              %td SG frais
              %td Organisation
              %td Recherche loi
              %td CB
              %td 'COTIS JAZZPRO'
              %td 627000
              %td.text-right.pointer
                .action.sub_integration
                  %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
            %tr
              %td
                %label.container
                  %input.check-bank-rule{ type: :checkbox}
                  %span.checkmark
                    = glyphicon('check', { size: '14', color: '#FFF'})
              %td SG frais
              %td Organisation
              %td Recherche loi
              %td CB
              %td 'COTIS JAZZPRO'
              %td 627000
              %td.text-right.pointer
                .action.sub_integration
                  %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
            %tr
              %td
                %label.container
                  %input.check-bank-rule{ type: :checkbox}
                  %span.checkmark
                    = glyphicon('check', { size: '14', color: '#FFF'})
              %td SG frais
              %td Organisation
              %td Recherche loi
              %td CB
              %td 'COTIS JAZZPRO'
              %td 627000
              %td.text-right.pointer
                .action.sub_integration
                  %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
  
  .modal#add-new-rule
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold= t('actions.rules.add')
          %button.close{ type: :button, "aria-label" => "Close", data: { dismiss: "modal"} }
            %span{ "aria-hidden" => "true" }
              = glyphicon('x', { size: '15', color: 'rgba(26, 26, 26, 0.32)'})
        .modal-body
          .form-group
            %label.semibold= t('rules.name')
            .select-container.no-padding.w-100
              %input.rule-name{ placeholder: "ex: Amazon" }

          .form-group
            .row
              .col-md-6
                %label.semibold= t('actions.rules.apply_to')
                %select.form-control#apply-to{ name: 'apply-to', multiple: true }              
                  %option{ value: 'all'}= t('views.standards.all').capitalize
                  %option{ value: 'recet'}= t('rules.recipe')
                  %option{ value: 'depens'}= t('rules.expense')
              .col-md-6
                %label.semibold= t('rules.category')
                .select-container.no-padding.w-100
                  %input.rule-category{ placeholder: "ex: Banque, impôt, chèques..." }

          .form-group
            .row
              .col-md-6
                %label.semibold= t('rules.assigned_to')
                %select.form-control#affect-to{ name: 'affect-to', multiple: true }              
                  %option{ value: 'organization'}= t('organizations.organization')
                  %option{ value: 'customer'}= t('organizations.customer')
                %i= t('rules.assigned_to_helper_text')
              .col-md-6
                %label.semibold= t('rules.type')
                %select.form-control#rule-type{ name: 'rule-type', multiple: true }              
                  %option{ value: 'search'}= t('rules.research')
                  %option{ value: 'correct'}= t('rules.correction')
                %i= t('rules.type_helper_text')

          .form-group.customers-list.hide            
            %label.semibold= t('rules.assigned_client')
            %select.form-control#customers-list{ name: 'customers-list', multiple: true }              
              %option DEVP%001 - TEST- Test              
              %option DEVP%002 - TEST- Test              
              %option DEVP%003 - TEST- Test              
              %option DEVP%004 - TEST- Test              
              %option DEVP%005 - TEST- Test              
              %option DEVP%006 - TEST- Test              
              %option DEVP%007 - TEST- Test              

          .form-group
            %label.semibold= t('rules.label_content_search')
            .select-container.no-padding.w-100
              %input.rule-name{ type: :textarea, placeholder: "ex: 'station' 2015" }
              %span
                = glyphicon('info', { size: '12', color: 'rgba(26, 26, 26, 0.7)'})
                %i= t('rules.label_content_search_helper_text')

          .form-group
            .row
              .col-md-6
                %label.semibold= t('rules.similar_rule_priorization')
                .select-container.no-padding.w-100
                  %input.rule-category{ placeholder: "ex: 0" }
                %i= t('rules.similar_rule_priorization_helper_text')
              .col-md-6
                %label.semibold= t('rules.account_number')
                .select-container.no-padding.w-100
                  %input.rule-category{ placeholder: "ex: 627000" }
                %i= t('rules.account_number_helper_text')
          
        .modal-footer
          %button.btn.btn-light.cancel{ type: :button }= t('actions.cancel')
          %button.btn.btn-secondary.share{ type: :button, disabled: true }= t('actions.add')

  .modal#import-rule
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold= t('actions.rules.import')
          %button.close{ type: :button, "aria-label" => "Close", data: { dismiss: "modal"} }
            %span{ "aria-hidden" => "true" }
              = glyphicon('x', { size: '15', color: 'rgba(26, 26, 26, 0.32)'})
        .modal-body
          .form-group
            %h6.p-2= t('rules.file_import_info')
            .upload-content.text-center.p-5.m-3
              .import-process.hide
                .w-100
                  %span= glyphicon('cloud-download', { size: '22', color: 'rgba(26, 26, 26, 0.7)'})
                .w-100= t('rules.drop_csv_file')
                .w-100
                  %span= t('views.standards.or')
                  %span.pointer.green-label= t('rules.select_csv_file_from_computer')
              .import-success
                .w-100
                  %span= glyphicon('check', { size: '22', color: '#72AA42'})
                .w-100= t('rules.import_finished')


          .form-group
            %label.semibold= t('rules.assigned_to')
            %select.form-control#affect-to{ name: 'affect-to', multiple: true }              
              %option{ value: 'organization'}= t('organizations.organization')
              %option{ value: 'customer'}= t('organizations.customer')
            %i= t('rules.assigned_to_helper_text')
          
        .modal-footer
          %button.btn.btn-light.cancel{ type: :button }= t('actions.cancel')
          %button.btn.btn-secondary.share{ type: :button, disabled: true }= t('actions.next')

  .sub_integration_append.hide
    .sub_menu.text-left
      %ul.no-margin.no-padding.regular
        %li
          %span.edit= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('actions.edit')
        %li
          %span.edit= glyphicon('layers', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
          &nbsp;
          = t('actions.duplicate')
        %li.red-label
          %span= glyphicon('trash', { size: '15', color: "#FF4848" })
          &nbsp;
          = t('actions.destroy')

  .sub_rule_append.hide
    .sub_rule_menu.text-left.mt-2
      %ul.no-margin.no-padding.regular        
        %li.add
          %span= glyphicon('plus', { size: '12', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('actions.rules.create')
        %li.download
          %span= glyphicon('cloud-download', { size: '12', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('actions.rules.import')

= javascript_include_tag 'front/organizations/assets/javascripts/facture'
= javascript_include_tag 'front/organizations/assets/javascripts/bank_affectation'