= stylesheet_link_tag 'front/organizations/assets/stylesheets/kits'

.kits
  .row
    .col-md-8
      %h3.bold
        Kit courrier
        %span.badge.badge-secondary.badge-sm 1
    .col-md-4.text-right
      %button.btn.btn-primary.commande
        Commander kit courrier

  .box.mt-4
    %table.table.table-striped
      %thead
        %th= t('kits.folder').capitalize
        %th= t('kits.order_date').capitalize
        %th= t('kits.company').capitalize
        %th= t('kits.order').capitalize
        %th= t('kits.monitoring_number').capitalize
        %th= t('kits.state').capitalize
        %th.text-right= t('actions.name').capitalize
      %tbody
        %tr
          %td IDOC%002 - support - John Doe
          %td 25/11/20
          %td iDocus
          %td 34
          %td 43256488879
          %td
            .badge.badge-dark En transit
          %td.text-right
            .action.sub_integration
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
        %tr
          %td IDOC%002 - support - John Doe
          %td 14/10/20
          %td iDocus
          %td 34
          %td 2565458754
          %td
            .badge.badge-success Reçu        
          %td.text-right
            .action.sub_integration
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})

      %tfoot
        %tr
          %td
            .row.form-group
              .col-md-4
                %label= t('views.standards.displayed_by').capitalize
              .col-md-4
                %select.form-control
                  %option 20
                  %option 50
                  %option 100

          %td{:colspan => 4}
            %nav
              %nav.pagination
                %li.page-item
                  %a.page-link{ href: '#'}
                    %span{ "aria-hidden" => "true"} &laquo;
                    %span.sr-only Previous                  
                
                %li.page-item
                  %a.page-link{ href: '#'} 1
                %li.page-item
                  %a.page-link{ href: '#'} 2
                %li.page-item
                  %a.page-link{ href: '#'} 3                
                %li.page-item
                  %a.page-link{ href: '#', "aria-label" => "Next"}
                    %span{ "aria-hidden" => "true"} &raquo;
                    %span.sr-only Next
          
  .row
    .col-md-8
      %h3.bold
        iDocus'Box
        %span.badge.badge-secondary.badge-sm 2
    .col-md-4.text-right
      %button.btn.btn-primary.commande
        Commander iDocus'box

  .box.mt-4
    %table.table.table-striped.table_integration
      %thead
        %th Dossier
        %th Date de commande
        %th Société
        %th Commande
        %th N° de suivi
        %th Statut
        %th.text-right Action
      %tbody
        %tr
          %td IDOC%002 - support - John Doe
          %td 25/11/20
          %td iDocus
          %td 34
          %td 43256488879
          %td
            .badge.badge-dark En transit          
          %td.text-right
            .action.sub_integration
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
        %tr
          %td IDOC%002 - support - John Doe
          %td 14/10/20
          %td iDocus
          %td 34
          %td 2565458754
          %td
            .badge.badge-success Reçu        
          %td
            .action.sub_integration.float-right
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
      %tfoot
        %tr
          %td
            .row.form-group
              .col-md-4
                %label Affiché par
              .col-md-4
                %select.form-control
                  %option 20
                  %option 50
                  %option 100

          %td{:colspan => 4}
            %nav
              %nav.pagination
                %li.page-item
                  %a.page-link{ href: '#'}
                    %span{ "aria-hidden" => "true"} &laquo;
                    %span.sr-only Previous                  
                
                %li.page-item
                  %a.page-link{ href: '#'} 1
                %li.page-item
                  %a.page-link{ href: '#'} 2
                %li.page-item
                  %a.page-link{ href: '#'} 3                
                %li.page-item
                  %a.page-link{ href: '#', "aria-label" => "Next"}
                    %span{ "aria-hidden" => "true"} &raquo;
                    %span.sr-only Next


  #commande-courrier.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myFavoriteModalLabel', :role => 'dialog', :tabindex => '-1'}
    .modal-dialog{:role => 'document'}
      .modal-content
        .modal-header
          %h5.modal-title.bold Commande des kits courriers
          %button.close{ type: :button, "aria-label" => "Close", data: { dismiss: "modal"} }
            %span{ "aria-hidden" => "true" }
              = glyphicon('x', { size: '15', color: 'rgba(26, 26, 26, 0.32)'})
        .modal-body
          = form_tag('', method: :post, id: 'send_customer_to_favorite', multipart: true) do |f|
            .form-group
              .label-section
                = label_tag 'search_customer', 'Code client', class: 'select control-label'
              .control-section
                = select_tag 'search_customer_list form-control', options_for_select(['DEVP%001 - TEST - Testa Test', 'DEVP%002 - TEST - Testa Test', 'DEVP%003 - TEST - Testa Test', 'DEVP%004 - TEST - Testa Test'], 'DEVP%004 - TEST - Testa Test'), class: 'select-customer searchable-option-list', id: 'select-kit', include_blank: false, multiple: true
        .modal-footer
          %button.btn.btn-light{'data-dismiss' => 'modal', :type => 'button'} Annuler
          %button.btn.btn-secondary.btn-add{:type => 'button', id: 'add-customer-to-favorite'} Commander

  .sub_integration_append.hide
    .sub_menu
      %ul
        %li
          %span.synchronize= glyphicon('loop')
          &nbsp;Synchroniser les factures
        %li
          %span.edit= glyphicon('pencil')
          &nbsp;Editer
        %li.label_red.delete
          %span= glyphicon('trash', { color: "#FF4848" })
          &nbsp;Supprimer

  .sub_facture_append.hide
    .sub_menu
      %ul
        %li
          %span.see= glyphicon('eye')
          &nbsp;Voir
        %li
          %span.download= glyphicon('cloud-download')
          &nbsp;Télécharger

= javascript_include_tag 'front/organizations/assets/javascripts/facture'