= stylesheet_link_tag 'front/organizations/assets/stylesheets/main' 

.organizations
  .lefter
    %ul.principal
      %li{ data: { href: "accueil" } }
        %span.link_principal.active= t('organizations.home')
      %li{ data: { href: "parametres" } }
        %span.chevron= glyphicon('chevron-right', { color: "#1A1A1A"})
        %span.chevron{ style: "display: none;" }= glyphicon('chevron-bottom', { color: "#1A1A1A"})
        %span.link_principal= t('views.standards.setting').capitalize.pluralize
        %ul.slave.hide
          %li
            %span.link_slave.active= t('organizations.general')
          %li 
            %span.link_slave= t('organizations.pdf_naming')
          %li 
            %span.link_slave= t('organizations.reminder_emails')
          %li 
            %span.link_slave= t('organizations.address_management')
          %li 
            %span.link_slave= t('organizations.software')
          %li
            %span.link_slave= t('organizations.payment_method')
      %li{ data: { href: "#{@organization.id}/collaborateurs" } }
        %span.link_principal= t('organizations.collaborators')
      %li{ data: { href: "#{@organization.id}/clients" } }
        %span.link_principal= t('organizations.customers')
      %li{ data: { href: "#{@organization.id}/journaux_comptables" } }
        %span.link_principal= t('organizations.journals')
      %li{ data: { href: "#{@organization.id}/bank_affectation" } }
        %span.link_principal= t('organizations.bank_assignment')
      %li{ data: { href: "#{@organization.id}/account_sharing" } }
        %span.link_principal= t('folders.shared_folders')
      %li{ data: { href: "#{@organization.id}/invoices" } }
        %span.link_principal= t('organizations.invoices')
      %li{ data: { href: "#{@organization.id}/kits" } }
        %span.link_principal= t('organizations.idocus_box_and_order')

  .content
    = render partial: 'organizations_welcome'

= javascript_include_tag 'front/organizations/assets/javascripts/main'