= stylesheet_link_tag 'organizations/assets/kits'

.kits
  .row
    .col-md-8.title
      %h3
        Kit courrier
        %span.badge.badge-secondary.badge-sm 1
    .col-md-4.text-right
      %button.btn.btn-success.commande
        Commander kit courrier

  .row
    %table.table.table-striped.table_integration
      %thead
        %th Dossier
        %th Date de commande
        %th Société
        %th Commande
        %th N° de suivi
        %th Statut
        %th Action
      %tbody
        %tr
          %td.w-25 IDOC%002 - support - John Doe
          %td.w-15 25/11/20
          %td.w-15 iDocus
          %td.w-15 34
          %td.w-15 43256488879
          %td
            .badge.badge-secondary En transit          
          %td.w-15
            .action.sub_integration.float-right
              %span.glyph= glyphicon('ellipses', { color: '#1A1A1A'})
        %tr
          %td.w-15 IDOC%002 - support - John Doe
          %td.w-15 14/10/20
          %td .w-15iDocus
          %td.w-15 34
          %td.w-15 2565458754
          %td
            .badge.badge-success Reçu        
          %td
            .action.sub_integration.float-right
              %span.glyph= glyphicon('ellipses', { color: '#1A1A1A'})

      %tfoot
        %tr
          %td
            .row.form-group
              .col-md-4
                %label Affiché par
              .col-md-4
                %select.form-control
                  %option 20
                  %option 50
                  %option 100

          %td{:colspan => 4}
            %nav
              %nav.pagination
                %li.page-item
                  %a.page-link{ href: '#'}
                    %span{ "aria-hidden" => "true"} &laquo;
                    %span.sr-only Previous                  
                
                %li.page-item
                  %a.page-link{ href: '#'} 1
                %li.page-item
                  %a.page-link{ href: '#'} 2
                %li.page-item
                  %a.page-link{ href: '#'} 3                
                %li.page-item
                  %a.page-link{ href: '#', "aria-label" => "Next"}
                    %span{ "aria-hidden" => "true"} &raquo;
                    %span.sr-only Next
          
  .row
    .col-md-8.title
      %h3
        iDocus'Box
        %span.badge.badge-secondary.badge-sm 2
    .col-md-4.text-right
      %button.btn.btn-success.commande
        Commander iDocus'box

  .row
    %table.table.table-striped.table_integration
      %thead
        %th Dossier
        %th Date de commande
        %th Société
        %th Commande
        %th N° de suivi
        %th Statut
        %th Action
      %tbody
        %tr
          %td.w-25 IDOC%002 - support - John Doe
          %td.w-15 25/11/20
          %td.w-15 iDocus
          %td.w-15 34
          %td.w-15 43256488879
          %td
            .badge.badge-secondary En transit          
          %td.w-15
            .action.sub_integration.float-right
              %span.glyph= glyphicon('ellipses', { color: '#1A1A1A'})
        %tr
          %td.w-15 IDOC%002 - support - John Doe
          %td.w-15 14/10/20
          %td .w-15iDocus
          %td.w-15 34
          %td.w-15 2565458754
          %td
            .badge.badge-success Reçu        
          %td
            .action.sub_integration.float-right
              %span.glyph= glyphicon('ellipses', { color: '#1A1A1A'})

      %tfoot
        %tr
          %td
            .row.form-group
              .col-md-4
                %label Affiché par
              .col-md-4
                %select.form-control
                  %option 20
                  %option 50
                  %option 100

          %td{:colspan => 4}
            %nav
              %nav.pagination
                %li.page-item
                  %a.page-link{ href: '#'}
                    %span{ "aria-hidden" => "true"} &laquo;
                    %span.sr-only Previous                  
                
                %li.page-item
                  %a.page-link{ href: '#'} 1
                %li.page-item
                  %a.page-link{ href: '#'} 2
                %li.page-item
                  %a.page-link{ href: '#'} 3                
                %li.page-item
                  %a.page-link{ href: '#', "aria-label" => "Next"}
                    %span{ "aria-hidden" => "true"} &raquo;
                    %span.sr-only Next
  

  .modal#integration
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title Intégration automatique des factures
          %button.close{ type: :button, "aria-label" => "Close", data: { dismiss: "modal"} }
            %span{ "aria-hidden" => "true"} &times;
        .modal-body
          .form-group
            %label Code client
            %select.searchable-option-list.form-control{ multiple: true}
              %option Selectionner / Rechercher un dossier client
              %option Dossier 1
              %option Dossier 2
              %option Dossier 3
              %option Dossier 4
        .modal-footer
          %button.btn.cancel{ type: :button } Annuler
          %button.btn.add{ type: :button } Commander

  .sub_integration_append.hide
    .sub_menu
      %ul
        %li
          %span.synchronize= glyphicon('loop')
          &nbsp;Synchroniser les factures
        %li
          %span.edit= glyphicon('pencil')
          &nbsp;Editer
        %li.label_red.delete
          %span= glyphicon('trash', { color: "#FF4848" })
          &nbsp;Supprimer

  .sub_facture_append.hide
    .sub_menu
      %ul
        %li
          %span.see= glyphicon('eye')
          &nbsp;Voir
        %li
          %span.download= glyphicon('cloud-download')
          &nbsp;Télécharger

= javascript_include_tag 'organizations/assets/kits'