- if request.env["SERVER_NAME"].include?("axelium")
  = stylesheet_link_tag 'front/organizations/assets/stylesheets/show_axelium'
- elsif request.env["SERVER_NAME"].include?("dkpartners")
  = stylesheet_link_tag 'front/organizations/assets/stylesheets/show_dk_partners'
- else
  = stylesheet_link_tag 'front/organizations/assets/stylesheets/show'



.acceuil_organizations.container-fluid
  .row.derivationRight
    .col-md-12.title
      %h3.semibold
        = t('organizations.my_organization') + ' :'
        %span= @organization.name
  .row
    .col-md-12.statistic_board
      .col-md-8.left_section.derivationLeft
        .row.no-padding.no-margin
          .col-md-12.collab_customer.no-margin
            .col-md-6.collaborator.box.no-margin
              %h2= @organization.collaborators.count
              %h4= t('organizations.collaborators')
            .col-md-6.customer.box.no-margin.float-end
              %h2= @organization.customers.active.count
              %h4= t('organizations.active_customers')
        .row.no-padding.no-margin
          .col-md-12.evolution
            %h4= t('organizations.customers_evolution')
            
            %canvas#chart_dossiers          
      .col-md-4.right_section.derivationRight
        .repartition
          %h4= t('organizations.distribution_of_subscriptions')
          %canvas#chart_abonnement
          %input#organization_options{ type: :hidden, value: @organization_statistic.try(:options).to_json }
          %input#stat_customers_labels{ type: :hidden, value: @stat_customers_labels.reverse.to_json }
          %input#stat_customers_values{ type: :hidden, value: @stat_customers_values.reverse.to_json }
          %table.table.borderless
            %tbody
              %tr
                %td.glyph= glyphicon('media-record', { color: '#72AA42' })
                %td.left= t('subscription_options.ido_micro')
                %td.right= @organization_statistic.try(:options).try(:[], :micro_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1E637' })
                %td.left= t('subscription_options.ido_nano')
                %td.right= @organization_statistic.try(:options).try(:[], :nano_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1D837' })
                %td.left= t('subscription_options.ido_x')
                %td.right= @organization_statistic.try(:options).try(:[], :idox_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#445E2B' })
                %td.left= t('subscription_options.ido_classic')
                %td.right= @organization_statistic.try(:options).try(:[], :basic_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#555B35' })
                %td.left= t('subscription_options.retriever')
                %td.right= @organization_statistic.try(:options).try(:[], :retriever_package).to_i
              - if CustomUtils.is_manual_paper_set_order?(@organization)
                %tr
                  %td.glyph= glyphicon('media-record', { color: '#1A1A1A' })
                  %td.left= t('subscription_options.digitize')
                  %td.right= @organization_statistic.try(:options).try(:[], :digitize_package).to_i

= javascript_include_tag 'front/organizations/assets/javascripts/show'