= stylesheet_link_tag 'front/organizations/assets/stylesheets/show'

.acceuil_organizations.container-fluid
  .row
    .col-md-12.title
      %h1
        = t('organizations.my_organization') + ' :'
        %span= @organization.name
  .row
    .col-md-12.statistic_board                 
      .col-md-8.left_section
        .row
          .col-md-12.collab_customer
            .col-md-5.collaborator.box
              %h2= @organization.collaborators.count
              %h4= t('organizations.collaborators')
            .col-md-5.float-right.customer.box
              %h2= @organization.customers.count
              %h4= t('organizations.active_customers')
        .row
          .col-md-12.evolution
            %h4= t('organizations.customers_evolution')
            
            %canvas#chart_dossiers          
      .col-md-4.right_section
        .repartition
          %h4= t('organizations.distribution_of_subscriptions')
          %canvas#chart_abonnement
          - organization_statistic = SubscriptionStatistic.where(organization_id: @organization.id).first
          %input#organization_options{ type: :hidden, value: organization_statistic.try(:options).to_json }
          %table.table.borderless
            %tbody
              %tr
                %td.glyph= glyphicon('media-record', { color: '#72AA42' })
                %td.left= t('subscription_options.ido_micro')
                %td.right= organization_statistic.try(:options).try(:[], :micro_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1E637' })
                %td.left= t('subscription_options.ido_nano')
                %td.right= organization_statistic.try(:options).try(:[], :nano_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1D837' })
                %td.left= t('subscription_options.ido_x')
                %td.right= organization_statistic.try(:options).try(:[], :idox_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#445E2B' })
                %td.left= t('subscription_options.ido_classic')
                %td.right= organization_statistic.try(:options).try(:[], :basic_package).to_i
              %tr
                %td.glyph= glyphicon('media-record', { color: '#1A1A1A' })
                %td.left= t('subscription_options.retriever')
                %td.right= organization_statistic.try(:options).try(:[], :retriever_package).to_i

= javascript_include_tag 'front/organizations/assets/javascripts/show'