= stylesheet_link_tag 'front/organizations/assets/stylesheets/software'

.general
  .row
    .col-md-8
      %h3.bold Paramètres : Logiciels comptables et CSV

  
    %ul.nav.nav-tabs.ms-4{ "role" => "tablist" }
      %li.nav-item.no-margin{ "role" => "presentation" }
        %button.semibold.nav-link.active#ibiza-software-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#ibiza-software", type: :button, "role" => "tab", "aria-controls" => "ibiza-software", "aria-selected" => "true" } iBiZa      
      %li.nav-item.no-margin{ "role" => "presentation" }
        %button.semibold.nav-link#other-software-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#other-software", type: :button, "role" => "tab", "aria-controls" => "other-software", "aria-selected" => "false"} Autres logiciels      

    .tab-content
      .tab-pane.box.no-margin.active#ibiza-software{ "role" => "tabpanel", "aria-labelledby" => "ibiza-software-tab" }
        = render file: Rails.root.join('app/templates/front/ibiza/views/ibiza/main/edit.html.haml')

      .tab-pane.box.no-margin#other-software{ "role" => "tabpanel", "aria-labelledby" => "other-software-tab" }
        %p Activer l'option d'export des écritures comptables en cliquant sur le logo et pièces pour :
        .row
          .col-md-4.box-software#quadratus{class: "#{'selected' if (@organization.try(:quadratus).try(:used?))}"}
            %img{ class: 'use-software quadratus', alt: 'logo-quadratus', src: "/assets/logo/quadratus-logo.png"}
          .col-md-4.box-software#cegid{class: "#{'selected' if (@organization.try(:cegid).try(:used?))}"}
            %img{ class: 'use-software cegid', alt: 'logo-cegid', src: "/assets/logo/cegid-logo.png"}
          .col-md-4.box-software#sage{class: "#{'selected' if (@organization.try(:sage).try(:used?))}"}
            %img{ class: 'use-software sage', alt: 'logo-sage', src: "/assets/logo/sage-logo.png"}
        .row
          .col-md-4.box-software#fec-agiris{class: "#{'selected' if (@organization.try(:fec_agiris).try(:used?))}"}
            %img{ class: 'use-software fec-agiris', alt: 'logo-agiris', src: "/assets/logo/agiris-logo.png"}
          .col-md-4.box-software#exact-online{class: "#{'selected' if (@organization.try(:exact_online).try(:used?))}"}
            %img{ class: 'use-software exact-online', alt: 'logo-exact', src: "/assets/logo/exact-logo.png"}
          .col-md-4.box-software.semibold#csv{class: "#{'selected' if (@organization.try(:csv_descriptor).try(:used?))}"}
            %span.use-software.csv .CSV
        .row
          .col-md-4.box-software.semibold#my-unisoft{class: "#{'selected' if (@organization.try(:my_unisoft).try(:used?))}"}
            %span.use-software.my-unisoft My Unisoft

.modal#use-software-quadratus
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration Quadratus
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_fec_agiris', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'quadratus'
        .modal-body
          = f.simple_fields_for :fec_agiris_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, t('activerecord.models.software_quadratus.attributes.is_used'), class: 'semibold'
                %br
                = sf.hint 'Cette option permet de selectionner/utiliser Quadratus dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:quadratus).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, t('activerecord.models.software_quadratus.attributes.auto_deliver'), class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:quadratus).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:quadratus).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'quadratus'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

.modal#use-software-cegid
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration Cegid
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_cegid', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'cegid'
        .modal-body
          = f.simple_fields_for :fec_agiris_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, t('activerecord.models.software_cegid.attributes.is_used'), class: 'semibold'
                %br
                = sf.hint 'Cette option permet de selectionner/utiliser Cegid dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:cegid).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, t('activerecord.models.software_cegid.attributes.auto_deliver'), class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:cegid).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:cegid).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'cegid'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

.modal#use-software-sage
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration Sage
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_sage', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'sage'
        .modal-body
          = f.simple_fields_for :sage_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, t('activerecord.models.software_sage.attributes.is_used'), class: 'semibold'
                %br
                = sf.hint 'Cette option permet de selectionner/utiliser Sage dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:sage).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, t('activerecord.models.software_sage.attributes.auto_deliver'), class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:sage).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:sage).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'sage'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

.modal#use-software-fec-agiris
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration Fec Agiris
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_fec_agiris', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'fec_agiris'
        .modal-body
          = f.simple_fields_for :fec_agiris_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, t('activerecord.models.software_fec_agiris.attributes.is_used'), class: 'semibold'
                %br
                = sf.hint 'Cette option permet de selectionner/utiliser Fec Agiris dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:fec_agiris).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, t('activerecord.models.software_fec_agiris.attributes.auto_deliver'), class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:fec_agiris).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:fec_agiris).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'fec_agiris'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

.modal#use-software-exact-online
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration Exact Online
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_exact_online', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'exact_online'
        .modal-body
          = f.simple_fields_for :exact_online_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, t('activerecord.models.software_exact_online.attributes.is_used'), class: 'semibold'
                %br
                = sf.hint "Cette option permet de selectionner/utiliser Exact Online dans le paramétrage dossier client \n La liaison doit être paramètrée au niveau de chaque dossier (Configuration compte exact online)."
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:exact_online).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, t('activerecord.models.software_exact_online.attributes.auto_deliver'), class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:exact_online).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:exact_online).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'exact_online'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

.modal#use-software-csv
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration d'export .csv
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_csv_descriptor', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'csv_descriptor'
        .modal-body
          = f.simple_fields_for :csv_descriptor_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, t('activerecord.models.software_csv_descriptor.attributes.is_used'), class: 'semibold'
                %br
                = sf.hint "Cette option permet de selectionner/utiliser un format d'export personnalisé dans le paramétrage dossier client"
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:csv_descriptor).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, t('activerecord.models.software_csv_descriptor.attributes.auto_deliver'), class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:csv_descriptor).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:csv_descriptor).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'csv_descriptor'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

.modal#use-software-my-unisoft
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration My Unisoft
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} 
      = simple_form_for [@organization], html: { id: 'form_csv_descriptor', class: 'form form-horizontal margin0' } do |f|
        = hidden_field_tag :part, 'my_unisoft'
        .modal-body
          = f.simple_fields_for :my_unisoft_attributes do |sf|
            .form-group.row
              .col-md-11
                = sf.label :is_used, 'Utilise My Unisoft ?', class: 'semibold'
                %br
                = sf.hint "Cette option permet de selectionner/utiliser My Unisoft dans le paramétrage dossier client \n La liaison doit être paramètrée au niveau de chaque dossier (Configuration compte my unisoft)."
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :is_used, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:my_unisoft).try(:used?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
            .form-group.row
              .col-md-11
                = sf.label :auto_deliver, 'Souhaitez-vous livrer automatiquement les écritures ?', class: 'semibold'
                %br
                = sf.hint 'Cette option peut être écrasée dans le paramétrage dossier client'
              .col-md-1.form-check.form-switch.custom-form-switch
                = sf.input :auto_deliver, as: :boolean, label: 'Oui?', label_html: { class: 'form-check-label' }, input_html: { checked: @organization.try(:my_unisoft).try(:auto_deliver?), id: 'flexSwitchCheckDefault', class: 'form-check-input'}
        - if @user.leader?
          .modal-footer
            .w-100.text-end
              %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
              -if @organization.try(:my_unisoft).try(:used?)
                = link_to 'Modifier les dossiers assignés', edit_software_users_organization_path(@organization, software: 'my_unisoft'), class: 'btn'
              = f.submit t('actions.submit'), class: 'btn btn-primary valid-software'

= javascript_include_tag 'front/organizations/assets/javascripts/software'