= stylesheet_link_tag 'organizations/assets/stylesheets/welcome'

.acceuil_organizations.container-fluid
  .row
    .col-md-12.title
      %h1
        Mon organisation :
        %span iDocus
  .row
    .col-md-12.statistic_board                 
      .col-md-8.left_section
        .row
          .col-md-12.collab_customer
            .col-md-5.collaborator.box
              %h2 250
              %h4 Collaborateurs
            .col-md-5.float-right.customer.box
              %h2 350
              %h4 Dossiers actifs
        .row
          .col-md-12.evolution
            %h4 Evolution du nombre de dossiers    
            %canvas#chart_dossiers          
      .col-md-4.right_section
        .repartition
          %h4 Répartition des abonnements
          %canvas#chart_abonnement
          %table.table.borderless
            %tbody
              %tr
                %td.glyph= glyphicon('media-record', { color: '#72AA42' })
                %td.left iDo'Micro
                %td.right 200
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1E637' })
                %td.left iDo'Nano
                %td.right 150
              %tr
                %td.glyph= glyphicon('media-record', { color: '#C1D837' })
                %td.left iDo'X
                %td.right 50
              %tr
                %td.glyph= glyphicon('media-record', { color: '#445E2B' })
                %td.left iDo'Classique
                %td.right 50
              %tr
                %td.glyph= glyphicon('media-record', { color: '#1A1A1A' })
                %td.left Automate       
                %td.right 50

= javascript_include_tag 'organizations/assets/javascripts/welcome'