#accounting_plan
  = simple_nested_form_for @accounting_plan, url: '', html: { class: 'form form-horizontal', id: 'form_accounting_plan',novalidate: true }, wrapper: false do |f|  
    .provider-form
      .form-group.text-start    
        = f.fields_for :providers do |provider|
          %hr      
          .box.no-margin
            .form-group.row
              .col-md-11
                .w-100.text-start
                = provider.label :third_party_account, label: t('activerecord.models.accounting_plan_item.attributes.third_party_account'), class: 'semibold'
                .select-container.no-padding.w-100
                  = provider.input :third_party_account, label: false
                = provider.label :third_party_name, label: t('activerecord.models.accounting_plan_item.attributes.third_party_name'), class: 'semibold'
                .select-container.no-padding.w-100
                  = provider.input :third_party_name, label: false
                = provider.label :conterpart_account, label: t('activerecord.models.accounting_plan_item.attributes.conterpart_account'), class: 'semibold'
                .select-container.no-padding.w-100
                  = provider.input :conterpart_account, label: false
                = provider.label :code, label: t('activerecord.models.accounting_plan_item.attributes.code'), class: 'semibold'
                .select-container.no-padding.w-100
                  = provider.input :code, label: false
                = provider.label :vat_autoliquidation_debit_account, label: t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation_debit_account'), class: 'semibold'
                .select-container.no-padding.w-100
                  = provider.input :vat_autoliquidation_debit_account, label: false
                = provider.label :vat_autoliquidation_credit_account, label: t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation_credit_account'), class: 'semibold'
                .select-container.no-padding.w-100
                  = provider.input :vat_autoliquidation_credit_account, label: false
                .form-group
                  .row
                    .col-md-10.form-group.no-margin
                      = provider.label :vat_autoliquidation, label: t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation'), class: 'control-label semibold form-check-label'
                    .col-md-2
                      .form-check.form-switch.idocus-custom-form-check
                        = provider.input :vat_autoliquidation, as: :boolean, label: false, input_html: { class: 'form-check-input input_switch input_check_field check-vat-autoliquidation', id: 'check-vat-autoliquidation' }
                        %label.semibold{class: 'form-check-label label_check_field', for: 'check-vat-autoliquidation'} Non
              .col-md-1
                .w-10.text-start
                  = provider.link_to_remove glyphicon('x', { size: '15', color: "#FF4848" })
      .form-group.text-start.btn-add-provider-form
        = f.link_to_add 'Ajouter un fournisseur', :providers, class: 'btn btn-light mt-3 mb-3'

    .customer-form      
      .form-group.text-start
        = f.fields_for :customers do |customer|
          %hr
          .box.no-margin
            .form-group.row
              .col-md-11
                .w-100.text-start
                  = customer.label :third_party_name, label: t('activerecord.models.accounting_plan_item.attributes.third_party_name'), class: 'semibold'
                  .select-container.no-padding.w-100
                    = customer.input :third_party_name, label: false
                  = customer.label :third_party_account, label: t('activerecord.models.accounting_plan_item.attributes.third_party_account'), class: 'semibold'
                  .select-container.no-padding.w-100
                    = customer.input :third_party_account, label: false
                  = customer.label :conterpart_account, label: t('activerecord.models.accounting_plan_item.attributes.conterpart_account'), class: 'semibold'
                  .select-container.no-padding.w-100
                    = customer.input :conterpart_account, label: false               
                  = customer.label :code, label: t('activerecord.models.accounting_plan_item.attributes.code'), class: 'semibold'
                  .select-container.no-padding.w-100
                    = customer.input :code, label: false
                  
              .col-md-1
                .w-10.text-start
                  = customer.link_to_remove glyphicon('x', { size: '15', color: "#FF4848" })
      .form-group.text-start.btn-add-customer-form
        = f.link_to_add 'Ajouter un client', :customers, class: 'btn btn-light mt-3 mb-3'

    .modal-footer
      - idocus_params = param_encode({ url: organization_customer_accounting_plan_path(@organization, @customer), method: 'post', form:{ id: 'form_accounting_plan' }, modal: { id: 'edit-provider-customer' } , redirect_to: { url: organization_customer_accounting_plan_path(@organization, @customer), method: 'get', html: { target: '#accounting_plan', target_dest: '.tab-pane#accounting-plan' } } })
      %button.btn.btn-primary.w-25.as_idocus_ajax{ type: :button, idocus: idocus_params } Valider