= stylesheet_link_tag 'front/accounting_plans/assets/stylesheets/main'

- options = { size: '15', color: 'rgba(26, 26, 26, 0.7);'}
#accounting_plan
  .box.no-margin.derivationRight
    .row.form-group
      - if @customer.configured?
        .col-md-6
          %h3
            Plan comptable du client :
            = link_to @customer, organization_customer_path(@organization, @customer, tab: 'accounting_plan'), class: 'fs-origin'
        .col-md-6{style: "padding-top: 3px;padding-left: 50px;border-radius: 3px;background-color: #f8f9fa;"}
          .w-100.text-end
            = form_tag import_fec_organization_customer_accounting_plan_path(@organization, @customer), method: 'patch', multipart: true, class: 'form-horizontal clearfix label-auto' do
              .row
                .col-md-6
                  .form-group.clearfix.text-start
                    .control-section
                      = file_field_tag :fec_file, class: 'filestyle form-control', data: { classButton: 'btn btn-secondary', input: true, buttonText: glyphicon('file') + '' }, accept: "text/plain"

                    %i.help-block Encodage du fichier accepté :
                    %b UTF-8
                .col-md-6
                  .form-actions.text-end
                    .for_submit.col-md-10pr-4.pl-2
                      .submit
                        = submit_tag 'Importer FEC', class: 'btn btn-primary'
                    .for_description.col-md-2.pr-2.pl-2
                      %span.badge.badge-info.fs-origin .txt
      - else
        .w-100.text-start
          %h3
            Plan comptable pour le dossier :
            %span.text-info.fs-origin= @customer
        .w-100.text-end
          = link_to t('actions.previous_step'), previous_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
          = link_to t('actions.complete_later'), complete_later_organization_customer_setup_path(@organization, @customer), class: 'btn btn-secondary'
          = link_to t('actions.next_step'), next_organization_customer_setup_path(@organization, @customer), class: 'btn btn-primary'

  .box.no-margin.derivationLeft
    - if @customer.try(:ibiza).try(:ibiza_id?) && @customer.uses?(:ibiza)
      - to_show        = true
      - software       = "iBiza"
      - software_value = @customer.ibiza.try(:auto_update_accounting_plan?)
      - software_id    = @customer.ibiza.ibiza_id
    - elsif @customer.uses?(:my_unisoft)
      - to_show        = true
      - software       = "My Unisoft"
      - software_value = @customer.my_unisoft.try(:auto_update_accounting_plan?)
      - software_id    = @customer.my_unisoft.society_id

    - if true
      = form_tag "#", class: 'form-horizontal clearfix label-auto', id: 'auto_update_accounting_plan' do
        = hidden_field_tag 'user[software_id]', software_id
        .row.form-group
          .col-md-10.form-group.no-margin
            %label.semibold Activer la mise à jour automatique du plan comptable avec celui d’iBiZa ?
            %br
            %i.help-block Attention: si cette option est activée, les modifications manuelles du plan comptable seront écrasées automatiquement par la mise à jour auto.
          .col-md-2.form-check.form-switch
            %label.form-check-label Oui
            = check_box_tag 'user[software]', true, software_value, info: "#{@organization.id}-#{@customer.id}-#{software}", class: 'form-check-input input-toggle'
  .mb-4

  .box.no-margin
    .row
      .col-md-8
        %h3.bold Fournisseurs
      .col-md-4.text-end.no-padding
        %button.btn.btn-light.semibold
          %span.me-2= glyphicon('cloud-download', { size: '16', color: '#72AA42'})
          %span Importer un CSV                
        %button.btn.btn-primary.semibold
          %span.me-2= glyphicon('plus', { size: '15', color: '#FFFF'})
          %span Ajouter un fournisseur
    .mb-3
    .row
      .col-md-12
        %table.table.table-striped.table_integration
          %thead
            %th= t('activerecord.models.accounting_plan_item.attributes.third_party_name')
            %th= t('activerecord.models.accounting_plan_item.attributes.third_party_account')
            %th= t('activerecord.models.accounting_plan_item.attributes.conterpart_account')
            %th= t('activerecord.models.accounting_plan_item.attributes.code')
            %th= t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation')
            %th= t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation_debit_account')
            %th= t('activerecord.models.accounting_plan_item.attributes.vat_autoliquidation_credit_account')
            %th.text-end Action
          %tbody
            - @accounting_plan.providers.each do |provider|
              %tr
                %td.semibold= provider.third_party_name
                %td= provider.third_party_account
                %td= provider.conterpart_account
                %td= provider.code
                %td= provider.vat_autoliquidation ? icon_ok(options) : icon_not_ok(options)
                %td= provider.vat_autoliquidation_debit_account
                %td= provider.vat_autoliquidation_credit_account
                %td.text-end.pointer
                  .action.sub_edit_delete.list-collaborators
                    %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
                  .sub_menu.text-start.hide
                    %ul.no-margin.no-padding.regular
                      %li.edit
                        %span= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                        &nbsp;Editer
                      %li.delete.red-label
                        %span= glyphicon('trash', { size: '15', color: "#FF4848" })
                        &nbsp;Supprimer



  .mb-4

  .box.no-margin
    .row
      .col-md-8
        %h3.bold Clients
      .col-md-4.text-end.no-padding
        %button.btn.btn-light.semibold
          %span.me-2= glyphicon('cloud-download', { size: '16', color: '#72AA42'})
          %span Importer un CSV
        %button.btn.btn-primary.semibold
          %span.me-2= glyphicon('plus', { size: '15', color: '#FFFF'})
          %span Ajouter un client
    .mb-3
    .row
      .col-md-12
        %table.table.table-striped.table_integration
          %thead
            %th= t('activerecord.models.accounting_plan_item.attributes.third_party_name')
            %th= t('activerecord.models.accounting_plan_item.attributes.third_party_account')
            %th= t('activerecord.models.accounting_plan_item.attributes.conterpart_account')
            %th= t('activerecord.models.accounting_plan_item.attributes.code')
            %th.text-end Action
          %tbody
            - @accounting_plan.customers.each do |customer|
              %tr
                %td.semibold= customer.third_party_name
                %td= customer.third_party_account
                %td= customer.conterpart_account
                %td= customer.code
                %td.text-end.pointer
                  .action.sub_edit_delete.list-collaborators
                    %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
                  .sub_menu.text-start.hide
                    %ul.no-margin.no-padding.regular
                      %li.edit
                        %span= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                        &nbsp;Editer
                      %li.delete.red-label
                        %span= glyphicon('trash', { size: '15', color: "#FF4848" })
                        &nbsp;Supprimer

  .mb-4

  .box.no-margin#vat_accounts

  .mb-4

  .box.no-margin
    .form-group.no-margin
      .w-100.text-end
        %button.btn.btn-light.semibold Annuler
        %button.btn.btn-primary.bold Valider les modifications

  = javascript_include_tag 'front/accounting_plans/assets/javascripts/main'