#customer.edit.ibiza.derivationRight
  = simple_form_for @customer, url: organization_customer_ibiza_path(@organization, @customer), html: { class: 'form-horizontal label-medium', id: 'edit_ibiza_form' } do |f|
    = f.simple_fields_for :ibiza do |sf|
      = sf.hidden_field :id
      = sf.input :ibiza_id, label: 'Sélectionner le dossier correspondant dans iBiza', collection: [], input_html: { data: { original_value: @customer.try(:ibiza).try(:ibiza_id), users_list_url: organization_ibiza_users_path(@organization, format: 'json'), placeholder: 'Choisir un dossier' }, class: 'form-control' }

      .form-group
        - auto_deliver = @customer.try(:ibiza).try(:auto_deliver) || -1
        .row
          .col-md-6
            = label_tag 'user[ibiza_attributes][auto_deliver]', t('activerecord.models.software_ibiza.attributes.auto_deliver'), class: 'semibold'
          .col-md-3
            .form-check.form-check-inline               
              = radio_button_tag 'user[ibiza_attributes][auto_deliver]', auto_deliver_options[0][1], auto_deliver == -1, class: 'form-check-input'
              %label.form-check-label Paramètres du cabinet
          .col-md-2
            .form-check.form-check-inline
              = radio_button_tag 'user[ibiza_attributes][auto_deliver]', auto_deliver_options[1][1], auto_deliver == 0, class: 'form-check-input compta-user-options'
              %label.form-check-label Non
          .col-md-1
            .form-check.form-check-inline
              = radio_button_tag 'user[ibiza_attributes][auto_deliver]', auto_deliver_options[2][1], auto_deliver == 1, class: 'form-check-input compta-user-options'
              %label.form-check-label Oui
      .form-group
        - is_analysis_activated = @customer.try(:ibiza).try(:is_analysis_activated) || -1
        .row
          .col-md-6
            = label_tag 'user[ibiza_attributes][is_analysis_activated]', t('activerecord.models.software_ibiza.attributes.is_analysis_activated'), class: 'semibold'
          .col-md-3
            .form-check.form-check-inline               
              = radio_button_tag 'user[ibiza_attributes][is_analysis_activated]', activate_compta_analytic_options[0][1], is_analysis_activated == -1, class: 'form-check-input'
              %label.form-check-label Paramètres du cabinet
          .col-md-2
            .form-check.form-check-inline
              = radio_button_tag 'user[ibiza_attributes][is_analysis_activated]', activate_compta_analytic_options[1][1], is_analysis_activated == 0, class: 'form-check-input compta-user-options'
              %label.form-check-label Non
          .col-md-1
            .form-check.form-check-inline
              = radio_button_tag 'user[ibiza_attributes][is_analysis_activated]', activate_compta_analytic_options[2][1], is_analysis_activated == 1, class: 'form-check-input compta-user-options'
              %label.form-check-label Oui
      .form-group
        - is_analysis_to_validate = @customer.try(:ibiza).try(:is_analysis_to_validate) || -1
        .row
          .col-md-6
            = label_tag 'user[ibiza_attributes][is_analysis_to_validate]', t('activerecord.models.software_ibiza.attributes.is_analysis_to_validate'), class: 'semibold'
            %br
              %i.help-block Cette option suspend l'envoi en pré-affectation des pièces, en passant par une validation manuelle des analyses comptables, Les pièces téléversées via le site ou mobile ne sont pas concernées
          .col-md-3
            .form-check.form-check-inline               
              = radio_button_tag 'user[ibiza_attributes][is_analysis_to_validate]', activate_compta_analytic_options[0][1], is_analysis_to_validate == -1, class: 'form-check-input'
              %label.form-check-label Paramètres du cabinet
          .col-md-2
            .form-check.form-check-inline
              = radio_button_tag 'user[ibiza_attributes][is_analysis_to_validate]', activate_compta_analytic_options[1][1], is_analysis_to_validate == 0, class: 'form-check-input compta-user-options'
              %label.form-check-label Non
          .col-md-1
            .form-check.form-check-inline
              = radio_button_tag 'user[ibiza_attributes][is_analysis_to_validate]', activate_compta_analytic_options[2][1], is_analysis_to_validate == 1, class: 'form-check-input compta-user-options'
              %label.form-check-label Oui
  .idocus_modal_buttons
    - if @customer.configured?
      - idocus_params = param_encode({ url: organization_customer_ibiza_path(@organization, @customer), method: 'post', form:{ id: 'edit_ibiza_form', dump_action: true }, modal: { id: '#' }, redirect_to: { url: organization_customer_path(@organization, @customer, tab: 'ibiza'), html: { target: '.ibiza_configuration_customer' } } })
      %button.btn.btn-primary.update_ibiza_organization_users.as_idocus_ajax{ type: :button, idocus: idocus_params, disabled: true } Valider
