= stylesheet_link_tag 'front/invoices/assets/stylesheets/main'

.invoice
  .row
    .col-md-10
      %h3.bold
        Intégration automatique des factures
        %span.badge.badge-secondary.badge-sm.regular 1
    .col-md-2.text-center
      %button.btn.btn-primary.parameter.semibold
        %span.me-2
          = glyphicon('cog', { color: "#FFF", size: '15'})       
        %span Paramètres

  
  .box.mt-4
    %table.table.table-striped.table_integration
      %thead
        %th Code de dossiers
        %th Journal
        %th.text-end Action
      %tbody
        %tr
          %td.semibold IDOC%002
          %td AC
          %td.text-end.pointer
            .action.sub-menu-invoice
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
              .sub_menu.integration.text-start.hide
                %ul.no-margin.no-padding.regular
                  %li.synchronize
                    %span.me-1= glyphicon('loop', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    %span Synchroniser les factures
                  %li.edit
                    %span.me-1= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    %span Editer
                  %li.delete.red-label
                    %span.me-1= glyphicon('trash', { size: '15', color: "#FF4848" })
                    %span Supprimer
        %tr
          %td.semibold IDOC%003
          %td VT
          %td.text-end.pointer
            .action.sub-menu-invoice
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
              .sub_menu.integration.text-start.hide
                %ul.no-margin.no-padding.regular
                  %li.synchronize
                    %span.me-1= glyphicon('loop', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    %span Synchroniser les factures
                  %li.edit
                    %span.me-1= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    %span Editer
                  %li.delete.red-label
                    %span.me-1= glyphicon('trash', { size: '15', color: "#FF4848" })
                    %span Supprimer

    .form-group
      .row.pagination
        .col-md-6
          .row
            .col-md-3.text-end.pt-1
              %label Afficher par
            .col-md-2
              %select.form-select.form-select-sm{ "aria-label" => ".form-select-sm" }
                %option 20
                %option 50
                %option 100         

        .col-md-6.text-end
          .row
            .col-md-10
              %label 2-10 de 10 éléments
            .col-md-1
              %span= glyphicon('chevron-left', { size: '15', color: "#1A1A1A" })
            .col-md-1
              %span= glyphicon('chevron-right', { size: '15', color: "#1A1A1A" })

  .mb-5

  .row
    .col-md-8
      %h3.bold 
        Factures
        %span.badge.badge-secondary.badge-sm.regular 2

  .box.mt-4
    %table.table.table-striped.table_facture
      %thead
        %th Numero de facture
        %th Montant
        %th.text-end Action
      %tbody
        %tr
          %td.semibold F000020
          %td 30 €
          %td.text-end.pointer
            .action.sub-menu-invoice
              %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
              .sub_menu.invoice.text-start.hide
                %ul.no-margin.no-padding.regular
                  %li.see
                    %span.me-1= glyphicon('eye', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    %span Voir
                  %li.download
                    %span.me-1= glyphicon('cloud-download', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    %span Télécharger
    
    .form-group
      .row.pagination
        .col-md-6
          .row
            .col-md-3.text-end.pt-1
              %label Afficher par
            .col-md-2
              %select.form-select.form-select-sm{ "aria-label" => ".form-select-sm" }
                %option 20
                %option 50
                %option 100         

        .col-md-6.text-end
          .row
            .col-md-10
              %label 2-10 de 10 éléments
            .col-md-1
              %span= glyphicon('chevron-left', { size: '15', color: "#1A1A1A" })
            .col-md-1
              %span= glyphicon('chevron-right', { size: '15', color: "#1A1A1A" })         

.modal#integration
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Intégration automatique des factures
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        .form-group
          %label Code client
          %select.form-control#select-customer{ name: 'select-customer', multiple: false }              
            %option Dossier 1
            %option Dossier 2
            %option Dossier 3

        .form-group
          %label Type de document
          %select.form-control#select-document{ name: 'select-document', multiple: false }              
            %option VT
            %option AC
            %option NDF
      .modal-footer
        %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
        %button.btn.btn-primary{ type: :button } Valider

.modal#edit-integration
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Éditer l’intégration automatique des factures
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        .form-group
          %label Code client
          %select.form-control#select-edit-customer{ name: 'select-edit-customer', multiple: false }              
            %option{ selected: true } Dossier 1
            %option Dossier 2
            %option Dossier 3

        .form-group
          %label Type de document
          %select.form-control#select-edit-document{ name: 'select-edit-document', multiple: false }              
            %option VT
            %option{ selected: true } AC
            %option NDF
      .modal-footer
        %button.btn.btn-light.cancel{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
        %button.btn.btn-primary.edit{ type: :button } Editer

= javascript_include_tag 'front/invoices/assets/javascripts/main'