= stylesheet_link_tag 'front/invoices/assets/stylesheets/main'

.facture
  .row
    .col-md-10
      %h3.bold
        = t('invoices.auto_invoice_integration')
        %span.badge.badge-secondary.badge-sm 1
    .col-md-2.text-center
      %button.btn.btn-primary.parameter
        %span
          = glyphicon('cog', { color: "#FFF", size: '16'})
        &nbsp;
        = t('views.standards.setting').capitalize.pluralize

  .box.mt-4
    %table.table.table-striped.table_integration
      %thead
        %th= t('invoices.users_code')
        %th= t('views.standards.journal').capitalize
        %th.text-right= t('actions.name')
      %tbody
        %tr
          %td IDOC%002
          %td AC
          %td.text-right.pointer
            .action.sub_integration
              %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
        %tr
          %td IDOC%003
          %td VT
          %td.text-right.pointer
            .action.sub_integration
              %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})

    .row.form-group
      .col-md-4
        %label= t('views.standards.displayed_by').capitalize
      .col-md-4
        %select.form-control
          %option 20
          %option 50
          %option 100
  .row
    .col-md-8
      %h3.bold
        = t('views.standards.invoice').capitalize.pluralize
        %span.badge.badge-secondary.badge-sm= @invoices.size

  .box.mt-4
    %table.table.table-striped.table_facture
      %thead
        %th= t('invoices.invoice_number')
        %th= t('views.standards.amount').capitalize
        %th.text-right= t('actions.name')
      %tbody
        - if !@user.leader?
          %tr
            %td{ colspan: 3 }
              .badge.badge-warning.fs-origin Vous n'avez pas le droit necessaire pour acceder à cette page
        - elsif @organization.try(:is_suspended)
          %tr
            %td{ colspan:3 }
              .badge.badge-warning.fs-origin Cette organization a été suspendue
        - else
          - @invoices.each do |invoice|
            %tr
              %td= invoice.number
              %td.price
                - if invoice.amount_in_cents_w_vat
                  = "#{format_price_00(invoice.amount_in_cents_w_vat)} €"
              %td.text-right.pointer
                .action.sub_facture
                  %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})

    .row.form-group
      .col-md-4
        %label= t('views.standards.displayed_by').capitalize
      .col-md-4
        %select.form-control
          %option 20
          %option 50
          %option 100

  .modal#integration
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold= t('invoices.auto_invoice_integration')
          %button.close{ type: :button, "aria-label" => "Close", data: { dismiss: "modal"} }
            %span{ "aria-hidden" => "true" }
              = glyphicon('x', { size: '15', color: 'rgba(26, 26, 26, 0.32)'})
        .modal-body
          .form-group
            %label= t('invoices.client_code')
            %select.form-control#select-customer{ name: 'select-customer', multiple: true }
              %option Dossier 1
              %option Dossier 2
              %option Dossier 3

          .form-group
            %label= t('invoices.number')
            %select.form-control#select-document{ name: 'select-document', multiple: true }
              %option Type 1
              %option Type 2
              %option Type 3
        .modal-footer
          %button.btn.btn-light.cancel{ type: :button }= t('actions.cancel')
          %button.btn.btn-primary.add{ type: :button }= t('actions.add')
          %button.btn.btn-primary.edit{ type: :button }= t('actions.edit')

  .sub_integration_append.hide
    .sub_menu.text-left
      %ul.no-margin.no-padding.regular
        %li
          %span.synchronize= glyphicon('loop', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('invoices.invoice_synchonize')
        %li
          %span.edit= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('actions.edit')
        %li.red-label
          %span= glyphicon('trash', { size: '15', color: "#FF4848" })
          &nbsp;
          = t('actions.destroy')

  .sub_facture_append.hide
    .sub_menu.text-left
      %ul.no-margin.no-padding.regular
        %li
          %span.see= glyphicon('eye', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('actions.show')
        %li
          %span.download= glyphicon('cloud-download', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
          &nbsp;
          = t('actions.download')

= javascript_include_tag 'front/invoices/assets/javascripts/main'
