.derivationLeft
  %input#failed-delivery-size{ type: 'hidden', value: @errors.size }

  .row
    .col-md-12
      %table.table.table-striped.table_integration
        %thead
          %th Date
          %th Lot
          %th Nb.
          %th Erreur             
        %tbody
          - if @errors.any?
            - @errors.each do |object|
              %tr
                %td
                  - if object.date
                    - if object.date.today?
                      = l(object.date, format: '%H:%M')
                    - else
                      = l(object.date, format: '%d %b %Y %H:%M')
                  - else
                    \-
                %td
                  - if object.try(:pack_id).to_i == 0
                    - url = operations_details_path({ id: object.id.presence || 0, _ext: 1, k: Base64.  encode64({ by_preseizure: { state: "error", reinit: true } }.to_json) })
                  - else
                    - url = documents_details_path({ id: object.pack_id.presence || 0, _ext: 1, k: Base64.encode64({ by_preseizure: { state: "error", reinit: true } }.to_json) })

                  = link_to object.name.presence || "", url, class: 'no-style bold black-label underlined-pointer', target: '_blank'
                %td= object.document_count
                %td= object.message == false ? '-' : sanitize(object.message, :tags => %w(br))
          - else
            %tr
              %td{ colspan: 4 }= t('global.no-data-found')