#account_sharings.derivationRight
  .row.retractable.with-filter
    .col-md-12
      %h3
        Dossiers partagés 
        %span.badge.badge-info= @account_sharings.size
      .box.border-top-0.bg-light
        %table.table.table-condensed.table-striped.margin1top.margin1bottom.table-detachable-head.table-bordered-inner
          %thead
            %tr
              %th Date
              %th Dossier
              %th Client ou contact
              %th Etat
              %th Actions
          %tbody
            - @account_sharings.each do |account_sharing|
              %tr
                %td.date= account_sharing.created_at.strftime('%d/%m/%Y %H:%M')
                %td= link_to account_sharing.account.info, '#'
                %td
                  - if account_sharing.collaborator.is_guest
                    = account_sharing.collaborator.info
                  - else
                    = link_to account_sharing.collaborator.info, '#'
                %td= account_sharing.is_approved? ? 'Partagé' : 'En attente de validation'
                %td
                  - unless account_sharing.is_approved?
                    = link_to glyphicon('share'), account_sharings_organization_accept_path(@organization, account_sharing), method: :post, data: { confirm: "Êtes-vous sûr de vouloir partager le dossier \"#{account_sharing.account.info}\" au contact \"#{account_sharing.collaborator.info}\" ?" }, title: 'Accepter la demande de partage', class: 'btn btn-light', style: 'width: 40px'
                  = link_to glyphicon('x'), account_sharings_organization_destroy_account_path(@organization, account_sharing), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir annuler le partage du dossier \"#{account_sharing.account.info}\" au contact \"#{account_sharing.collaborator.info}\" ?" }, title: (account_sharing.is_approved? ? 'Supprimer' : 'Refuser la demande de partage'), class: 'btn btn-light', style: 'width: 40px'
        .alignright.margin1bottom
          = link_to 'Partager un dossier', '#', class: 'btn btn-primary share_account_btn'

        = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { name: 'sharing_accounts', total_pages: @account_sharings.total_pages }