.form-group
  .row.pagination
    .col-md-6
      .row
        .col-md-2.text-end.pt-1
          %label Afficher par
        .col-md-2
          = select_tag "per-page-#{target}", options_for_select([[20, 20], [50, 50], [100, 100]], params[:per_page].presence || 20), class: "per-page #{target} form-select form-select-sm", data: { type: target }, "aria-label" => ".form-select-sm"

    .col-md-6.text-end
      .row
        .col-md-10
          %label= "#{(params[:page].presence || 1).to_s} - #{total_pages} de #{(params[:per_page].presence || 20).to_s} éléments"
        .col-md-1
          - if(params[:page].to_i > 1)
            %span.pointer.previous_page{data: { type: target }}= glyphicon('chevron-left', { size: '15', color: "#1A1A1A" })
        .col-md-1
          - if(params[:page].to_i < total_pages)
            %span.pointer.next_page{data: { type: target }}= glyphicon('chevron-right', { size: '15', color: "#1A1A1A" })