.modal#change-password
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Changer mon mot de passe
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body.back-grey
        .col-md-12
          = form_for true_user, url: profiles_path do |f|
            %input{ type: 'hidden', name: 'user[h_change_password]', value: 'true' }
            .form-group.clearfix
              .label-section
                = f.label 'Mot de passe actuel :'
              .control-section
                = f.password_field :current_password, label: 'Mot de passe actuel', class: 'form-control'
            .form-group.clearfix
              .label-section
                = f.label 'Nouveau mot de passe :'
              .control-section
                = f.password_field :password, label: 'Nouveau mot de passe', class: 'form-control'
            .form-group.clearfix
              .label-section
                = f.label 'Confirmation du mot de passe :'
              .control-section
                = f.password_field :password_confirmation, label: 'Confirmation du nouveau mot de passe', class: 'form-control'
      .modal-footer
        %button.validate.btn.btn-primary.semibold Valider

.modal#external-file-storage
  .modal-dialog{ style: 'max-width: 1280px' }
    .modal-content
      .modal-header
        %h5.modal-title.bold Stockage externe des documents
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body.back-grey
        = render file: Rails.root.join('app/templates/front/external_file_storages/views/external_file_storages/main/_efs_management.html.haml'), locals: { external_file_storage: @external_file_storage }
