.row
  .col-12
    .box.small-shadow.clearfix
      = render file: Rails.root.join('app/templates/back/retrievers/views/admin/retrievers/_navigation.html.haml')

.row
  .col-md-12
    .box.clearfix
      .float-left
        %h3 Archives Budgea:&nbsp;
      %ul.nav.nav-tabs
        %li.nav-item
          = link_to 'Utilisateurs', archives_budgea_users_admin_retrievers_path(tab: 'budgea_users'), class: "nav-link #{('active' if params[:tab] == 'budgea_users' || params[:tab].blank? )}"
        %li.nav-item
          = link_to 'Automates', archives_budgea_retrievers_admin_retrievers_path(tab: 'budgea_retrievers'), class: "nav-link #{('active' if params[:tab] == 'budgea_retrievers' )}"
