#address.edit.derivationRight
  = stylesheet_link_tag 'front/customers/assets/stylesheets/main'
  = stylesheet_link_tag 'front/customers/assets/stylesheets/addresses'
  = render partial: 'form'
  = javascript_include_tag 'front/customers/assets/javascripts/addresses'
  = javascript_include_tag 'front/customers/assets/javascripts/main'
