= stylesheet_link_tag 'front/customers/assets/stylesheets/main'
= stylesheet_link_tag 'front/customers/assets/stylesheets/addresses'

#address.new.derivationRight
  %h3.text-center
    Nouvelle adresse pour le client : 
    = link_to @customer, organization_customer_path(@organization, @customer, tab: 'addresses'), class: 'fs-origin'
  = render partial: 'form'


= javascript_include_tag 'front/customers/assets/javascripts/main'
= javascript_include_tag 'front/customers/assets/javascripts/addresses'
