.mb-3
.row
  .col-md-12#table_preseizures
    %table.table.table-condensed.table-striped
      %thead
        %tr.text-center
          %th.text-center
            .form-check
              = check_box_tag 'master_checkbox', 0, false, class: 'form-check-input pointer float-none check-all', data: { action: 'preseizure'}
          %th ID
          %th Nom pièce
          %th Date
          %th Type          
          %th Piece number          
          %th Label          
          %th Etat          
          %th Erreur message          
          %th.text-end Action
      %tbody
        - @preseizures.each do |preseizure|
          %tr.text-center
            %th.text-center
              .form-check
                = check_box_tag 'preseizures[ids][]', preseizure.id, false, id: "rule_#{preseizure.id}", class: 'form-check-input pointer float-none check check-preseizure checkbox', data: { action: 'preseizure'}
            %td= preseizure.id
            %td= preseizure&.piece&.name.presence || ' '
            %td= preseizure.date
            %td= preseizure.piece.present? ? 'Piece' : 'Opération'
            %td= preseizure.piece_number
            %td= preseizure.operation_label
            %td= preseizure.operation_label
            %td.text-end.pointer
              .action.sub_edit_delete.list-collaborators
                %span.glyph= glyphicon('ellipses', { size: '12', style: 'transform: rotate(90deg)'})
              .sub_menu.text-start.hide
                %ul.no-margin.no-padding.regular
                  %li.resend_to_preassignment{ data: { preseizure_id: preseizure.id, title: "Re-envoyer" } }
                    = link_to '#' do
                      %span.me-2= glyphicon('media-record', size: 12)
                      %span Relivrer
    = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: get_preseizures_admin_supports_path, target: '#table_preseizures', total_pages: @preseizures.total_pages, filter: 'piece-filter' }