= stylesheet_link_tag 'back/dashboard/assets/stylesheets/main'

#dashboard
  .row.derivationLeft.box.small-shadow.clearfix.header
    .col-md-12      
      %h3 Flux de traitement        

  .row.box.derivationRight
    .col-md-6     
      .row.mb-2.ocr_needed_temp_packs.flux{ data: { ref: 'ocr_needed_temp_packs' }}
        .col-md-1.text-center
          .badge-content.back-grey.for-badge= glyphicon('magnifying-glass', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-grey
          %label.semibold.no-margin.no-padding OCR
        .col-md-1.text-end.bottom-grey          
          %label.count.ocr_needed_temp_packs
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#ocr_needed_temp_packs      

      .row.mb-2.bundle_needed_temp_packs.flux{ data: { ref: 'bundle_needed_temp_packs' }}
        .col-md-1
          .badge-content.back-magenta.for-badge= glyphicon('justify-center', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-magenta
          %label.semibold.no-margin.no-padding Regroupement en cours
        .col-md-1.text-end.bottom-magenta
          %label.count.bundle_needed_temp_packs
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#bundle_needed_temp_packs

      .row.mb-2.processing_temp_packs.flux{ data: { ref: 'processing_temp_packs' }}
        .col-md-1
          .badge-content.back-yellow.for-badge= glyphicon('transfer', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-yellow
          %label.semibold.no-margin.no-padding Conversion en pièces
        .col-md-1.text-end.bottom-yellow
          %label.count.processing_temp_packs
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#processing_temp_packs

      .row.mb-2.awaiting_supplier_recognition.flux{ data: { ref: 'awaiting_supplier_recognition' }}
        .col-md-1
          .badge-content.back-blue-sky.for-badge= glyphicon('list-rich', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-blue-sky
          %label.semibold.no-margin.no-padding Reconaissance Fournisseur
        .col-md-1.text-end.bottom-blue-sky
          %label.count.awaiting_supplier_recognition
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#awaiting_supplier_recognition

      .row.mb-2.lad_result.flux{ data: { ref: 'lad_result' }}
        .col-md-1
          .badge-content.back-blue.for-badge= glyphicon('paperclip', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-blue
          %label.semibold.no-margin.no-padding LAD
        .col-md-1.text-end.bottom-blue
          %label.count.lad_result
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#lad_result

      .row.mb-2.blocked_pre_assignments.flux{ data: { ref: 'blocked_pre_assignments' }}
        .col-md-1
          .badge-content.back-green.for-badge= glyphicon('media-play', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-green
          %label.semibold.no-margin.no-padding Pré-afféctation - En cours
        .col-md-1.text-end.bottom-green
          %label.count.blocked_pre_assignments
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#blocked_pre_assignments

      .row.mb-2.awaiting_pre_assignments.flux{ data: { ref: 'awaiting_pre_assignments' }}
        .col-md-1
          .badge-content.back-green.for-badge= glyphicon('media-pause', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-green
          %label.semibold.no-margin.no-padding Pré-afféctation - En attente
        .col-md-1.text-end.bottom-green
          %label.count.awaiting_pre_assignments
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#awaiting_pre_assignments

      .row.mb-2.reports_delivery.flux{ data: { ref: 'reports_delivery' }}
        .col-md-1
          .badge-content.back-blue-sky.for-badge= glyphicon('media-play', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-blue-sky
          %label.semibold.no-margin.no-padding Livraison Pré-afféctation - En cours
        .col-md-1.text-end.bottom-blue-sky
          %label.count.reports_delivery
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#reports_delivery

      .row.mb-2.failed_reports_delivery.flux{ data: { ref: 'failed_reports_delivery' }}
        .col-md-1
          .badge-content.back-blue-sky.for-badge= glyphicon('media-pause', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-blue-sky
          %label.semibold.no-margin.no-padding Livraison Pré-afféctation - En attente
        .col-md-1.text-end.bottom-blue-sky
          %label.count.failed_reports_delivery
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#failed_reports_delivery

      .row.mb-2.currently_being_delivered_packs.flux{ data: { ref: 'currently_being_delivered_packs' }}
        .col-md-1
          .badge-content.back-grey.for-badge= glyphicon('media-play', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-grey
          %label.semibold.no-margin.no-padding Livraison GED client - En cours
        .col-md-1.text-end.bottom-grey
          %label.count.currently_being_delivered_packs
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#currently_being_delivered_packs

      .row.mb-2.currently_being_delivered_packs.flux{ data: { ref: 'currently_being_delivered_packs' }}
        .col-md-1
          .badge-content.back-grey.for-badge= glyphicon('media-pause', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-grey
          %label.semibold.no-margin.no-padding Livraison GED client - En attente
        .col-md-1.text-end.bottom-grey
          %label.count.currently_being_delivered_packs
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#currently_being_delivered_packs

      .row.mb-2.cedricom_orphans.flux{ data: { ref: 'cedricom_orphans' }}
        .col-md-1
          .badge-content.back-yellow.for-badge= glyphicon('script', size: 18, color: "white")
        .col-md-9.text-start.pt-1.bottom-yellow
          %label.semibold.no-margin.no-padding Cédricom - Orphelina
        .col-md-1.text-end.bottom-yellow
          %label.count.cedricom_orphans
            %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
        .col-md-1
          %span.float-end.hide.indicator= glyphicon('caret-right', size: 18)
        .hide.content#cedricom_orphans

    .col-md-6.result-flux
      .box.back-grey
        %table.table.table-condensed.table-striped
          %thead.text-white
            %tr
              %th.text-center Date
              %th.text-center Lots
              %th.text-center Compte
              %th.text-center Message
          %tbody.text-white
  .mb-5
  .row.derivationLeft.box.small-shadow.clearfix.header
    .col-md-12      
      %h3
        Information dépuis
        %span.badge.bg-dark= I18n.l(30.days.ago)
        jusqu'à Aujourd'hui

  .row
    .col-md-6
      .box.p-3
        .text-center.mb-2
          %label.semibold Traitement des documents
        #chart_flux_document
          %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
    .col-md-6
      .box.p-3
        .text-center.mb-2
          %label.semibold Livraison des documents
        #document_delivery
          %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
  .row
    .col-md-12
      .box.p-3
        .text-center.mb-2
          %label.semibold Documents téléversés par api        
        #document_api
          %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
  .row
    .col-md-6
      .box.p-3
        .text-center.mb-2
          %label.semibold Opérations bancaires
        #bank_operation
          %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
    .col-md-6
      .box.p-3
        .text-center.mb-2
          %label.semibold Répartition des organisations et clients par logiciel comptable
        #software_customers
          %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}

.modal#see-more-info
  .modal-dialog{style: 'min-width: 800px'}
    .modal-content
      .modal-header
        %h5.modal-title.bold Détail
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        
      .modal-footer
 

  /   .col-md-5
  /     .box.heightGroups.groups_1
  /       .text-center
  /         %h4
  /           Information dépuis
  /           %strong= I18n.l(30.days.ago)
  /           jusqu'à Aujourd'hui
  /         .clearfix
  /         %br
  /       - cache 'admin_right_panels', expires_in: 5.minutes do
  /         .row
  /           .col-sm-6
  /             %h5
  /               %strong
  /                 %u Traitement des documents
  /             %table.table.table-striped.table-condensed.table-bordered
  /               %tbody
  /                 %tr
  /                   %th Corrompus
  /                   %td= StatisticsManager.get_statistic('unreadable_temp_documents_count')
  /                 %tr
  /                   %th Bloqués
  /                   %td= StatisticsManager.get_statistic('locked_temp_documents_count')
  /                 %tr
  /                   %th En attente de sélection
  /                   %td= StatisticsManager.get_statistic('wait_selection_temp_documents_count')
  /                 %tr
  /                   %th OCR
  /                   %td= StatisticsManager.get_statistic('ocr_needed_temp_documents_count')
  /                 %tr
  /                   %th A regrouper
  /                   %td= StatisticsManager.get_statistic('bundle_needed_temp_documents_count')
  /                 %tr
  /                   %th Prêt à être intégrés
  /                   %td= StatisticsManager.get_statistic('ready_temp_documents_count')
  /                 %tr
  /                   %th Traités
  /                   %td= StatisticsManager.get_statistic('processed_temp_documents_count')
  /           .col-sm-6
  /             %h5
  /               %strong
  /                 %u Livraison des documents
  /             %table.table.table-striped.table-condensed.table-bordered
  /               %thead
  /                 %tr.bg-brown.text-white
  /                   %th Service
  /                   %th Restant
  /                   %th Echoué
  /               %tbody
  /                 %tr
  /                   %td Dropbox Ext.
  /                   %td= StatisticsManager.get_statistic('not_processed_retryable_dropbox_extended_remote_files_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_retryable_dropbox_extended_remote_files_count')
  /                 %tr
  /                   %td Dropbox
  /                   %td= StatisticsManager.get_statistic('not_processed_retryable_dropbox_remote_files_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_retryable_dropbox_remote_files_count')
  /                 %tr
  /                   %td Google Drive
  /                   %td= StatisticsManager.get_statistic('not_processed_retryable_google_drive_remote_files_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_retryable_google_drive_remote_files_count')
  /                 %tr
  /                   %td Box
  /                   %td= StatisticsManager.get_statistic('not_processed_retryable_box_remote_files_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_retryable_box_remote_files_count')
  /                 %tr
  /                   %td FTP
  /                   %td= StatisticsManager.get_statistic('not_processed_retryable_ftp_remote_files_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_retryable_ftp_remote_files_count')
  /                 %tr
  /                   %td My Company Files
  /                   %td= StatisticsManager.get_statistic('not_processed_retryable_mcf_remote_files_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_retryable_mcf_remote_files_count')
  /         .row
  /           .col-sm-12
  /             %h5
  /               %strong
  /                 %u Documents téléversés par api
  /             %table.table.table-striped.table-condensed.table-bordered
  /               %thead
  /                 %tr.bg-brown.text-white
  /                   %th Api
  /                   %th Nb. de documents
  /               %tbody
  /                 %tr
  /                   %td Aucun
  /                   %td= StatisticsManager.get_statistic('aucun_temp_documents_count')
  /                 %tr
  /                   %td fiduceo
  /                   %td= StatisticsManager.get_statistic('fiduceo_temp_documents_count')
  /                 %tr
  /                   %td budgea
  /                   %td= StatisticsManager.get_statistic('budgea_temp_documents_count')
  /                 %tr
  /                   %td ibiza
  /                   %td= StatisticsManager.get_statistic('ibiza_temp_documents_count')
  /                 %tr
  /                   %td web
  /                   %td= StatisticsManager.get_statistic('web_temp_documents_count')
  /                 %tr
  /                   %td email
  /                   %td= StatisticsManager.get_statistic('email_temp_documents_count')
  /                 %tr
  /                   %td dropbox
  /                   %td= StatisticsManager.get_statistic('dropbox_temp_documents_count')
  /                 %tr
  /                   %td ftp
  /                   %td= StatisticsManager.get_statistic('ftp_temp_documents_count')
  /                 %tr
  /                   %td mcf
  /                   %td= StatisticsManager.get_statistic('mcf_temp_documents_count')
  /                 %tr
  /                   %td mobile
  /                   %td= StatisticsManager.get_statistic('mobile_temp_documents_count')
  /                 %tr
  /                   %td invoice auto
  /                   %td= StatisticsManager.get_statistic('invoice_auto_temp_documents_count')
  /                 %tr
  /                   %td scan
  /                   %td= StatisticsManager.get_statistic('scan_temp_documents_count')
  /                 %tr
  /                   %td invoice setting
  /                   %td= StatisticsManager.get_statistic('invoice_setting_temp_documents_count')
  /                 %tr
  /                   %td jefacture
  /                   %td= StatisticsManager.get_statistic('jefacture_temp_documents_count')
  /                 %tr
  /                   %td sftp
  /                   %td= StatisticsManager.get_statistic('sftp_temp_documents_count')
  /                 %tr
  /                   %td Total
  /                   %td= StatisticsManager.get_statistic('total_temp_documents_count')
  /         .row
  /           .col-sm-12
  /             %h5.label
  /               %strong
  /                 %u Opérations bancaires
  /             %table.table.table-striped.table-condensed.table-bordered
  /               %thead
  /                 %tr.bg-brown.text-white
  /                   %th Etat
  /                   %th Budgea
  /                   %th Bridge
  /                   %th Manuel
  /                   %th Total
  /               %tbody
  /                 %tr
  /                   %td
  /                   %td= StatisticsManager.get_statistic('budgea_operations_count')
  /                   %td= StatisticsManager.get_statistic('bridge_operations_count')
  /                   %td= StatisticsManager.get_statistic('capidocus_operations_count')
  /                   %td= StatisticsManager.get_statistic('operations_count')
  /                 %tr
  /                   %td Traités
  /                   %td= StatisticsManager.get_statistic('budgea_processed_operations_count')
  /                   %td= StatisticsManager.get_statistic('bridge_processed_operations_count')
  /                   %td= StatisticsManager.get_statistic('capidocus_processed_operations_count')
  /                   %td= StatisticsManager.get_statistic('processed_operations_count')
  /                 %tr
  /                   %td En attente
  /                   %td= StatisticsManager.get_statistic('budgea_not_processed_not_locked_operations_count')
  /                   %td= StatisticsManager.get_statistic('bridge_not_processed_not_locked_operations_count')
  /                   %td= StatisticsManager.get_statistic('capidocus_not_processed_not_locked_operations_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_not_locked_operations_count')
  /                 %tr
  /                   %td Bloqués
  /                   %td= StatisticsManager.get_statistic('budgea_not_processed_locked_operations_count')
  /                   %td= StatisticsManager.get_statistic('bridge_not_processed_locked_operations_count')
  /                   %td= StatisticsManager.get_statistic('capidocus_not_processed_locked_operations_count')
  /                   %td= StatisticsManager.get_statistic('not_processed_locked_operations_count')
  /       .row
  /         .col-sm-12
  /           %h5
  /             %strong
  /               %u Répartition des organisations et clients par logiciel comptable
  /           %table.table.table-striped.table-condensed.table-bordered
  /             %thead
  /               %tr.bg-brown.text-white
  /                 %th Logiciel Comptable
  /                 %th Organisation
  /                 %th Client
  /             %tbody
  /               %tr
  /                 %td iBiza
  /                 %td= StatisticsManager.get_statistic('ibiza_organizations_count')
  /                 %td= StatisticsManager.get_statistic('ibiza_users_count')
  /               %tr
  /                 %td Exact Online
  /                 %td= StatisticsManager.get_statistic('exact_online_organizations_count')
  /                 %td= StatisticsManager.get_statistic('exact_online_users_count')
  /               %tr
  /                 %td My Unisoft
  /                 %td= StatisticsManager.get_statistic('my_unisoft_organizations_count')
  /                 %td= StatisticsManager.get_statistic('my_unisoft_users_count')
  /               %tr
  /                 %td Coala
  /                 %td= StatisticsManager.get_statistic('coalaorganizations_count')
  /                 %td= StatisticsManager.get_statistic('coala_users_count')
  /               %tr
  /                 %td Quadratus
  /                 %td= StatisticsManager.get_statistic('quadratus_organizations_count')
  /                 %td= StatisticsManager.get_statistic('quadratus_users_count')
  /               %tr
  /                 %td Cegid
  /                 %td= StatisticsManager.get_statistic('cegid_organizations_count')
  /                 %td= StatisticsManager.get_statistic('cegid_users_count')
  /               %tr
  /                 %td Fec Agiris
  /                 %td= StatisticsManager.get_statistic('fec_agirisorganizations_count')
  /                 %td= StatisticsManager.get_statistic('fec_agiris_users_count')
  /               %tr
  /                 %td Autre(format d'export .csv)
  /                 %td= StatisticsManager.get_statistic('csv_descriptor_organizations_count')
  /                 %td= StatisticsManager.get_statistic('csv_descriptor_users_count')
  /       .row
  /         .col-sm-12
  /           %h5 Organisations facturées n'ayant pas d'adresse de facturation
  /           - @unbillable_organizations.each do |organization|
  /             = link_to organization, organization_path(organization, tab: 'addresses'), class: 'badge badge-danger fs-origin'

= javascript_include_tag 'back/dashboard/assets/javascripts/main'