.container-fluid.main-content
  .row
    %h3.bold Export d'écritures comptables
    .box
      %table.table.table-striped
        %thead
          %th Lot
          %th Créée le
          %th Nom du fichier
          %th Logiciel Comptable
          %th Nombre d'écritures
          %th Action
        %tbody
        - @preassignment_exports.each do |preassignment_export|
          %tr
            %td= preassignment_export.pack_name
            %td= preassignment_export.created_at.strftime('%d/%m/%Y')
            %td= preassignment_export.file_name
            %td= preassignment_export.for
            %td= preassignment_export.total_item
            %td 
              %span.ms-2.download_export{title: 'Télécharger le fichier', "data-preassignment-export-id" =>  preassignment_export.id}
                %span= glyphicon('data-transfer-download', { size: '14', color:'rgba(26, 26, 26, 0.32);'})
                %a.pointer télécharger


= javascript_include_tag 'front/export_preseizures/assets/javascripts/main'