= simple_form_for @conterpart_account, url: "/organizations/#{@organization.id}/customers/#{@customer.id}/conterpart_account", html: { id: 'conterpart_account_form', method: 'patch' }, wrapper: :form_v3 do |f|
  = f.input :id, :as => :hidden
  = f.input :kind, as: :hidden
  = f.input :name, required: true
  = f.input :number
  = f.input :is_default, as: :boolean, input_html: { style: 'width: 40px' }

  .mb-3.form-group.string.required
    = label_tag 'conterpart_account[accounting_plan_items][]', 'Compte de tiers associé'
    .select-container.no-padding.w-100
    = select_tag 'conterpart_account[accounting_plan_items][]', options_for_select(@accounting_plan_items, @conterpart_account.accounting_plan_items.map(&:id)), include_blank: false,  class: 'w-100 searchable-option-list', multiple: true