#subscriptions
  .row.derivationLeft
    .col-md-12
      .box
        %h3 Récapitulatif des Forfaits actuels
        .mb-2
        %table.table.table-condensed.table-striped
          %thead
            %tr.text-center
              %th
              %th iDo Classique
              %th iDo Mini
              %th iDo Micro
              %th iDo Nano
              %th iDo X
              %th iDo Premium
              %th Automate uniquement
              %th Numérisation uniquement
              %th Non configuré
              %th Total
              %th Forfait Courrier
              %th Numériser
              %th Forfait Automates
              %th Pré-saisie
          %tbody
            %tr.text-center
              %th Abonnés
              %td= link_to @basic_package_count, "#", class: 'do-showAccounts', title: "iDo Classique", type: "basic_package"
              %td= link_to @mini_package_count, "#", class: 'do-showAccounts', title: "iDo Mini", type: "mini_package"
              %td= link_to @micro_package_count, "#", class: 'do-showAccounts', title: "iDo Micro", type: "micro_package"
              %td= link_to @nano_package_count, "#", class: 'do-showAccounts', title: "iDo Nano", type: "nano_package"
              %td= link_to @idox_package_count, "#", class: 'do-showAccounts', title: "iDo X", type: "idox_package"
              %td= link_to @premium_package_count, "#", class: 'do-showAccounts', title: "iDo Premium", type: "premium_package"
              %td= link_to @retriever_only_package_count, "#", class: 'do-showAccounts', title: "Automate uniquement", type: "retriever_only_package"
              %td= link_to @digitize_only_package_count, "#", class: 'do-showAccounts', title: "Numérisation uniquement", type: "digitize_only_package"
              %td= link_to @not_configured, "#", class: 'do-showAccounts', title: "Non configuré", type: "not_configured"
              %td= @premium_package_count + @basic_package_count + @idox_package_count + @mini_package_count + @micro_package_count + @nano_package_count + @retriever_only_package_count + @not_configured + @digitize_only_package_count
              %td= link_to @mail_package_count, "#", class: 'do-showAccounts', title: "Fofait Courrier", type: "mail_package"
              %td= link_to @digitize_package_count, "#", class: 'do-showAccounts', title: "Numériser", type: "digitize_package"
              %td= link_to @retriever_package_count, "#", class: 'do-showAccounts', title: "Forfait automates", type: "retriever_package"
              %td= link_to @pre_assignment_count, "#", class: 'do-showAccounts', title: "Pré-saisie", type: "pre_assignment_active"
  .row.derivationRight
    .col-md-12
      .box.clearfix#statistic_table
        %table.table.table-condensed.table-striped
          %thead
            %tr.text-start.bg-dark.text-white.border-end.border-white
              %th(colspan='3') Information
              %th(colspan='9') Forfaits
              %th(colspan='4') Utilisation
              %th(colspan='3') Clients
            %tr.text-center
              %th période
              %th= sortable 'organization_name', 'organisation'
              %th= sortable 'organization_code', 'code'
              %th= sortable 'options.basic_package', 'basique'
              %th= sortable 'options.mail_package', 'courrier'
              %th= sortable 'options.digitize_package', 'numérisation kit'
              %th= sortable 'options.retriever_package', 'automate'
              %th= sortable 'options.mini_package', 'mini'
              %th= sortable 'options.micro_package', 'micro'
              %th= sortable 'options.nano_package', 'nano'
              %th= sortable 'options.idox_package', 'idox'
              %th= sortable 'options.premium_package', 'premium'
              %th= sortable 'consumption.upload', 'téléversement'
              %th= sortable 'consumption.scan', 'numérisation'
              %th= sortable 'consumption.dematbox_scan', 'dematbox'
              %th= sortable 'consumption.retriever', 'automate'
              %th= sortable 'customers', 'actifs'
              %th= sortable 'new_customers', 'nouveaux'
              %th= sortable 'closed_customers', 'clôturés'
          %tbody
            - @statistics.each do |statistic|
              %tr.text-center
                %td= I18n.l(statistic.month, format: "%b%y").titleize
                %td= statistic.organization_name
                %td= statistic.organization_code
                %td
                  %span= statistic.options[:basic_package]
                  = subscription_diff_content_for(statistic.options[:basic_package_diff])
                %td
                  %span= statistic.options[:mail_package]
                  = subscription_diff_content_for(statistic.options[:mail_package_diff])
                %td
                  %span= statistic.options[:digitize_package]
                  = subscription_diff_content_for(statistic.options[:digitize_package_diff])
                %td
                  %span= statistic.options[:retriever_package]
                  = subscription_diff_content_for(statistic.options[:retriever_package_diff])
                %td
                  %span= statistic.options[:mini_package]
                  = subscription_diff_content_for(statistic.options[:mini_package_diff])
                %td
                  %span= statistic.options[:micro_package]
                  = subscription_diff_content_for(statistic.options[:micro_package_diff])
                %td
                  %span= statistic.options[:nano_package]
                  = subscription_diff_content_for(statistic.options[:nano_package_diff])
                %td
                  %span= statistic.options[:idox_package]
                  = subscription_diff_content_for(statistic.options[:idox_package_diff])
                %td
                  %span= statistic.options[:premium_package]
                  = subscription_diff_content_for(statistic.options[:premium_package_diff])
                %td= statistic.consumption[:upload]
                %td= statistic.consumption[:scan]
                %td= statistic.consumption[:dematbox_scan]
                %td= statistic.consumption[:retriever]
                %td= statistic.customers.size
                %td
                  = subscription_customers_popover_content_for(statistic.new_customers, 'positive')
                %td
                  = subscription_customers_popover_content_for(statistic.closed_customers, 'negative')
            %tr.text-center
              %td.total_footer -
              %td.total_footer -
              %td.total_footer -
              %td.total_footer
                %span= @statistics_total[:basic_package]
                = subscription_diff_content_for(@statistics_total[:basic_package_diff])
              %td.total_footer
                %span= @statistics_total[:mail_package]
                = subscription_diff_content_for(@statistics_total[:mail_package_diff])
              %td.total_footer
                %span= @statistics_total[:digitize_package]
                = subscription_diff_content_for(@statistics_total[:digitize_package_diff])
              %td.total_footer
                %span= @statistics_total[:retriever_package]
                = subscription_diff_content_for(@statistics_total[:retriever_package_diff])
              %td.total_footer
                %span= @statistics_total[:mini_package]
                = subscription_diff_content_for(@statistics_total[:mini_package_diff])
              %td.total_footer
                %span= @statistics_total[:micro_package]
                = subscription_diff_content_for(@statistics_total[:micro_package_diff])
              %td.total_footer
                %span= @statistics_total[:nano_package]
                = subscription_diff_content_for(@statistics_total[:nano_package_diff])
              %td.total_footer
                %span= @statistics_total[:idox_package]
                = subscription_diff_content_for(@statistics_total[:idox_package_diff])
              %td.total_footer
                %span= @statistics_total[:premium_package]
                = subscription_diff_content_for(@statistics_total[:premium_package_diff])
              %td.total_footer= @statistics_total[:upload]
              %td.total_footer= @statistics_total[:scan]
              %td.total_footer= @statistics_total[:dematbox_scan]
              %td.total_footer= @statistics_total[:retriever]
              %td.total_footer= @statistics_total[:customers]
              %td.total_footer
                %span{ class: ("positive" if @statistics_total[:new_customers] > 0) }= @statistics_total[:new_customers]
              %td.total_footer
                %span{ class: ("negative" if @statistics_total[:closed_customers] > 0) }= @statistics_total[:closed_customers]
        = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: admin_subscriptions_index_path, target: '#statistic_table', total_pages: @statistics.total_pages, filter: 'form-filter' }

    .card.retractable-filter.hide
      

  .modal#filter-subscription
    .modal-dialog
      .modal-content
        .modal-header.clearfix
          %h5.modal-title.bold Filtrer
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        = form_tag admin_subscriptions_index_path, method: :get, class: 'form-filter' do
          .modal-body        
            .form-group
              %label.semibold
                %span.badge.bg-info
                  = label_tag 'Nb. Organisations : '
                  = @organization_count
            .form-group
              %label.semibold
                = label_tag 'first_period', 'Première période'            
              = select_tag 'first_period', subscription_period_options_for_select(params[:first_period]), class: 'form-select'
            .form-group
              %label.semibold
                = label_tag 'second_period', 'Deuxième période'
              = select_tag 'second_period', subscription_period_options_for_select(params[:second_period]), class: 'form-select'
            .form-group
              %label.semibold
                = label_tag 'organization', 'Organisation'
              .select-container.w-100.no-padding  
                = text_field_tag 'organization', (params[:organization] rescue ''), class: 'input-small'
          .modal-footer            
            = link_to 'Réinitialiser', admin_subscriptions_index_path, class: 'btn btn-light', title: t('filters.reset')
            = submit_tag t('filters.compare'), name: nil, class: 'btn btn-primary'

  #showAccounts.modal.fade.in
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h3
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
        .modal-footer

= javascript_include_tag 'back/subscriptions/assets/javascripts/main'