- if action_name == 'index'
  - path = organization_customer_ibizabox_documents_path(@organization, @customer)
  - target_dest = '.historic_content'
- elsif action_name == 'select'
  - path = select_organization_customer_ibizabox_documents_path(@organization, @customer)
  - target_dest = '.select_content'

.modal#ibizabox_documents_filter_modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Configuration email
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        = form_tag path, method: :get, class: 'form-filter', id: 'ibizabox_documents_filter' do
          .form-group.clearfix
            .label-section
              = label_tag 'document_contains[name]', 'Nom original', class: 'semibold'
            .control-section
              .select-container.no-padding.w-100
                = text_field_tag 'document_contains[name]', (params[:document_contains][:name] rescue ''), class: 'span12'
          .form-group.clearfix
            .label-section
              = label_tag 'document_contains[journal]', 'Journal', class: 'semibold'
            .control-section
              = select_tag 'document_contains[journal]', options_for_select(@customer.ibizabox_folders.includes(:journal).map { |e| [e.journal.name] }, (params[:document_contains][:journal] rescue nil)), include_blank: true, class: 'form-select'
      .modal-footer
        .w-100.text-end
          %button.btn.btn-light.semibold{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
          - idocus_params = param_encode({ url: path, form: 'ibizabox_documents_filter', html: { target: '#ibizabox_documents', target_dest: target_dest }, modal: { id: 'ibizabox_documents_filter_modal' } })
          %button.btn.btn-primary.as_idocus_ajax{ type: 'button', idocus: idocus_params }= t('filters.action')
