.ibizabox_documents
  .row
    .col-md-10
      %h5
        Sélection de documents ibiza box restant à intégrer du client
        %span.badge.bg-secondary= @documents.size
    .col-md-2.float-end.no-padding
      %button.btn.btn-light.open_ibizabox_documents_filter.semibold{ 'data-bs-toggle'=>'modal', 'data-bs-target'=>"#filter_#{action_name}" }
        %span.me-2 Filtrer
        %span= glyphicon('transfer', { size: '15', color: '#72AA42', style: 'transform: rotate(90deg)'})
  %hr
  %div{ id: "ibizabox_#{action_name}" }
    = form_tag validate_organization_customer_ibizabox_documents_path, method: 'patch', class: 'form form-horizontal', id: 'validate_ibizabox_documents' do
      = hidden_field_tag 'document_contains[name]',    (params[:document_contains][:name] rescue '')
      = hidden_field_tag 'document_contains[journal]', (params[:document_contains][:journal] rescue '')
      %table.table.table-bordered-inner.table-condensed.table-striped.margin1top.margin0bottom.table-detachable-head
        %thead
          %tr.bg-brown.text-white
            %th= check_box_tag 'master_checkbox', 0, false
            %th= sortable :created_at,              'Date de la récupération'
            %th= sortable :journal,                 'Journal'
            %th= sortable :original_file_name,       'Nom original'
            %th.pages= sortable :pages_number,      'Nb. pages'
        %tbody
          - @documents.each do |document|
            %tr
              %td= check_box_tag "document_ids[]", document.id, false, class: 'checkbox'
              %td= l(document.created_at)
              %td= document.journal
              %td= link_to document.original_file_name, organization_customer_ibizabox_document_path(@organization, @customer, document), target: '_blank'
              %td.pages= document.pages_number
      = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: select_organization_customer_ibizabox_documents_path(@organization, @customer), target: '.historic_content', total_pages: @documents.total_pages }
      .form-actions.margin1top
        - idocus_params = param_encode({ url: validate_organization_customer_ibizabox_documents_path, form: 'validate_ibizabox_documents', method: 'post', html: { target: '#ibizabox_documents_historic' } })
        = submit_tag 'Intégrer les documents sélectionnés', class: 'btn btn-primary as_idocus_ajax', data: { confirm: t('actions.confirm') }, idocus: idocus_params

  = render 'dialogs'
