= stylesheet_link_tag 'front/retrievers/assets/stylesheets/main'

.container-fluid
  .row.derivationLeft
    .col-md-8.text-start
      %h3.bold Paramètres Divers
    .col-md-3.p-1
      = select_tag 'account_id', options_for_select(customers_active, @account.try(:id)), include_blank: false, class: 'chosen-list w-100'
    .col-md-1.text-start.p-1
      %button.btn.btn-light.semibold.retriever-filter-others.w-100.filter-banks.hide{ disabled: false }
        %span.me-2 Filtrer
        %span= glyphicon('transfer', { size: '15', color: '#72AA42', style: 'transform: rotate(90deg)'})

  .mb-4

  - is_active = active_tab?(['banks', 'documents', 'parameters'], 2)
  .derivationRight
    %ul.nav.nav-tabs.ms-3{ "role" => "tablist" }
      - if @account.retrievers.where('budgea_id > 0').size > 0
        %li.navigation_links.no-filter.nav-item.no-margin{ "role" => "presentation" }
          %button.semibold.nav-link#banks-selection-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#banks-selection", type: :button, "role" => "tab", "aria-controls" => "banks-selection", "aria-selected" => "true", class: is_active['banks'] ? 'active' : '' } 
            Sélection des comptes bancaires
            %span.ms-1.badge.badge-secondary.regular#total-banks-selection
        %li.navigation_links.nav-item.no-margin{ "role" => "presentation" }
          %button.semibold.nav-link#documents-selection-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#documents-selection", type: :button, "role" => "tab", "aria-controls" => "documents-selection", "aria-selected" => "false", class: is_active['documents'] ? 'active' : '' } 
            Séléction de document restant à récupérer
            %span.ms-1.badge.badge-secondary.regular#total-documents-selection 0
      %li.navigation_links.nav-item.no-margin{ "role" => "presentation" }
        %button.semibold.nav-link#banks-params-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#banks-params", type: :button, "role" => "tab", "aria-controls" => "banks-params", "aria-selected" => "false", class: is_active['parameters'] ? 'active' : '' } Paramètres bancaires

    .tab-content
      - if @account.retrievers.where('budgea_id > 0').size > 0
        .tab-pane.box.no-margin#banks-selection{ "role" => "tabpanel", "aria-labelledby" => "bank-account-selection-tab", class: is_active['banks'] ? 'active' : '' }
        .tab-pane.box.no-margin#documents-selection{ "role" => "tabpanel", "aria-labelledby" => "documents-selections-tab", class: is_active['documents'] ? 'active' : '' }
      .tab-pane.box.no-margin#banks-params{ "role" => "tabpanel", "aria-labelledby" => "banks-params-tab", class: is_active['parameters'] ? 'active' : '' }

= render partial: 'dialogs'      

= javascript_include_tag 'front/retriever_parameters/assets/javascripts/main'