- address = address rescue nil

%form.adresses_form{class: "#{type}_form"}
  %table.table.table-striped
    %thead
      %tr
        %th{ colspan: 2 }
          .float-start
            - if type == 'paper_return'
              = t('activerecord.models.address.attributes.paper_return')
            - if type == 'paper_set_shipping'
              = t('activerecord.models.address.attributes.paper_set_shipping')
            - if type == 'dematbox_shipping'
              = t('activerecord.models.address.attributes.dematbox_shipping')
          .float-end
            - if address.try(:id).to_i > 0
              = link_to glyphicon('x'), '#', data: { id: address.try(:id).to_i, type: type }, class: 'btn btn-light destroy_address', style: 'width: 40px'
      %tbody
        %tr
          %th= t('activerecord.models.address.attributes.company')
          %td
            %input{ type: 'text', name: "company", class: "#{type} input", value: address.try(:company) }
        - if type == 'dematbox_shipping'
          %tr
            %th= t('activerecord.models.address.attributes.company_number')
            %td
              %input{ type: 'text', name: "company_number", class: "#{type} input", value: address.try(:company_number) }
        %tr
          %th= t('activerecord.models.address.attributes.first_name')
          %td
            %input{ type: 'text', name: "first_name", class: "#{type} input", value: address.try(:first_name) }
        %tr
          %th= t('activerecord.models.address.attributes.last_name')
          %td
            %input{ type: 'text', name: "last_name", class: "#{type} input", value: address.try(:last_name) }
        - if type == 'dematbox_shipping'
          %tr
            %th= t('activerecord.models.address.attributes.phone')
            %td
              %input{ type: 'text', name: "phone", class: "#{type} input", value: address.try(:phone) }
        %tr
          %th= t('activerecord.models.address.attributes.address_1')
          %td
            %input{ type: 'text', name: "address_1", class: "#{type} input", value: address.try(:address_1) }
        %tr
          %th= t('activerecord.models.address.attributes.address_2')
          %td
            %input{ type: 'text', name: "address_2", class: "#{type} input", value: address.try(:address_2) }
        - if type == 'dematbox_shipping'
          %tr
            %th= t('activerecord.models.address.attributes.place_called_or_postal_box')
            %td
              %input{ type: 'text', name: "place_called_or_postal_box", class: "#{type} input", value: address.try(:place_called_or_postal_box) }
        %tr
          %th= t('activerecord.models.address.attributes.city')
          %td
            %input{ type: 'text', name: "city", class: "#{type} input", value: address.try(:city) }
        %tr
          %th= t('activerecord.models.address.attributes.zip')
          %td
            %input{ type: 'text', name: "zip", class: "#{type} input", value: address.try(:zip) }
        - if type == 'dematbox_shipping'
          %tr
            %th= t('activerecord.models.address.attributes.building')
            %td
              %input{ type: 'text', name: "building", class: "#{type} input", value: address.try(:building) }