= stylesheet_link_tag 'front/ibiza/assets/stylesheets/main'

#ibiza.edit.derivationRight
  .row
    .w-100.text-start
      %span.semibold Configuration de iBiza :
      %i Connexion à iBiza pour le transfert des écritures
  %hr
  .row
    = simple_form_for (@ibiza || Software::Ibiza.new), url: organization_ibiza_path(@organization), html: { class: 'form-horizontal' } do |f|
      .select-container.no-padding.w-100
        = f.input :specific_url_options, label_html: { class: 'semibold' }, placeholder: 'https://webservice.irf-cloud.com/IRFService/services/IRFService.svc', hint: "Pour connecter iBiZa à iDocus, Vous pouvez spécifier votre URL de connexion (Par défaut: https://webservice.irf-cloud.com/IRFService/services/IRFService.svc)"
      .select-container.no-padding.w-100
        = f.input :access_token, label_html: { class: 'semibold' }, hint: "Pour connecter iBiZa à iDocus, rendez-vous sur l'iBiZStore pour récupérer votre jeton d'accès."
      .select-container.no-padding.w-100
        = f.input :access_token_2, label_html: { class: 'semibold' }, hint: "Pour connecter iBiZa à iDocus, rendez-vous sur l'iBiZStore pour récupérer votre jeton d'accès."
      .form-group.row
        .col-md-11
          = f.label :auto_deliver, class: 'semibold'
          %br
          = f.hint 'Cette option peut être ré-écrite au niveau de chaque dossier.'
        .col-md-1.form-check.form-switch
          = f.input :auto_deliver, as: :boolean, label: "Non", label_html: { class: 'form-check-label' }, input_html: { id: 'flexSwitchCheckDefault', class: 'custom-form-inline form-check-input custom-form-switch' }
      .form-group.row
        .col-md-11
          = f.label :is_analysis_activated, class: 'semibold'
          %br
          = f.hint 'Cette option peut être ré-écrite au niveau de chaque dossier.'
        .col-md-1.form-check.form-switch.custom-form-switch
          = f.input :is_analysis_activated, as: :boolean, label: "Non", label_html: { class: 'form-check-label' }, input_html: { id: 'flexSwitchCheckDefault', class: 'custom-form-inline form-check-input' }
      .form-group.row
        .col-md-11
          = f.label :is_analysis_to_validate, class: 'semibold'
          %br
          = f.hint "Cette option suspend l'envoi en pré-affectation des pièces, en passant par une validation manuelle des analyses comptables, Les pièces téléversées via le site ou mobile ne sont pas concernées (peut être ré-écrite au niveau de chaque dossier)."
        .col-md-1.form-check.form-switch.custom-form-switch
          = f.input :is_analysis_to_validate, as: :boolean, label: "Non", label_html: { class: 'form-check-label' }, input_html: { id: 'flexSwitchCheckDefault', class: 'custom-form-inline form-check-input' }
      .form-group
        %label.semibold Format du nom de la pièce iDocus dans iBiZa (par défaut colonne “pièce” dans iBiza)
        .row
          .col-md-10
            .select-container.no-padding.w-100
              %input{ placeholder: " CAB%DOC AC 201901 001 " }
          .col-md-2.text-center
            %button.btn.btn-light.w-100.semibold#piece-name-edit Modifier
      .form-group
        %label.semibold Format de l’écriture comptable dans iBiZa
        .row
          .col-md-10
            .select-container.no-padding.w-100
              %input{ placeholder: "CAB%DOC AC 201901 001 - FACT001" }
          .col-md-2.text-center
            %button.btn.btn-light.w-100.semibold#preseizure-name-edit Modifier
      .form-group
        %label.semibold Champ utilisé dans la colonne "Ref. pièce" et "Piece" dans Ibiza
        - piece_number_selected = @ibiza.try(:voucher_ref_target) == 'piece_number' ? "selected='selected'" : ""
        - piece_name_selected = @ibiza.try(:voucher_ref_target) == 'piece_name' ? "selected='selected'" : ""
        = select_tag "software_ibiza[voucher_ref_target]", raw("<option value='piece_number' #{piece_number_selected}>Ref. pièce = Numéro de pièce d'origine et Pièce = Nom de la pièce (iDocus)</option><option value='piece_name' #{piece_name_selected}>Ref. pièce = Nom de la pièce (iDocus) et Pièce = Numéro de pièce d'origine</option>"), multiple: false, class: 'form-control', id: 'software_ibiza_voucher_ref_target'

      .form-group.no-margin
        .w-100.text-end
          = link_to t('actions.cancel'), organization_path(@organization, tab: 'ibiza'), class: 'btn btn-light'
          = f.submit 'Valider', class: 'btn btn-primary .valid-software-modification semibold'

.modal#softwares-piece-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Modifier le format du nom de la pièce iDocus dans iBiZa
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        .form-group
          %label.semibold Sélectionnez les éléments à incorporer pour composer le nom de sortie PDF
          .select-container.no-padding.w-100
            %input{ placeholder: " CAB%DOC AC 201901 001" }

        .form-group.clearfix
          %ul#sortable-software
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[piece_name_format][code][position]', 1
              Code complet
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[piece_name_format][code_wp][position]', 1
              Code dossier sans cabinet
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[piece_name_format][journal][position]', 1
              Journal
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[piece_name_format][period][position]', 1
              Période de traitement
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[piece_name_format][number][position]', 1
              Numéro

        .form-group
          %label.semibold Séparer les éléments par
          - underscore_selected = @ibiza.try(:piece_name_format_sep).try(:strip) == '_' ? "selected='selected'" : ""
          - trait_selected = @ibiza.try(:piece_name_format_sep).try(:strip) == '-' ? "selected='selected'" : ""
          = select_tag "software_ibiza[piece_name_format_sep]", raw("<option value='_' #{underscore_selected}>Underscore \“_\”</option><option value='-' #{trait_selected}>Tirait \"-\"</option>"), multiple: false, class: 'form-control', id: 'software_ibiza_piece_name_format_sep'

      .modal-footer
        .w-100.text-end
          %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
          %button.btn.btn-primary.valid Valider

.modal#softwares-preseizure-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Modifier le format de l’écriture comptable iBiZa
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
      .modal-body
        .form-group
          %label.semibold Sélectionnez les éléments à incorporer pour composer le nom de sortie PDF
          .select-container.no-padding.w-100
            %input{ placeholder: "CAB%DOC AC 201901 001 - FACT001" }

        .form-group.clearfix
          %ul#sortable-software-preseizures
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][operation_label][position]', 1
              Libellé de l'opération bancaire
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][date][position]', 1
              Date réelle
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][third_party][position]', 1
              Tiers
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][amount][position]', 1
              Montant d’origine
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][currency][position]', 1
              Devise
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][conversion_rate][position]', 1
              Taux de conversion
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][observation][position]', 1
              Remarque
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][journal][position]', 1
              Journal
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][piece_name][position]', 1
              Nom de la pièce iDocus
            %li.btn-light.click
              = hidden_field_tag 'software_ibiza[description][piece_number][position]', 1
              N° de pièce

        .form-group
          %label.semibold Séparer les éléments par
          - underscore_selected = @ibiza.try(:description_separator).try(:strip) == '_' ? "selected='selected'" : ""
          - trait_selected = @ibiza.try(:description_separator).try(:strip) == '-' ? "selected='selected'" : ""
          = select_tag "software_ibiza[description_separator]", raw("<option value='_' #{underscore_selected}>Underscore \“_\”</option><option value='-' #{trait_selected}>Tirait \"-\"</option>"), multiple: false, class: 'form-control', id: 'software_ibiza_description_separator'

      .modal-footer
        .w-100.text-end
          %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
          %button.btn.btn-primary.valid Valider

= javascript_include_tag 'front/ibiza/assets/javascripts/main'
