= stylesheet_link_tag 'front/orders/assets/stylesheets/main'

#order.edit.derivationRight
  / .box
  /   - unless @customer.configured?
  /     TODO ... STEP

  .order-content
    .w-100.text-center
      %h3
        - if @order.dematbox?
          Édition de la commande du scanner iDocus’Box
        - else
          Édition de la commande de Kit envoi courrier

        - if @customer.configured?
          pour le client : 
          = link_to @customer, organization_customer_path(@organization, @customer, tab: 'orders'), class: 'fs-origin'
        - else
          pour le dossier : 
          %span.text-info.fs-origin= @customer

    .box.order-form-content
      = simple_form_for @order, url: organization_customer_order_path(@organization, @customer, @order), html: { class: 'form form-horizontal margin0' } do |f|
        = render partial: 'form', locals: { f: f }

= javascript_include_tag 'front/orders/assets/javascripts/main'
