= stylesheet_link_tag 'front/file_storage_authorizations/assets/stylesheets/main'

#file_storage_authorizations.edit.derivationRight
  = simple_form_for @someone, url: @put_url_path, html: { class: 'form-horizontal' } do |f|
    .form-group.row
      .col-md-11
        = f.label :is_dropbox_extended_authorized, class: 'semibold'
      .col-md-1
        .form-check.form-switch
          = f.input :is_dropbox_extended_authorized,     as: :boolean, label: false, label_html: { class: 'semibold form-check-label' }, input_html: { class: 'form-check-input input_switch input_check_field', id: 'is_dropbox_extended_authorized_field' }
          %label.semibold{class: 'form-check-label label_check_field', for: 'is_dropbox_extended_authorized_field'} Non
    = f.simple_fields_for :external_file_storage do |sf|
      .form-group.row
        .col-md-11
          = sf.label :is_dropbox_basic_authorized, class: 'semibold'
        .col-md-1
          .form-check.form-switch
            = sf.input :is_dropbox_basic_authorized,     as: :boolean, label: false, label_html: { class: 'semibold form-check-label' }, input_html: { class: 'form-check-input input_switch input_check_field', id: 'is_dropbox_basic_authorized_field' }
            %label.semibold{class: 'form-check-label label_check_field', for: 'is_dropbox_basic_authorized_field'} Non
      .form-group.row
        .col-md-11
          = sf.label :is_google_docs_authorized, class: 'semibold'
        .col-md-1
          .form-check.form-switch
            = sf.input :is_google_docs_authorized,     as: :boolean, label: false, label_html: { class: 'semibold form-check-label' }, input_html: { class: 'form-check-input input_switch input_check_field', id: 'is_google_docs_authorized_field' }
            %label.semibold{class: 'form-check-label label_check_field', for: 'is_google_docs_authorized_field'} Non
      .form-group.row
        .col-md-11
          = sf.label :is_ftp_authorized, class: 'semibold'
        .col-md-1
          .form-check.form-switch
            = sf.input :is_ftp_authorized,     as: :boolean, label: false, label_html: { class: 'semibold form-check-label' }, input_html: { class: 'form-check-input input_switch input_check_field', id: 'is_ftp_authorized_field' }
            %label.semibold{class: 'form-check-label label_check_field', for: 'is_ftp_authorized_field'} Non
      .form-group.row
        .col-md-11
          = sf.label :is_box_authorized, class: 'semibold'
        .col-md-1
          .form-check.form-switch
            = sf.input :is_box_authorized,     as: :boolean, label: false, label_html: { class: 'semibold form-check-label' }, input_html: { class: 'form-check-input input_switch input_check_field', id: 'is_box_authorized_field' }
            %label.semibold{class: 'form-check-label label_check_field', for: 'is_box_authorized_field'} Non
    .mb-4
    %hr
    .form-group
      .w-100.text-center
        = link_to t('actions.cancel'), organization_collaborator_path(@organization, @member, tab: 'authorization'), class: 'btn btn-light cancel_collaborator_file_storages'
        = f.submit t('actions.submit'), class: 'btn btn-primary w-25'

= javascript_include_tag 'front/file_storage_authorizations/assets/javascripts/main'