= render partial: 'front/layouts/header'
.container-fluid
  #main-layout
    .row.welcome-info
      .col-md-8
        %h2.idocus-welcome
          Bienvenue sur
          %span.idocus-tag iDocus
          !
        %p.p-text Vous pouvez voir l’état de vos dossiers ici ou directement accéder à vos documents.

    = render partial: 'front/layouts/favorite_view_content'

    = render partial: 'front/layouts/support_chat'
  = render partial: 'front/layouts/notice_flush_messages'

= render partial: 'front/layouts/footer'
= parent_layout "base"