#users
  .row.box.small-shadow.clearfix.derivationLeft
    .col-md-8
      %h3
        Liste des utilisateurs
        %span.badge.bg-dark= @users_count
    .col-md-4.text-end
      %button.btn.btn-warning.user-filter
        %span.me-2= glyphicon('transfer', { size: '10', color: '#000', style: 'transform: rotate(90deg)'})
        %span Filtrer
      = link_to image_tag('application/icon-xls-admin.png', alt: 'Export CSV') + ' Export CSV', admin_users_path(format: 'csv', direction: sort_direction, sort: sort_column), class: 'btn btn-dark'

  .row.derivationRight
    .col-md-12
      .box#table_users
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th
              %th= sortable :created_at, t('activerecord.models.common.attributes.created_at'), { user_contains: @user_contains }
              %th= sortable :updated_at, t('activerecord.models.common.attributes.updated_at'), { user_contains: @user_contains }
              %th= sortable :code, t('activerecord.models.user.attributes.formatted_identifier'), { user_contains: @user_contains }
              %th Email
              %th.text-end= t('actions.name').singularize
          %tbody
            - @users.each do |user|
              %tr
                %td= user.inactive? ? glyphicon('x', size: 12, color: 'red') : nil
                %td= l(user.created_at)
                %td= l(user.updated_at)
                %td= user.info
                %td= user.email
                %td.text-end.pointer.align-middle                      
                  .action
                    %span.glyph= glyphicon('ellipses', { size: '12', style: 'transform: rotate(90deg)'})
                  .sub_menu.text-start.hide
                    %ul.no-margin.no-padding.regular                            
                      %li
                        = link_to admin_user_path(user), target: '_blank' do
                          %span.me-2= glyphicon('eye', size: 12)
                          %span Voir
                      %li
                        = link_to send_reset_password_instructions_admin_user_path(user), method: :post, data: { confirm: t('actions.confirm') }, title: 'Envoie un email' do
                          %span.me-2= glyphicon('reload', size: 12)
                          %span Réinitialiser le mot de passe
        = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: admin_users_path, target: '#table_users', total_pages: @users.total_pages, filter: 'filter-organizations' }               

        .modal#filter-organizations
          .modal-dialog
            .modal-content
              .modal-header.clearfix
                %h5.modal-title.bold Filtrer
                %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
              = form_tag admin_users_path, method: :get, class: 'form-filter' do 
                .modal-body
                  = hidden_field_tag :direction, sort_direction
                  = hidden_field_tag :sort, sort_column
                  - item = params[:user_contains][:organization_id] rescue ''    
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[organization_id]', t('activerecord.models.organization.name')            
                    = select_tag 'user_contains[organization_id]', options_from_collection_for_select(Organization.order(name: :asc), :id, :name, selected: item), include_blank: true, class: 'select form-select'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[is_admin]', t('activerecord.models.user.attributes.is_admin')            
                    = select_tag 'user_contains[is_admin]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:user_contains][:is_admin] rescue '')), include_blank: true, class: 'select form-select'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[is_organization_admin]', t('activerecord.models.user.attributes.is_organization_admin')            
                    = select_tag 'user_contains[is_organization_admin]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:user_contains][:is_organization_admin] rescue '')), include_blank: true, class: 'select form-select'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[is_prescriber]', t('activerecord.models.user.attributes.is_prescriber')            
                    = select_tag 'user_contains[is_prescriber]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:user_contains][:is_prescriber] rescue '')), include_blank: true, class: 'select form-select'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[is_guest]', t('activerecord.models.user.attributes.is_guest')            
                    = select_tag 'user_contains[is_guest]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:user_contains][:is_guest] rescue '')), include_blank: true, class: 'select form-select'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[is_inactive]', t('activerecord.models.user.attributes.is_inactive')            
                    = select_tag 'user_contains[is_inactive]', options_for_select([[t('yes_value'), 1], [t('no_value'), 0]], (params[:user_contains][:is_inactive] rescue '')), include_blank: true, class: 'select form-select'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[company]', t('activerecord.models.user.attributes.company')
                    .select-container.w-100.no-padding
                      = text_field_tag 'user_contains[company]', (params[:user_contains][:company] rescue ''), class: 'form-control'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[code]', t('activerecord.models.user.attributes.code')
                    .select-container.w-100.no-padding
                      = text_field_tag 'user_contains[code]', (params[:user_contains][:code] rescue ''), class: 'form-control'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[last_name]', t('activerecord.models.user.attributes.last_name')
                    .select-container.w-100.no-padding
                      = text_field_tag 'user_contains[last_name]', (params[:user_contains][:last_name] rescue ''), class: 'form-control'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[first_name]', t('activerecord.models.user.attributes.first_name')
                    .select-container.w-100.no-padding
                      = text_field_tag 'user_contains[first_name]', (params[:user_contains][:first_name] rescue ''), class: 'form-control'
                  .form-group
                    %label.semibold
                      = label_tag 'user_contains[email]', t('activerecord.models.user.attributes.email')
                    .select-container.w-100.no-padding
                      = text_field_tag 'user_contains[email]', (params[:user_contains][:email] rescue ''), class: 'form-control'
                .modal-footer
                  = link_to "Reinitialiser", admin_users_path, class: 'btn btn-light', title: t('filters.reset')
                  = submit_tag t('filters.action'), class: 'btn btn-primary'

= javascript_include_tag 'back/users/assets/javascripts/main'