= stylesheet_link_tag 'front/subscriptions/assets/stylesheets/main'

#subscriptions.edit
  = form_tag organization_customer_subscription_path(@organization, @customer), method: :patch, class: 'simple_form form form-horizontal margin0', :data => {:"is_recently_created" => @customer.recently_created? } do
    .box
      = render file: Rails.root.join('app/templates/front/customers/views/customers/main/_subscription_options.html.haml')

      .form-group.no-margin
        .w-100.text-end
          = link_to 'Annuler', organization_customer_path(@organization, @customer, tab: 'subscription-tab'), class: 'btn btn-light semibold'
          = submit_tag "Valider les modifications", class: 'btn btn-primary bold'

  = javascript_include_tag 'front/customers/assets/javascripts/main'
/ = javascript_include_tag 'front/subscriptions/assets/javascripts/main'