.tag_reloaded_content
  %p
    Pour ajouter plusieurs tags à ce(s) document(s), separer les par des
    %span.semibold #
    %span .
  .form-group
    %label Nom du tags
    .select-container.no-padding.w-100       
      != text_field_tag :tags, nil, placeholder: "#tag", :id => "selectionsTags", :class => ""
      %input.tag_type{ type: :hidden, value: "#{@models.first.class.name.downcase}"}  
  .tag.d-block
    - list_tags = []
    - @models.each do |document|
      - tags = document.get_tags.split('-')
      - tags.each do |tag|
        - if not list_tags.include?(tag)
          - list_tags << tag
          .tag_itteration.d-inline
            %input.tag_value{ type: :hidden, value: "#{tag.strip}"}
            %span= tag
            %span.delete_tag.pointer.red-label.ms-1{ title: "Supprimer ce tag" }= glyphicon('circle-x', size: 12)