= stylesheet_link_tag 'front/organizations/assets/stylesheets/show'
= stylesheet_link_tag 'front/file_sending_kits/assets/stylesheets/main'

%input#organization_id{type: :hidden, value: @organization.id, name: 'organization_id'}

.file_sending_kits_edit

  - manual_paper_set_order = CustomUtils.is_manual_paper_set_order?(@organization)
  .row
    .text-center
      %h5 Edition du kit d'envoi de documents
  .box.mt-4
    = simple_form_for [@organization, @file_sending_kit], html: { class: 'form form-horizontal margin0', :enctype => manual_paper_set_order ? "multipart/form-data" : ""  } do |f|
      .row
        .col-md-6
          .field{ style: 'margin-bottom: 10px' }
            .box.bg-light.height_groups.groups_1
              %h4= t('common.details')
              %hr
              = f.input :title
              = f.input :position
              = f.input :instruction, as: :text
        .col-md-6
          .field{ style: 'margin-bottom: 10px' }
            .box.bg-light.height_groups.groups_1
              %h4= t('activerecord.models.file_sending_kit.attributes.logo.center')
              %hr
              - if manual_paper_set_order
                .float-left
                  = f.input :center_logo, as: :file, input_html: { class: 'span12' }, label: 'Chemin', :accept => 'image/png', required: !File.exist?(@file_sending_kit.real_logo_path)
                  = f.input :logo_height
                  = f.input :logo_width
                .float-right
                  - if File.exist?(@file_sending_kit.real_logo_path)
                    %img{ src: get_logo_organization_file_sending_kit_path(position: 'center'), alt: 'center_logo', style: 'max-width: 150px;' }
              - else
                = f.input :logo_path, input_html: { class: 'span12' }
                = f.input :logo_height
                = f.input :logo_width
      .row
        .col-md-6
          .field{ style: 'margin-bottom: 10px' }
            .box.bg-light.height_groups.groups_1
              %h4= t('activerecord.models.file_sending_kit.attributes.logo.left')
              %hr
              - if manual_paper_set_order
                .float-left
                  = f.input :left_logo, as: :file, input_html: { class: 'span12' }, label: 'Chemin', :accept => 'image/png', required: !File.exist?(@file_sending_kit.real_left_logo_path)
                  = f.input :left_logo_height
                  = f.input :left_logo_width
                .float-right
                  - if File.exist?(@file_sending_kit.real_left_logo_path)
                    %img{ src: get_logo_organization_file_sending_kit_path(position: 'left'), alt: 'left_logo', style: 'max-width: 150px;' }
              - else
                = f.input :left_logo_path, input_html: { class: 'span12' }
                = f.input :left_logo_height
                = f.input :left_logo_width
        .col-md-6
          .field{ style: 'margin-bottom: 10px' }
            .box.bg-light.height_groups.groups_1
              %h4= t('activerecord.models.file_sending_kit.attributes.logo.right')
              %hr
              - if manual_paper_set_order
                .float-left
                  = f.input :right_logo, as: :file, input_html: { class: 'span12' }, label: 'Chemin', :accept => 'image/png', required: !File.exist?(@file_sending_kit.real_right_logo_path)
                  = f.input :right_logo_height
                  = f.input :right_logo_width
                .float-right
                  - if File.exist?(@file_sending_kit.real_right_logo_path)
                    %img{ src: get_logo_organization_file_sending_kit_path(position: 'right'), alt: 'right_logo', style: 'max-width: 150px;' }
              - else
                = f.input :right_logo_path, input_html: { class: 'span12' }
                = f.input :right_logo_height
                = f.input :right_logo_width
      .form-group.form-footer-content.text-end
        = link_to t('actions.cancel'), organization_path(@organization, tab: 'file_sending_kit'), class: 'btn btn-light'
        = f.submit t('actions.submit'), class: 'btn btn-primary'


= javascript_include_tag 'front/file_sending_kits/assets/javascripts/main'
