- packs.each do |pack|
  .box
    .row
      .col-md-5
        %h5.pack.semibold= pack.name.to_s.gsub('all', '').strip
        %h6.under_pack.regular= pack.owner.organization.name 
      .col-md-4
        .created-date
          %span.semibold Premier ajout le :
          %span= pack.created_at.strftime('%d/%m/%Y')
        .updated-date
          %span Modifié le :
          %span= pack.updated_at.strftime('%d/%m/%Y')
      .col-md-2.no-padding
        .operation-count 
          %span= pack.pieces.size
      .col-md-1
        =link_to glyphicon('caret-right', { size: '20', color: '#CCC' }), documents_details_path(id: pack.id) 
    %hr    
    .row
      .col-md-8
        - if pack.created_at >= 1.days.ago
          %span.badge.badge-success.semibold Nouveau
        - if pack.has_not_delivered_preseizures?
          %span.badge.badge-danger.semibold Ecritures non livrées
        - if pack.pieces.where(created_at: [7.days.ago..Time.now]).size >= 20
          %span.badge.badge-warning.semibold Important
        - if pack.pieces.collect(&:expense).any?
          %span.badge.bg-dark.semibold Notes de frais
        - if not pack.is_fully_processed
          %span.badge.bg-dark.semibold En cours ...

        - pack.get_tags.split(' - ').each_slice(3).first.try(:each) do |tag|
          - if tag != '-'
            %span.badge.bg-dark.semibold= tag

      .col-md-4.text-end
        / %span.ms-2= glyphicon('flag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
        %span.ms-2.update_tags{title: 'Taguer le lot', data: {id: pack.id, type: 'pack'}}= glyphicon('tag', { size: '16', color:'rgba(26, 26, 26, 0.32);'})
        %span.ms-2.download_pack_bundle{title: 'Télécharger', data: {id: pack.id}}= glyphicon('data-transfer-download', { size: '16', color:'rgba(26, 26, 26, 0.32);'})
        %span.ms-2.download_pack_archive{title: 'Télécharger une archive zip', data: {id: pack.id}}= glyphicon('account-logout', { size: '16', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
        - if @user.has_collaborator_action?
          %span.ms-2.preseizures_export{title: 'Export écriture comptable', data:{ id: pack.id, type: 'special_piece', multi: 'true' }}= glyphicon('cloud-download', { size: '16', color:'rgba(26, 26, 26, 0.32);'})
          - if pack.user.uses_api_softwares?
            %span.ms-2.deliver_preseizures{title: 'Livraison écriture comptable', data: {id: pack.id, type: 'special_piece', multi: 'true'}}= glyphicon('loop-circular', { size: '16', color:'rgba(26, 26, 26, 0.32);'})