- @pieces.each_slice(4) do |pieces|
  // -- grid type
  .box.grid.animatedChild.toLeft{ class: (!@user.pre_assignement_displayed? || params[:grid_or_list_view] == 'grid')? '' : 'hide' } 
    .row.grid-content
      - pieces.each do |piece|
        .col-md-3
          .stamp-content{ id: "document_grid_#{piece.id}", data: { preseizure_id: piece.preseizures.first.try(:id) } }
            .image_piece.text-center.animated-pointer
              %span.zoom.pdf-viewer.pointer.float-start{title: 'Visualiser la pièce', "data-content-url" => piece.get_access_url}
                = glyphicon('magnifying-glass', { size: '20', color: 'background: rgba(26, 26, 26, 0.7)'})
              = image_tag document_thumb_url(piece)
            .label-content.text-center.p-2= piece.name
        
  //---------------------------------------------------------------------------------------------------------------------------------------------
  // list type
  - if @user.pre_assignement_displayed?
    .row.select-box-document{ class: params[:grid_or_list_view] != 'grid' ? '' : 'hide' }      
      - count       = @pieces.size
      - count_right = (count/2)
      - count_left  = count - count_right
      .w-50.animatedGroups
        = render partial: 'piece_box_detail', locals: { pieces: @pieces.first(count_left), animation: 'toLeft' }
      .w-50.animatedGroups
        = render partial: 'piece_box_detail', locals: { pieces: @pieces.last(count_right), animation: 'toRight' }
            
  - else
    .preseizures_box.hide.animatedChild.toLeft
      .p-5 Ecriture comptable non disponible




