- @pieces.each_slice(4) do |pieces|
  // -- grid type
  .box.grid.hide
    .row.grid-content
      - pieces.each do |piece|
        .col-md-3
          .stamp-content{ data: { preseizure_id: piece.preseizures.first.try(:id) } }
            .image_piece.text-center
              = image_tag document_thumb_url(piece)
            .label-content.text-center.p-2= piece.name
  //---------------------------------------------------------------------------------------------------------------------------------------------
  // list type
  - pieces.each do |piece|
    .preseizures_box
      - preseizure = piece.preseizures.first
      - if preseizure
        .box.list.dynamic_box{ id: "document_#{piece.id}", data: { preseizure_id: preseizure.id, type: 'piece' } }
          .row.list-content
            .w-25      
              .stamp-content.pagethumb 
                .zoom.pointer
                  = glyphicon('magnifying-glass', { size: '20', color: 'background: rgba(26, 26, 26, 0.7)'})         
                .image_piece
                  = image_tag document_thumb_url(piece)
            .w-75
              = render file: Rails.root.join('app/templates/front/documents/views/documents/preseizures/_preseizure_box.html.haml'), locals: { preseizure: preseizure, piece: piece, operation: nil }