= stylesheet_link_tag 'front/documents/assets/stylesheets/main'

.container-fluid
  .row.derivationLeft
    .col-md-1.text-end
      %button.btn.btn-default
        %a{href: '/documents'}
          %span.me-2= glyphicon('arrow-left', {size: '12', color: '#72AA42'})
          %span Retour
    .col-md-7.no-padding{ id: 'current_pack', data: { id: @pack.id } }
      %h3.bold.mt-2
        %span.me-2= @pack.name.gsub('all', '')
        %span.badge.badge-secondary.regular.datas_size= @pieces.total_count
        %span.badge.badge-danger.semibold.deleted-piece-count
          = @pieces_deleted.count.to_s + " pièce(s) supprimée(s)"
          .content-list-pieces-deleted.text-start.regular.hide
            %ul
              - @pieces_deleted.each do |piece_deleted|
                %li.pointer{"data-content" => html_piece_view(piece_deleted), id: piece_deleted.id}
                  %span #{piece_deleted.name} supprimée le #{piece_deleted.delete_at.try(:to_date)} par #{piece_deleted.delete_by}
                  %span.float-end.restore{ data: {"piece-id": piece_deleted.id}} Restaurer
    .col-md-3   
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input#search_input{placeholder: 'Rechercher'}
    .col-md-1.no-padding
      %button.btn.btn-light.more-filter.semibold
        %span.me-2= glyphicon('layers', { size: '16', color: '#72AA42'})
        %span Filtrer

  .row.box.derivationRight.p-4
    .col-md-1.no-padding.text-left.change-view.to-list= glyphicon('grid-two-up', { size: '18', color:'rgba(26, 26, 26, 0.32);'}) 
    .col-md-1.no-padding.text-left.change-view.to-grid.hide= glyphicon('media-pause', { size: '18', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'}) 
    .col-md-9
    .col-md-2.text-end  
      %span.pointer.ms-2.action-selected.delete_piece.hide{title: 'Supprimer', multi: 'true'}= glyphicon('trash', { size: '18',  color:'#FF4848'})
      %span.pointer.ms-2.action-selected.update_tags.hide{title: 'Tagger', multi: 'true'}= glyphicon('tag', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
      %span.pointer.ms-2.action-selected.hide{title: 'Editer', multi: 'true'}= glyphicon('pencil', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
      %span.pointer.ms-2.download_pack_bundle{title: 'Télécharger', data: {id: @pack.id}}= glyphicon('data-transfer-download', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
      %span.pointer.ms-2.download_pack_archive{title: 'Télécharger une archive zip', data: {id: @pack.id}}= glyphicon('account-logout', { size: '18', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
      %span.pointer.ms-2.preseizures_export{title: 'Export écriture', data:{ id: @pack.id, type: 'special_piece', multi: 'true' }}= glyphicon('cloud-download', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
      %span.pointer.ms-2.deliver_preseizures{title: 'Livraison écriture comptable', data: { id: @pack.id, type: 'special_piece', multi: 'true'}}= glyphicon('loop-circular', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
      %span.pointer.form-check.d-inline.ms-2      
        %input.form-check-input.pointer.float-none.select-all{ type: :checkbox, value: "" }          

  .main-content.derivationLeft
    - if @pieces.size > 0
      = render partial: 'piece_box'
    - else
      .no-data-found.grey-label.semibold.box= t('global.no-data-found')

= render partial: 'document_dialog'
= render file: Rails.root.join('app/templates/front/documents/views/documents/preseizures/_preseizures_dialog.html.haml')

= javascript_include_tag 'front/documents/assets/javascripts/pieces_details'