#emails
  .row.derivationLeft.box.small-shadow.clearfix.header
    .col-md-6      
      %h3
        Liste des mails d'envoi de documents
        %span.badge.bg-dark= @emails_count
    .col-md-6.text-end
      %button.btn.btn-warning.retriever-admin-filter
        %span.me-2= glyphicon('transfer', { size: '10', color: '#000', style: 'transform: rotate(90deg)'})
        %span Filtrer     

  .row.box.derivationRight
    .col-md-12      
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th= sortable :created_at, t('activerecord.models.common.attributes.created_at')
            %th= sortable :state,      t('activerecord.models.email.attributes.state')
            %th= sortable :from,       t('activerecord.models.email.attributes.from')
            %th= sortable :to,         t('activerecord.models.email.attributes.to')
            %th= sortable :subject,    t('activerecord.models.email.attributes.subject')
            %th= sortable :size,       t('activerecord.models.email.attributes.size') + ' (Mo)'
            %th= t('activerecord.models.email.attributes.attachment_names_count')
            %th.text-end Action
        %tbody
          - @emails.each do |email|
            %tr
              %td= l(email.created_at, format: '%d %b %Y %H:%M')
              %td= email_state email
              %td
                - if email.from_user
                  = link_to(email.from_user.code, [:admin, email.from_user])
                  \-
                = email.from
              %td
                - if email.to_user
                  = link_to(email.to_user.code, [:admin, email.to_user])
                  \-
                = email.to
              %td= email.subject
              %td= file_size email.size
              %td= email.attachment_names.try(:count)                
              %td.text-end.pointer
                .action.sub_edit_delete
                  %span.glyph= glyphicon('ellipses', { size: '12', style: 'transform: rotate(90deg)'})
                .sub_menu.text-start.hide
                  %ul.no-margin.no-padding.regular
                    - if email.errors_list.try(:any?)
                      %li                               
                        = link_to show_errors_admin_emailed_document_path(email), class: 'no-style black-label' do
                          %span.me-2= glyphicon('warning', size: 12)
                          %span Afficher les erreurs
                    - if email.cloud_original_content_object.try(:path).present?
                      %li                               
                        = link_to admin_emailed_document_path(email), class: 'no-style black-label' do
                          %span.me-2= glyphicon('data-transfer-download', size: 12)
                          %span Télécharger le mail original
