- content_for :form do
  = simple_nested_form_for @accounting_plan, url: '', html: { class: 'form-horizontal', id: 'form_vat_account' }, wrapper: false do |f| 
    .form-group.text-start 
      = f.fields_for :vat_accounts do |vat_account|
        %hr
        .box.no-margin
          .form-group.row
            .col-md-11
              .w-100.text-start
                = vat_account.label :code, label: t('activerecord.models.vat_account.attributes.code'), class: 'semibold'
                .select-container.no-padding.w-100
                  = vat_account.input :code, label: false
                = vat_account.label :nature, label: t('activerecord.models.vat_account.attributes.nature'), class: 'semibold'
                .select-container.no-padding.w-100
                  = vat_account.input :nature, label: false
                = vat_account.label :account_number, label: t('activerecord.models.vat_account.attributes.account_number'), class: 'semibold'
                .select-container.no-padding.w-100
                  = vat_account.input :account_number, label: false
            .col-md-1
              .w-10.text-start
                = vat_account.link_to_remove glyphicon('x', { size: '15', color: "#FF4848" })

    .form-group.text-start      
      = f.link_to_add 'Ajouter un compte de TVA', :vat_accounts, class: 'btn btn-light mt-3 mb-3'
      
  .modal-footer
    - idocus_params = param_encode({ url: update_multiple_organization_customer_accounting_plan_vat_accounts_path(@organization, @customer), method: 'post', form: { id: 'form_vat_account' }, modal: { id: 'add-vat-account' } , redirect_to: { url: organization_customer_accounting_plan_path(@organization, @customer), method: 'get', html: { target: '#accounting_plan', target_dest: '.tab-pane#accounting-plan' } } })
    %button.btn.btn-primary.w-25.as_idocus_ajax{ type: :button, idocus: idocus_params } Valider

#accounting_plan.edit.derivationRight 
  = content_for :form
 


