/ = stylesheet_link_tag 'front/vat_accounts/assets/stylesheets/main'

#vat_accounts{vat_accounts_count: @vat_accounts.size}
  %input#organization_id{type: :hidden, value: @organization.id, name: 'organization_id'}
  %input#customer_id{type: :hidden, value: @customer.id, name: 'customer_id'}
  = stylesheet_link_tag 'front/vat_accounts/assets/stylesheets/main'
  .row.derivationLeft
    .col-md-7      
    .col-md-5.text-end.no-padding
      / %button.btn.btn-light.semibold
      /   %span.me-2= glyphicon('cloud-download', { size: '16', color: '#72AA42'})
      /   %span Importer un CSV            
      %button.btn.btn-primary.semibold#add-new-vat-account
        %span.me-2= glyphicon('plus', { size: '15', color: '#FFFF'})
        %span Ajouter un compte TVA
  .mb-3
  .row.derivationRight
    .col-md-12
      %table.table.table-striped.table_integration
        %thead
          %th= t('activerecord.models.vat_account.attributes.code')
          %th= t('activerecord.models.vat_account.attributes.nature')
          %th= t('activerecord.models.vat_account.attributes.account_number')          
        %tbody
          - @vat_accounts.each do |vat_account|
            %tr
              %td.semibold= vat_account.code
              %td= vat_account.nature
              %td= vat_account.account_number              

  .modal#add-vat-account
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold Ajouter un compte TVA
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body.back-grey
          .form-group
            %p Loading ...
        .modal-footer
          .p-2

  = javascript_include_tag 'front/vat_accounts/assets/javascripts/main'


/ = javascript_include_tag 'front/vat_accounts/assets/javascripts/main'