= simple_form_for @group, url: (action_name.in?(%w(new create)) ? organization_groups_path(@organization) : organization_group_path(@organization, @group)), html: { id: 'groups_edition_form', class: ' form-horizontal create_update_form' } do |f|
  - if @user.leader? || @user.manage_collaborators || @user.manage_groups
    = f.label :name, label: t('activerecord.models.group.attributes.name'), :class => "semibold"
    .select-container.no-padding.w-100
      = f.input :name, label: false
    = f.label :description, label: t('activerecord.models.group.attributes.description'), :class => "semibold"
    .select-container.no-padding.w-100
      = f.input :description, as: :text, label: false
  - if 1 == 0    
    %h5 Dropbox Extended
    %hr
    = f.label :dropbox_delivery_folder, label: t('activerecord.models.group.attributes.dropbox_delivery_folder'), :class => "semibold"
    .select-container.no-padding.w-100
      = f.input :dropbox_delivery_folder, label: false, input_html: { class: 'input-xxlarge' }
    .form-group.row
      .col-md-10
        = f.label :is_dropbox_authorized, t('activerecord.models.group.attributes.is_dropbox_authorized'), class: 'semibold'
      .col-md-2
        .form-check.form-switch
          = f.input :is_dropbox_authorized, as: :boolean, label: false, input_html: { class: 'form-check-input input_switch input_check_field', id: 'is_dropbox_authorized_field' }
          %label.semibold{class: 'form-check-label label_check_field', for: 'is_dropbox_authorized_field'} Non
  - content_for :assignation do
    - if @user.leader? || @user.manage_collaborators || @user.manage_groups
      = f.association :members, collection: @organization.members.order(:code), label_method: :info, input_html: { class: 'searchable-option-list show-selection-below-list show-select-all', id: 'select-collaborators-list'}, include_blank: false, multiple: true
    = f.association :customers, collection: @organization.customers.order(:code), label_method: :info, input_html: { class: 'searchable-option-list', id: 'select-customers-collaborators-list' }, include_blank: false, multiple: true

  - if @user.leader? || @user.manage_collaborators || @user.manage_groups
    = content_for :assignation
  - else
    = content_for :assignation
