.groups.page-content
  .row.mt-5
    .col-md-6
      %h3.bold
        Gérer les groupes
        %span.badge.badge-secondary.badge-sm.regular= @groups.size
    .col-md-2.no-padding
      .input-group.mb-3.search-content
        %span.input-group-text.group-search#basic-addon1= glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
        %input.form-control#search_input{ type: :text, "aria-label" => "Rechercher", "aria-describedby" => "basic-addon1", name:'group_contains[text]', placeholder: 'Rechercher' } 
    .col-md-2.text-center.no-padding
      %button.btn.btn-light.more-filter.group_filter.semibold
        %span.me-2 Filtrer
        %span
          = glyphicon('transfer', { size: '15', color: '#72AA42', style: 'transform: rotate(90deg)'})
    .col-md-2.text-start
      %button.btn.btn-primary.group.create.new_edit.semibold
        %span= glyphicon('plus', { size: '14', color: '#FFFF'})
        %span.ms-1 Créer un groupe

  - @groups.each_slice(3) do |groups|
    .row.mt-3
      - groups.each do |group|
        .col-md-4.box.no-margin.m-2.padding-group-collaborator
          .head.row
            .col-md-11
              .title.semibold
                = link_to group.name, organization_group_path(@organization, group), class: 'show_details_group'
              .content-box= group.created_at.strftime('%d%m%Y')
            .col-md-1
              .action.submenu_action.edit_group.pointer.list-groupe
                %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
              .sub_menu.text-start.hide
                %ul.no-margin.no-padding.regular.edit-delete{id: "group-#{group.id}"}
                  - if @organization.is_active
                    - if @user.leader? || @user.manage_groups
                      %li.edit.group.new_edit
                        = link_to glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'}) + ' Éditer', '#', link: edit_organization_group_path(@organization, group), class: 'edit_organization_group'
                    - if @user.leader?
                      - if group.is_dropbox_authorized
                        - confirm = "Attention ! la suppression de ce groupe entraîne l'arrêt du déversement automatique de ses documents dans votre dropbox. Voulez-vous continuer ?"
                      - else
                        - confirm = 'Etês vous sûr ?'
                      %li.delete.red-label
                        = link_to glyphicon('trash', { size: '15', color: "#FF4848" }) + ' supprimer', '#', text: confirm, link: organization_group_path(@organization, group), class: 'destroy_group'
          %br        
          .body.content-box
            Le groupe direction se compose des administrateurs
            %br
            et d’autres personnes vraiment gentilles.

            .row.mt-3
              .col-md-11
                .semibold Nombre de collaborateurs :
              .col-md-1
                %span.badge.badge-secondary.badge-sm.semibold= group.collaborators.count
            .row.mt-2
              .col-md-11
                .semibold Nombre de clients :
              .col-md-1
                %span.badge.badge-secondary.badge-sm.semibold= group.customers.count


  .modal#add_edit_group
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold Création d'un nouveau groupe
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
          Chargement ...
        .modal-footer
          %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Annuler
          %button.btn.btn-primary.bold.create_update{ type: :button } Ajouter


  .modal#show_group_details
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold.text-center Détail du groupe
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
          Chargement ...
        .modal-footer
          %button.btn.btn-light{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'} Fermer

  .modal#search_group_filter
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title.bold Filtrer les groupes
          %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
        .modal-body
          = form_tag organization_groups_path(@organization), method: :get, class: 'form-filter group_f search_contains_filter' do
            = hidden_field_tag :direction, sort_direction
            = hidden_field_tag :sort, sort_column
            = hidden_field_tag :per_page, per_page
            .form-group
              .label-section
                = label_tag 'group_contains[name]', t('activerecord.models.group.attributes.name')
              .control-section
                .select-container.no-padding.w-100
                  = text_field_tag 'group_contains[name]', (params[:group_contains][:name] rescue '')
            .form-group
              .label-section
                = label_tag 'group_contains[description]', t('activerecord.models.group.attributes.description')
              .control-section
                .select-container.no-padding.w-100
                  = text_field_tag 'group_contains[description]', (params[:group_contains][:description] rescue '')
        .modal-footer
          %button.btn.btn-light.cancel{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button' } Annuler
          %button.btn.btn-primary.bold.search_filter.group_f{ type: :button } Filter