#news
  .row.derivationLeft.box.small-shadow.clearfix.header
    .col-md-6      
      %h3
        News
        %span.badge.bg-dark= @news.total_count
    .col-md-6.text-end
      %button.btn.btn-warning.retriever-admin-filter
        %span.me-2= glyphicon('transfer', { size: '10', color: '#000', style: 'transform: rotate(90deg)'})
        %span Filtrer     
      %button.btn.btn-primary
        = link_to "#", class: 'no-style' do
          %span.me-2= glyphicon('plus', size: 10, color: 'white')
          %span= t('actions.new')

  .row.derivationRight.box
    .col-md-12      
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th= sortable :created_at,      t('activerecord.models.common.attributes.created_at')
            %th= sortable :updated_at,      t('activerecord.models.common.attributes.updated_at')
            %th= sortable :title,           t('activerecord.models.news.attributes.title')
            %th= sortable :target_audience, t('activerecord.models.news.attributes.target_audience')
            %th= sortable :published_at,    t('activerecord.models.news.attributes.published_at')
            %th.text-end Action
        %tbody
          - @news.each do |news|
            %tr
              %td= l(news.created_at, format: '%d %b %Y %H:%M')
              %td= l(news.updated_at, format: '%d %b %Y %H:%M')
              %td= news.title
              %td= t('simple_form.labels.news.target_audiences.' + news.target_audience)
              %td
                - if news.published_at
                  = l(news.published_at)
                - else
                  = link_to 'Publier maintenant', publish_admin_news_path(news), data: { method: 'POST', confirm: t('actions.confirm') }, class: 'btn btn-outline-secondary'
              %td.text-end.pointer
                .action.sub_edit_delete
                  %span.glyph= glyphicon('ellipses', { size: '12', style: 'transform: rotate(90deg)'})
                .sub_menu.text-start.hide
                  %ul.no-margin.no-padding.regular
                    %li                               
                      = link_to admin_news_path(news), class: 'no-style black-label' do
                        %span.me-2= glyphicon('eye', size: 12)
                        %span Voir
                    %li                               
                      = link_to edit_admin_news_path(news), class: 'no-style black-label' do
                        %span.me-2= glyphicon('pencil', size: 12)
                        %span Modifier
                    %li                               
                      = link_to admin_news_path(news), class: 'no-style', data: { method: 'DELETE', confirm: t('actions.confirm') }  do
                        %span.me-2= glyphicon('trash', size: 12, color: '#FF4848')
                        %span.red-label Supprimer
                    
= javascript_include_tag 'admin/news'