.form-group
  %table.table.table-striped
    %thead
      %th Nom journal comptable
      %th Code
      %th Par défaut ?
      %th Type de pré-saisie
      %th Type de compte
      %th Compte Tiers
      %th Compte de charge/produit
      %th.text-end Action
    %tbody
      - @customer.account_book_types.each do |journal|
        %tr
          %td.semibold= journal.description
          %td= journal.name
          %td
            - if journal.is_pre_assignment_processable?
              = journal.default_account? ? 'Oui' : 'Non'
          %td= t("activerecord.models.account_book_type.attributes.entry_type_#{journal.entry_type}")
          %td
            - if journal.is_pre_assignment_processable?
              = journal.default_account? ? 'compte par défaut' : "compte d'attente"
          %td= journal.meta_account_number
          %td= journal.meta_charge_account
          %td.text-end.pointer
            .action.sub_edit_delete.list-collaborators
              %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
            .sub_menu.text-start.hide
              %ul.no-margin.no-padding.regular
                - if (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized) && @customer.active?
                  %li.edit
                    %span= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                    &nbsp;Editer
                  %li.delete.red-label
                    %span= glyphicon('trash', { size: '15', color: "#FF4848" })
                    &nbsp;Supprimer

.form-group
  .text-end.notif-booktype 2/5 journaux comptables utilisés

- if @customer.account_book_types.count < @customer.options.max_number_of_journals
  .mb-5
  .form-group
    %label.semibold Ajouter un journal
    %select.form-control#book-customer{ name: 'book-customer', multiple: true }              
      %option book 1
      %option book 2
      %option book 3
      %option book 4


.form-group.no-margin
  .w-100.text-end
    %button.btn.btn-light.semibold Annuler
    %button.btn.btn-primary.bold Valider les modifications