#customer.edit.acd.derivationRight
  %input{ type: :hidden, id: "organization_id", value: "#{@organization.id}"}
  %input{ type: :hidden, id: "customer_id", value: "#{@customer.id}"}
  %h6.semibold Liaison avec ACD
  .mb-4
  = simple_form_for @customer, url: update_acd_organization_customer_path(@organization, @customer), html: { class:  'form-horizontal label-medium', id: 'acd-form' } do |f|
    .accept_acd{ class: ('hide' unless @customer.try(:acd).try(:used?)) }  
    = f.simple_fields_for :acd do |m|
      .select-container.no-padding.w-100
        .form-group
          .label-section
            = label_tag 'user[acd_attributes][code]', 'Veuillez choisir le dossier ACD correspondant'
          .control-section
            = select_tag 'user[acd_attributes][code]', options_for_select(acd_companies_list_options_for_select(@organization), @customer.acd&.code), include_blank: true, class: 'form-control'
      .form-group.mt-2
        - auto_deliver = @customer.try(:acd).try(:auto_deliver) || -1
        .row
          .col-md-4
            = label_tag 'user[acd_attributes][auto_deliver]', t('activerecord.models.software_acd.attributes.auto_deliver'), class: 'semibold'
          .col-md-4
            .form-check.form-check-inline               
              = radio_button_tag 'user[acd_attributes][auto_deliver]', auto_deliver_options[0][1], auto_deliver == -1, class: 'form-check-input'
              %label.form-check-label Paramètres du cabinet
          .col-md-2
            .form-check.form-check-inline
              = radio_button_tag 'user[acd_attributes][auto_deliver]', auto_deliver_options[1][1], auto_deliver == 0, class: 'form-check-input compta-user-options'
              %label.form-check-label Non
          .col-md-2
            .form-check.form-check-inline
              = radio_button_tag 'user[acd_attributes][auto_deliver]', auto_deliver_options[2][1], auto_deliver == 1, class: 'form-check-input compta-user-options'
              %label.form-check-label Oui
      %input#auto_deliver_customer{ type: :hidden, name: "auto_deliver_customer", value: "#{@customer.try(:acd).try(:auto_deliver?)}"}

  .idocus_modal_buttons
    - if @customer.configured?
      - idocus_params = param_encode({ url: update_acd_organization_customer_path(@organization, @customer), method: 'post', form:{ id: 'acd-form', dump_action: true }, modal: { id: '#' }, redirect_to: { url: organization_customer_path(@organization, @customer, tab: 'acd'), html: { target: '.acd_configuration' } } })
      %button.btn.btn-primary.acd_validation.as_idocus_ajax{ type: :button, idocus: idocus_params } Valider
