= stylesheet_link_tag 'front/customers/assets/stylesheets/main'

#customer-content
  %input#organization_id{type: :hidden, value: @organization.id, name: 'organization_id'}
  %input#customer_id{type: :hidden, value: @customer.id, name: 'customer_id'}
  .row.derivationRight
    .col-md-12
      = render 'header'

  .mb-4

  - if @customer.still_active?
    .w-100
      %span.auto-scroll-span-left.hide.ml-1.mr-1.float-start
        %button.btn.btn-default
          = glyphicon('arrow-left', size: '16', color: '#C1D837' )
      %span.auto-scroll-span-right.hide.mr-auto.ml-1.float-end
        %button.btn.btn-default
          = glyphicon('arrow-right', size: '16', color: '#C1D837')
      .main-menu-content.auto-scroll-div
        %ul.list.nav.nav-tabs.ms-3.derivationLeft{ "role" => "tablist" }
          %li.nav-item.no-margin{ "role" => "presentation" }
            %button.semibold.nav-link#information-tab{ class: ('active' if params[:tab] == 'information' || params[:tab].blank? ), "data-bs-toggle" => "tab", "data-bs-target" => "#information", type: :button, "role" => "tab", "aria-controls" => "information", "aria-selected" => "#{params[:tab] == 'information' || params[:tab].blank?}" } Informations générales
          - if @customer.active? && !@organization.specific_mission
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#subscription-tab{ class: ('active' if params[:tab] == 'subscription'), "data-bs-toggle" => "tab", "data-bs-target" => "#subscription", type: :button, "role" => "tab", "aria-controls" => "subscription", "aria-selected" => "false" } Forfait
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#orders-tab{ class: ('active' if params[:tab] == 'orders'), "data-bs-toggle" => "tab", "data-bs-target" => "#orders", type: :button, "role" => "tab", "aria-controls" => "orders", "aria-selected" => "#{params[:tab] == 'orders'}" } Commandes Kits/Scan
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#adresses-tab{ class: ('active' if params[:tab] == 'addresses'), "data-bs-toggle" => "tab", "data-bs-target" => "#adresses", type: :button, "role" => "tab", "aria-controls" => "adresses", "aria-selected" => "#{params[:tab] == 'addresses'}" } Adresses
          - if @organization.specific_mission
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#journals-tab{ class: ('active' if params[:tab] == 'journals'), "data-bs-toggle" => "tab", "data-bs-target" => "#journals", type: :button, "role" => "tab", "aria-controls" => "journals", "aria-selected" => "#{params[:tab] == 'journals'}" } Dossiers
          - else
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#journals-tab{ class: ('active' if params[:tab] == 'journals'), "data-bs-toggle" => "tab", "data-bs-target" => "#journals", type: :button, "role" => "tab", "aria-controls" => "journals", "aria-selected" => "#{params[:tab] == 'journals'}" } Journaux comptables
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#compta-tab{ class: ('active' if params[:tab] == 'compta'), "data-bs-toggle" => "tab", "data-bs-target" => "#compta", type: :button, "role" => "tab", "aria-controls" => "compta", "aria-selected" => "#{params[:tab] == 'compta'}" } Paramètres
            - if @customer.uses?(:ibiza)
              %li.nav-item.no-margin{ "role" => "presentation" }
                %button.semibold.nav-link#ibizabox_tab{ class: ('active' if params[:tab] == 'ibiza_box'), "data-bs-toggle" => "tab", "data-bs-target" => "#ibizabox", type: :button, "role" => "tab", "aria-controls" => "ibizabox", "aria-selected" => "#{params[:tab] == 'ibiza_box'}" } iBiza Box
            %li.nav-item.dropdown.no-margin
              %button.semibold.nav-link.dropdown-toggle#softwares-list{ "data-bs-toggle" => "dropdown", "aria-expanded" => "false", type: :button, class: ('active' if (params[:tab] == 'ibiza' || params[:tab] == 'exact_online' || params[:tab] == 'my_unisoft' || params[:tab] == 'coala' || params[:tab] == 'quadratus' || params[:tab] == 'cegid' || params[:tab] == 'fec_agiris' || params[:tab] == 'fec_acd' || params[:tab] == 'csv_descriptor' )) } Logiciels comptables / export csv
              %ul.dropdown-menu{ "aria-labelledby" => "softwares-list" }
                - if software_uses('ibiza')   
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#ibiza-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#ibiza", type: :button, "role" => "tab", "aria-controls" => "ibiza", "aria-selected" => "#{params[:tab] == 'ibiza'}" } 
                      %span.float-start iBiza
                      - if @customer.uses?(:ibiza)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if software_uses('exact_online')
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#exact-online-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#exact-online", type: :button, "role" => "tab", "aria-controls" => "exact-online", "aria-selected" => "#{params[:tab] == 'exact_online'}" } 
                      %span.float-start Exact Online
                      - if @customer.uses?(:exact_online)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if software_uses('my_unisoft')
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#my-unisoft-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#my-unisoft", type: :button, "role" => "tab", "aria-controls" => "my-unisoft", "aria-selected" => "#{params[:tab] == 'my_unisoft'}" } 
                      %span.float-start My Unisoft
                      - if @customer.uses?(:my_unisoft)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if @organization.try(:coala).try(:used?)  
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#coala-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#coala", type: :button, "role" => "tab", "aria-controls" => "coala", "aria-selected" => "#{params[:tab] == 'coala'}" } 
                      %span.float-start Coala
                      - if @customer.uses?(:coala)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if @organization.try(:quadratus).try(:used)
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#quadratus-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#quadratus", type: :button, "role" => "tab", "aria-controls" => "quadratus", "aria-selected" => "#{params[:tab] == 'quadratus'}" } 
                      %span.float-start Quadratus
                      - if @customer.uses?(:quadratus)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if @organization.try(:cegid).try(:used?)
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#cegid-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#cegid", type: :button, "role" => "tab", "aria-controls" => "cegid", "aria-selected" => "#{params[:tab] == 'cegid'}" } 
                      %span.float-start Cegid
                      - if @customer.uses?(:cegid)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if @organization.try(:fec_agiris).try(:used?)
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#fec-agiris-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#fec-agiris", type: :button, "role" => "tab", "aria-controls" => "fec-agiris", "aria-selected" => "#{params[:tab] == 'fec_agiris'}" } 
                      %span.float-start Fec Agiris
                      - if @customer.uses?(:fec_agiris)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if @organization.try(:fec_acd).try(:used?)
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#fec-acd-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#fec-acd", type: :button, "role" => "tab", "aria-controls" => "fec-acd", "aria-selected" => "#{params[:tab] == 'fec_acd'}" } 
                      %span.float-start Fec ACD
                      - if @customer.uses?(:fec_acd)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })
                - if @organization.try(:csv_descriptor).try(:used?)
                  %li.clearfix
                    %button.semibold.nav-link.dropdown-item#csv-descriptor-tab{ "data-bs-toggle" => "tab", "data-bs-target" => "#csv-descriptor", type: :button, "role" => "tab", "aria-controls" => "csv-descriptor", "aria-selected" => "#{params[:tab] == 'csv_descriptor'}" } 
                      %span.float-start Format d’export (.csv)
                      - if @customer.uses?(:csv_descriptor)
                        = glyphicon('check', { size: '15', color: 'rgba(26, 26, 26, 0.7);', class: 'float-end' })   
            %li.nav-item.no-margin{ "role" => "presentation" }
              %button.semibold.nav-link#accounting-plan-tab{ class: ('active' if params[:tab] == 'accounting_plan'), "data-bs-toggle" => "tab", "data-bs-target" => "#accounting-plan", type: :button, "role" => "tab", "aria-controls" => "accounting-plan", "aria-selected" => "#{params[:tab] == 'accounting_plan'}" } Plan comptable
            - if @organization.mcf_settings.try(:access_token).present? || @customer.try(:mcf_documents).try(:not_processable).try(:any?)
              %li.nav-item.no-margin{ "role" => "presentation" }
                %button.semibold.nav-link#mcf-tab{ class: ('active' if params[:tab] == 'mcf'), "data-bs-toggle" => "tab", "data-bs-target" => "#mcf", type: :button, "role" => "tab", "aria-controls" => "mcf", "aria-selected" => "#{params[:tab] == 'mcf'}" } My Company Files
            - if @organization.knowings.try(:ready?)
              %li.nav-item.no-margin{ "role" => "presentation" }
                %button.semibold.nav-link#ged-tab{ class: ('active' if params[:tab] == 'ged'), "data-bs-toggle" => "tab", "data-bs-target" => "#ged", type: :button, "role" => "tab", "aria-controls" => "ged", "aria-selected" => "#{params[:tab] == 'ged'}" } Outil GED
            - if @user.is_admin && @customer.active? && !@organization.specific_mission
              %li.nav-item.no-margin{ "role" => "presentation" }
                %button.semibold.nav-link#file-storages-tab{ class: ('active' if params[:tab] == 'file_storage'), "data-bs-toggle" => "tab", "data-bs-target" => "#file-storages", type: :button, "role" => "tab", "aria-controls" => "file-storages", "aria-selected" => "#{params[:tab] == 'file_storage'}" } Stockages externes

    .tab-content
      .tab-pane.no-margin#information{ class: ('active' if params[:tab] == 'information' || params[:tab].blank?), "role" => "tabpanel", "aria-labelledby" => "information-tab" }      


      - if @customer.active?
        .tab-pane.no-margin#subscription{class: ('active' if params[:tab] == 'subscription'),  "role" => "tabpanel", "aria-labelledby" => "subscription-tab" }
          .no_more_content

        .tab-pane.no-margin#orders{ class: ('active' if params[:tab] == 'orders'), "role" => "tabpanel", "aria-labelledby" => "orders-tab" }
          .box.derivationRight
            %table.table.table-striped
              %thead
                %tr
                  %th Date de la commande
                  %th Produit
                  %th Quantité
                  %th Prix (HT)
                  %th Adresse de livraison
                  %th Statut
                  %th Actions
              %tbody
                - @customer.orders.order(created_at: :desc).each do |order|
                  %tr
                    %td= l order.created_at
                    - if order.dematbox?
                      %td iDocus'Box
                      %td= order.dematbox_count
                      %td.alignright= format_price_00(order.price_in_cents_wo_vat) + ' €'
                    - else
                      %td Kit envoi courrier
                      %td
                        = order.paper_set_casing_size.to_s + 'g'
                        %br
                        = order.paper_set_casing_count.to_s + ' enveloppe(s)'
                        %br
                        = order.paper_set_folder_count.to_s + ' chemises'
                        %br
                        = paper_set_date_to_name(order.period_duration, order.paper_set_start_date)
                        à
                        = paper_set_date_to_name(order.period_duration, order.paper_set_end_date)
                      %td.alignright= format_price_00(order.price_in_cents_wo_vat) + ' €'
                    %td= order.address.try(:long_info)
                    %td= Order.state_machine.states[order.state].human_name
                    %td.text-end.pointer
                      .action
                        %span= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
                      .sub_menu.text-start.hide
                        %ul.no-margin.no-padding.regular
                          - if order.pending? && (Time.now < order.created_at + 24.hours)                                             
                            %li
                              %span.me-1= glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                              %span= link_to 'Modifier', "#", class: 'new_edit_order_url', link: edit_organization_customer_order_path(@organization, @customer, order)
                            %li
                              - idocus_params = param_encode({ url: organization_customer_order_path(@organization, @customer, order), confirm: t('actions.confirm'), method: 'delete', redirect_to: { url: organization_customer_path(@organization, @customer, tab: 'orders'), method: 'get', html: { target: '#orders.tab-pane table' } } })
                              %span.me-1= glyphicon('action-undo', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                              %span= link_to 'Annuler', '#', class: 'as_idocus_ajax', idocus: idocus_params                   
    
            .form-group.no-margin
              .w-100.text-end
                - if @customer.is_dematbox_authorized
                  = link_to "Commander un/des scanner(s) iDocus'box", "#", class: 'btn btn-dark bold new_edit_order_url', link: new_organization_customer_order_path(@organization, @customer, order: { type: 'dematbox' })
                - if @customer.subscription.is_package?('mail_option') || @customer.subscription.is_package?('digitize_option')
                  - if CustomUtils.is_manual_paper_set_order?(@organization)
                    = link_to 'Générer un kit de numérisation', "#", link: select_organization_file_sending_kit_path(@organization, order_customer_id: @customer.id), class: 'btn btn-light bold select_for_orders'
                  - else
                    = link_to 'Commander un Kit envoi courrier', "#", link: new_organization_customer_order_path(@organization, @customer, order: { type: 'paper_set' }), class: 'btn btn-primary bold new_edit_order_url'


      .tab-pane#adresses{ class: ('active' if params[:tab] == 'addresses'), "role" => "tabpanel", "aria-labelledby" => "adresses-tab" }
        - addresses = OpenStruct.new({ paper_return_address: @customer.paper_return_address, paper_set_shipping_address: @customer.paper_set_shipping_address, dematbox_shipping_address: @customer.dematbox_shipping_address })
        = render file: Rails.root.join('app/templates/front/addresses/views/addresses/_show.html.haml'), locals: { addresses: addresses, addr_for: 'user', id: @customer.id }

      .tab-pane.box.no-margin#journals{ class: ('active' if params[:tab] == 'journals'), "role" => "tabpanel", "aria-labelledby" => "journals-tab" }
        - if @pending_journals.present?
          .alert
            %strong Attention!
            Les journaux suivants sont assignés aux automates de récupération mais ne sont pas configurés :
            != @pending_journals.map { |j| content_tag(:strong, j) }.join(', ')
        - if @customer.active? && !is_max_number_of_journals_reached?
          .form-group.derivationRight
            .text-end
              - if !@organization.specific_mission && @customer.active? && (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized)
                %button.btn.btn-dark.no-margin{ 'data-bs-target' => '#copy-existing-journal', 'data-bs-toggle' => 'modal' }
                  %span Copier depuis la base existant

              %button.btn.btn-primary.bold.new-journal.new_edit_account_book_type{link: new_organization_customer_journal_path(@organization, @customer)}
                %span.me-2= glyphicon('plus', { color: "#FFF", size: '15'})
                %span Nouveau journal
          %hr

        .derivationLeft
          - if @organization.specific_mission
            %table.table.table-striped
              %thead
                %th Code dossier
                %th Nom dossier
                %th Nombre d’automates
                - if (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized) && @customer.active?
                  %th Actions
              %tbody
                - @journals.each do |journal|
                  %tr
                    %td= journal.name
                    %td= journal.description
                    %td= journal.retrievers.count
                    - if (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized) && @customer.active?
                      %td.text-end.pointer
                        .action.sub_edit_delete.list-collaborators
                          %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
                        .sub_menu.text-start.hide
                          %ul.no-margin.no-padding.regular
                            %li.edit
                              = link_to glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'}) + ' ' + t('actions.edit'), '#', link: edit_organization_customer_journal_path(@organization, @customer, journal), class: 'new_edit_account_book_type'
                        - if @user.is_admin || false || journal.is_open_for_modification?
                          %li.delete.red-label
                            = link_to glyphicon('trash', { size: '15', color: "#FF4848" }) + ' Supprimer', organization_customer_journal_path(@organization, @customer, journal), method: 'delete', data: { confirm: t('actions.confirm') }
                            - unless @user.is_admin || false
                              %i (pour #{distance_of_time_in_words_to_now(journal.created_at + 24.hours)})
          - else
            %table.table.table-striped.journals_list
              %thead
                %th Nom journal comptable
                %th Code
                %th Par défaut ?
                %th Type de pré-saisie
                %th Type de compte
                %th Compte tiers
                %th Compte de charge/produit
                %th Nombre d’automates
                - if (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized) && @customer.active?
                  %th Actions
              %tbody
                - @journals.each do |journal|
                  %tr
                    %td= journal.description
                    %td= journal.name
                    %td= journal.is_default ? 'Oui' : 'Non'
                    %td= t("activerecord.models.account_book_type.attributes.entry_type_#{journal.entry_type}")
                    %td
                      - if journal.is_pre_assignment_processable?
                        = journal.default_account? ? 'compte par défaut' : "compte d'attente"
                    %td= journal.meta_account_number
                    %td= journal.meta_charge_account
                    %td= journal.retrievers.count
                    - if (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized) && @customer.active?
                      %td.text-end.pointer
                        .action.sub_edit_delete.list-collaborators
                          %span.glyph= glyphicon('ellipses', { size: '15', color: 'rgba(26, 26, 26, 0.7);', style: 'transform: rotate(90deg)'})
                        .sub_menu.text-start.hide
                          %ul.no-margin.no-padding.regular
                            %li.edit
                              = link_to glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'}) + ' ' + t('actions.edit'), '#', link: edit_organization_customer_journal_path(@organization, @customer, journal), class: 'new_edit_account_book_type'
                            - if @user.is_admin || false || journal.is_open_for_modification?
                              %li.delete.red-label
                                - idocus_params = param_encode({ url: organization_customer_journal_path(@organization, @customer, journal), method: 'delete', confirm: t('actions.confirm'), redirect_to: { url: organization_customer_path(@organization, @customer, tab: 'journals'), method: 'get', html: { target: 'table.journals_list' } } })
                                = link_to glyphicon('trash', { size: '15', color: "#FF4848" }) + ' Supprimer', '#', idocus: idocus_params, class: 'as_idocus_ajax'
                                - unless @user.is_admin || false
                                  %i (pour #{distance_of_time_in_words_to_now(journal.created_at + 24.hours)})

        - unless @organization.specific_mission
          .form-group.derivationRight
            .row
              .col-md-6.text-start.notif-booktype
                %span Pré-saisie comptable activée pour le dossier :
                %span.badge{ class: 'semibold bg-' + (@customer.options.is_preassignment_authorized ? 'success fs-origin' : 'danger fs-origin') }
                  = @customer.options.is_preassignment_authorized ? t('yes_value') : t('no_value')
                - unless @customer.options.is_preassignment_authorized
                  %i.margin1left
                    = link_to '(Activer la pré-saisie comptable)', edit_organization_customer_subscription_path(@organization, @customer), class: 'no-style'
              .col-md-6.text-end.notif-booktype
                = "#{@customer.account_book_types.count}/#{@customer.options.max_number_of_journals} journaux comptables utilisés"
                - if @customer.options.max_number_of_journals < 10
                  %i.text-muted
                    = link_to '(Augmenter le total autorisé de journaux comptables)', organization_customer_path(@organization, @customer, tab: 'subscription'), class: 'no-style'

        - if !@organization.specific_mission && @customer.active? && (@user.leader? || @user.organization_rights_is_customer_journals_management_authorized)
          .modal#copy-existing-journal
            .modal-dialog
              .modal-content
                .modal-header
                  %h5.modal-title.bold Copie depuis la base existant
                  %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button' }
                .modal-body
                  - journal_names = @journals.map{|journal| journal.name}
                  - journals = @organization.account_book_types.where.not(name: journal_names).order(is_default: :desc, name: :asc)
                  - if @customer.account_book_types.count < @customer.options.max_number_of_journals && journals.any?
                    = form_tag copy_organization_customer_journals_path(@organization, @customer), method: 'POST', class: 'form-horizontal', id: 'copy_account_book_type_form' do
                      .form-group
                        %label.semibold Copier les journaux comptables depuis la base existante
                        = select_tag "journal_ids[]", options_from_collection_for_select(journals, "id", "name"), multiple: true, class: 'form-control', id: 'copy-journals-into-customer'
                .modal-footer
                  %button.btn.btn-light.cancel{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button' } Annuler
                  - idocus_params = param_encode({ url: '#url', form: { id: 'copy_account_book_type_form', dump_action: true }, modal: { id: 'copy-existing-journal' }, redirect_to: { url: organization_customer_path(@organization, @customer, tab: 'journals'), method: 'get', html: { target: 'table.journals_list' } } })
                  %button.btn.btn-primary.bold.copy_account_book_type_btn.as_idocus_ajax{ type: 'button', disabled: 'disabled', idocus: idocus_params } Copier

      .tab-pane.box.no-margin#bank-setting{ "role" => "tabpanel", "aria-labelledby" => "bank-setting-tab" }

      .tab-pane.box.no-margin#compta{ class: ('active' if params[:tab] == 'compta'), "role" => "tabpanel", "aria-labelledby" => "compta-tab" }

      - if @customer.uses?(:ibiza)
        .tab-pane.no-margin#ibizabox{ class: ('active' if params[:tab] == 'ibiza_box'), "role" => "tabpanel", "aria-labelledby" => "ibizabox_tab" }
          - if @organization.ibiza.first_configured?
            = render file: Rails.root.join('app/templates/front/ibiza/views/ibiza/box_documents/_main.html.haml')
          - else
            = render 'shared/ibiza_not_configured_warning'

      - if @organization.try(:ibiza).try(:used?)
        .tab-pane.box.no-margin#ibiza{ class: ('active' if params[:tab] == 'ibiza'), "role" => "tabpanel", "aria-labelledby" => "ibiza-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Ibiza
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_ibiza', class: 'form form-horizontal label-auto' } do |c|
              = hidden_field_tag :part, 'ibiza'
              = c.simple_fields_for :ibiza do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[ibiza_attributes][is_used]', "Ce dossier utilise Ibiza ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[ibiza_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[ibiza_attributes][is_used]', 1, @customer.try(:ibiza).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.uses?(:ibiza)
            .ibiza_configuration_customer
              .derivationRight
                %hr
                %h4.margin2top.margin1bottom Configuration Ibiza
                - unless @organization.ibiza.configured?
                  %p
                    = render 'shared/ibiza_not_configured_warning'
                %table.table.table-striped.table-condensed
                  %tbody
                    %tr
                      %th= t('activerecord.models.software_ibiza.attributes.ibiza_id')
                      - if @organization.ibiza.try(:configured?)
                        - users = @organization.try(:ibiza).users
                        - if @customer.ibiza.try(:ibiza_id).nil?
                          %td
                            %i{ style: 'color:gray' } Aucun
                        - elsif users.is_a?(Array)
                          %td= users.select { |e| e.id == @customer.ibiza.try(:ibiza_id) }.first.try(:name)
                        - elsif users.nil?
                          %td
                            %span.label Rafraîchissement en cours
                        - else
                          %td
                            %span.label.label-important Erreur
                      - else
                        %td
                    %tr
                      %th= t('activerecord.models.software_ibiza.attributes.auto_deliver')
                      %td= @customer.ibiza.try(:auto_deliver?) ? t('yes_value') : t('no_value')
                    %tr
                      %th= t('activerecord.models.software_ibiza.attributes.is_analysis_activated')
                      %td= @customer.ibiza.try(:compta_analysis_activated?) ? t('yes_value') : t('no_value')
                    %tr
                      %th= t('activerecord.models.software_ibiza.attributes.is_analysis_to_validate')
                      %td= @customer.ibiza.try(:analysis_to_validate?) ? t('yes_value') : t('no_value')
              .row.derivationLeft
                .col-md-12.clearfix.mb-3
                  .float-end
                    - if @organization.ibiza.try(:configured?)
                      - modal_title = @customer.configured? ? "Édition des options iBiza du client : #{@customer}" : "Configuration d'iBiza pour le dossier : #{@customer}"
                      - modal_params = param_encode({ url: edit_organization_customer_ibiza_path(@organization, @customer), title: modal_title, after_show: 'bind_ibiza_user_events', target: '#customer.edit.ibiza' , style: 'min-width: 1005px;'})
                      %button.btn.btn-primary.edit_customer_ibiza.semibold.as_idocus_modal{ idocus: modal_params  }
                        %span.me-2
                          = glyphicon('pencil', { size: '15', color: 'rgba(26, 26, 26, 0.7);'})
                        %span.bold Éditer
                    - else
                      = link_to t('actions.edit'), '#', class: 'btn btn-primary float-right', disabled: true

      - if @organization.try(:exact_online).try(:used?)
        .tab-pane.box.no-margin#exact-online{ class: ('active' if params[:tab] == 'exact_online'), "role" => "tabpanel", "aria-labelledby" => "exact-online-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Exact Online
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_exact_online', class: 'form form-horizontal label-auto' } do |c|
              = hidden_field_tag :part, 'exact_online'
              = c.simple_fields_for :exact_online do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[exact_online_attributes][is_used]', "Ce dossier utilise Exact Online ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[exact_online_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[exact_online_attributes][is_used]', 1, @customer.try(:exact_online).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader?
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.uses?(:exact_online)
            .derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Exact Online
              %table.table.table-striped.table-condensed
                %tbody
                  %tr
                    %th Etat
                    %td{colspan: 2, width: '17%'}
                      - if @customer.exact_online.try(:fully_configured?)
                        %span.badge.badge-success OK
                        = link_to 'Supprimer la liaison', unsubscribe_exact_online_path(u: Base64.encode64(@customer.id.to_s)), method: 'POST', data: { confirm: t('actions.confirm') }, class: 'btn btn-danger margin1left'
                      - elsif !@customer.exact_online.try(:api_keys_present?)
                        %span.badge.badge-danger Clé api non renseigné
                      - elsif !@customer.exact_online.try(:linked?)
                        %span.badge.badge-danger Liaison non établie
                        = link_to 'Configurer la liaison', authenticate_exact_online_path(customer_id: @customer.id), class: 'btn btn-primary margin1left'
                  %tr
                    %th= t('activerecord.models.software_exact_online.attributes.user_name')
                    %td{colspan: 2}= @customer.exact_online.try(:user_name)
                  %tr
                    %th= t('activerecord.models.software_exact_online.attributes.email')
                    %td{colspan: 2}= @customer.exact_online.try(:email)
                  %tr
                    %th= t('activerecord.models.software_exact_online.attributes.full_name')
                    %td{colspan: 2}= @customer.exact_online.try(:full_name)
                  %tr
                    %th= t('activerecord.models.software_exact_online.attributes.auto_deliver')
                    %td= @customer.exact_online.try(:auto_deliver?) ? t('yes_value') : t('no_value')
              .row
                .col-md-12
                  = link_to t('actions.edit'), edit_exact_online_organization_customer_path(@organization, @customer), class: 'btn btn-primary float-right'

      - if @customer.organization.try(:my_unisoft).try(:used?)
        .tab-pane.box.no-margin#my-unisoft{ class: ('active' if params[:tab] == 'my_unisoft'), "role" => "tabpanel", "aria-labelledby" => "my-unisoft-tab" }
          .derivationLeft
            %h4.margin1bottom Activation My Unisoft
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_my_unisoft', class: 'form form-horizontal label-auto' } do |c|
              = hidden_field_tag :part, 'my_unisoft'
              = c.simple_fields_for :my_unisoft do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[my_unisoft_attributes][is_used]', "Ce dossier utilise My Unisoft ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[my_unisoft_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[my_unisoft_attributes][is_used]', 1, @customer.uses?(:my_unisoft), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader?
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.uses?(:my_unisoft)
            .derivationRight
              %hr
              .card
                .card-header
                  %h4.margin2top.margin1bottom Configuration My Unisoft
                .card-body
                  - if @customer.my_unisoft.society_id.present?
                    %table.table.table-striped.table-condensed
                      %tbody
                        %tr
                          %th Etat
                          %td{colspan: 2, width: '17%'}
                            .badge.badge-success.fs-origin Connecté                
                        %tr
                          %th ID société
                          %td{colspan: 2}= @customer.my_unisoft.society_id
                        %tr
                          %th Nom de la société
                          %td{colspan: 2}= @customer.my_unisoft.name
                  - else
                    %h5 Ce dossier n'est pas lié à celui de My Unisoft

                  - if @customer.my_unisoft.society_id.present? && @customer.uses?(:my_unisoft)
                    %br
                    %hr
                    .card.accept_my_unisoft
                      .card-header
                        %h4 Vos accès API
                      .card-body
                        %table.table.table-condensed.with_custom_controls
                          %tbody
                            %tr
                              %th Plan Comptable
                              %td
                                = (@customer.my_unisoft.access_routes.present? && @customer.my_unisoft.access_routes.match(/account/)) ? "Oui" : "Non"
                            %tr
                              %th Ecriture Comptable
                              %td
                                = (@customer.my_unisoft.access_routes.present? && @customer.my_unisoft.access_routes.match(/entry/)) ? "Oui" : "Non"
              %br      
              .row
                .col-md-12
                  = link_to t('actions.edit'), edit_my_unisoft_organization_customer_path(@organization, @customer), class: 'btn btn-secondary float-right'

      - if @organization.try(:coala).try(:used?)
        .tab-pane.box.no-margin#coala{ class: ('active' if params[:tab] == 'coala'), "role" => "tabpanel", "aria-labelledby" => "coala-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Coala
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_coala', class: 'form form-horizontal label-auto' } do |c|
              = hidden_field_tag :part, 'coala'
              = c.simple_fields_for :coala do |f|
                .form-group.row
                  .col-md-10
                    = label_tag 'user[coala_attributes][is_used]', "Ce dossier utilise Coala ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[coala_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[coala_attributes][is_used]', 1, @customer.try(:coala).try(:used?), class: 'form-check-input input_switch check-software'
                .form-group.row
                  .col-md-10
                    .label-section
                      = label_tag 'user[coala_attributes][internal_id]', "Identifiant unique du dossier", class: 'semibold'
                  .col-md-2
                    .control-section
                      .select-container.no-padding.w-100
                        = text_field_tag 'user[coala_attributes][internal_id]', nil, class: 'form-control'
                .form-group.row
                  .col-md-12
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary' 
          - if @customer.try(:coala).try(:used?)
            .hide.derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Coala
              %table.table.table-striped.table-condensed
                %tbody
                  %tr
                    %th Générer automatiquement l'export des écritures et pièces ?
                    %td= @customer.coala.try(:auto_deliver?) ? t('yes_value') : t('no_value')
              .row
                .col-md-12
                  = link_to t('actions.edit'), edit_software_organization_customer_path(@organization, @customer, software: 'coala'), class: 'btn btn-primary float-right'

      - if @organization.try(:quadratus).try(:used?)
        .tab-pane.box.no-margin#quadratus{ class: ('active' if params[:tab] == 'quadratus'), "role" => "tabpanel", "aria-labelledby" => "quadratus-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Quadratus
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_quadratus', class: 'form form-horizontal label-auto' } do |c|
              = hidden_field_tag :part, 'quadratus'
              = c.simple_fields_for :quadratuis do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[quadratus_attributes][is_used]', "Ce dossier utilise Quadratus ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[quadratus_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[quadratus_attributes][is_used]', 1, @customer.try(:quadratuis).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.try(:quadratus).try(:used?)
            .hide.derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Quadratus
              %table.table.table-striped.table-condensed
                %tbody
                  %tr
                    %th Générer automatiquement l'export des écritures et pièces ?
                    %td= @customer.quadratus.try(:auto_deliver?) ? t('yes_value') : t('no_value')
              .row
                .col-md-12
                  = link_to t('actions.edit'), edit_software_organization_customer_path(@organization, @customer, software: 'quadratus'), class: 'btn btn-primary float-right'

      - if @organization.try(:cegid).try(:used?)
        .tab-pane.box.no-margin#cegid{ class: ('active' if params[:tab] == 'cegid'), "role" => "tabpanel", "aria-labelledby" => "cegid-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Cegid
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_cegid', class: 'form form-horizontal margin0' } do |c|
              = hidden_field_tag :part, 'cegid'
              = c.simple_fields_for :cegid do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[cegid_attributes][is_used]', "Ce dossier utilise Cegid ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[cegid_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[cegid_attributes][is_used]', 1, @customer.try(:cegid).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.try(:cegid).try(:used?)
            .hide.derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Cegid
              %table.table.table-striped.table-condensed
                %tbody
                  %tr
                    %th Générer automatiquement l'export des écritures et pièces ?
                    %td= @customer.cegid.try(:auto_deliver?) ? t('yes_value') : t('no_value')
              .row
                .col-md-12
                  = link_to icon_edit + ' ' + 'Modifier', edit_software_organization_customer_path(@organization, @customer, software: 'cegid'), class: 'btn btn-primary float-right'

      - if @organization.try(:fec_agiris).try(:used?)
        .tab-pane.box.no-margin#fec-agiris{ class: ('active' if params[:tab] == 'fec_agiris'), "role" => "tabpanel", "aria-labelledby" => "fec-agiris-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Fec Agiris
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_fec_agiris', class: 'form form-horizontal margin0' } do |c|
              = hidden_field_tag :part, 'fec_agiris'
              = c.simple_fields_for :fec_agiris do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[fec_agiris_attributes][is_used]', "Ce dossier utilise Fec Agiris ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[fec_agiris_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[fec_agiris_attributes][is_used]', 1, @customer.try(:fec_agiris).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.try(:fec_agiris).try(:used?)
            .hide.derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Fec Agiris
              %table.table.table-striped.table-condensed
                %tbody
                  %tr
                    %th Générer automatiquement l'export des écritures et pièces ?
                    %td= @customer.fec_agiris.try(:auto_deliver?) ? t('yes_value') : t('no_value')
              .row
                .col-md-12
                  = link_to icon_edit + ' ' + 'Modifier', edit_software_organization_customer_path(@organization, @customer, software: 'fec_agiris'), class: 'btn btn-primary float-right'

      - if @organization.try(:fec_acd).try(:used?)
        .tab-pane.box.no-margin#fec-acd{ class: ('active' if params[:tab] == 'fec_acd'), "role" => "tabpanel", "aria-labelledby" => "fec-acd-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Fec ACD
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_fec_acd', class: 'form form-horizontal margin0' } do |c|
              = hidden_field_tag :part, 'fec_acd'
              = c.simple_fields_for :fec_acd do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[fec_acd_attributes][is_used]', "Ce dossier utilise Fec ACD ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[fec_acd_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[fec_acd_attributes][is_used]', 1, @customer.try(:fec_acd).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.try(:fec_acd).try(:used?)
            .hide.derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Fec ACD
              %table.table.table-striped.table-condensed
                %tbody
                  %tr
                    %th Générer automatiquement l'export des écritures et pièces ?
                    %td= @customer.fec_acd.try(:auto_deliver?) ? t('yes_value') : t('no_value')
              .row
                .col-md-12
                  = link_to icon_edit + ' ' + 'Modifier', edit_software_organization_customer_path(@organization, @customer, software: 'fec_acd'), class: 'btn btn-primary float-right'

      - if @organization.try(:csv_descriptor).try(:used?)
        .tab-pane.box.no-margin#csv-descriptor{ class: ('active' if params[:tab] == 'csv_descriptor'), "role" => "tabpanel", "aria-labelledby" => "csv-descriptor-tab" }
          .derivationLeft
            %h4.margin1bottom Activation Fichier d'export personnalisé (.csv)
            = simple_form_for @customer, url: customer_form_url(@organization, @customer), html: { id: 'form_csv_descriptor', class: 'form form-horizontal label-auto' } do |c|
              = hidden_field_tag :part, 'csv_descriptor'
              = c.simple_fields_for :csv_descriptor do |f|
                .form-group.row
                  .col-md-8
                    = label_tag 'user[csv_descriptor_attributes][is_used]', "Ce dossier utilise un format d'export personnalisé ?", class: 'control-label semibold'
                  .col-md-2.form-check.form-switch
                    = label_tag 'user[csv_descriptor_attributes][is_used]', 'Oui', class: 'semibold'
                    = check_box_tag 'user[csv_descriptor_attributes][is_used]', 1, @customer.try(:csv_descriptor).try(:used?), class: 'form-check-input input_switch check-software'
                  .col-md-2
                    - if @user.leader? || @user.manage_customers
                      .form-group.no-margin
                        .w-100.text-end
                          = f.submit t('actions.submit'), class: 'btn btn-primary'
          - if @customer.uses?(:csv_descriptor)
            .derivationRight
              %hr
              %h4.margin2top.margin1bottom Configuration Fichier d'export personnalisé (.csv)
              %table.table.table-striped.table-condensed
                %tbody
                  %tr.hide
                    %th Générer automatiquement l'export des écritures et pièces ?
                    %td
                      .alignright
                        %span{style: "padding:10px 50px"}= @customer.try(:csv_descriptor).try(:auto_deliver?) ? t('yes_value') : t('no_value')
                        - if @user.leader? || @user.manage_customers
                          = link_to t('actions.edit'), edit_software_organization_customer_path(@organization, @customer, software: 'csv_descriptor'), class: 'btn btn-primary float-right'
                  %tr
                    %th
                      - if @customer.csv_descriptor.try(:use_own_format?)
                        Ce dossier utilise son propre format de fichier d'export .csv.
                      - else
                        Ce dossier utilise le format de fichier d'export .csv de l'organisation.
                      - unless @organization.csv_descriptor.try(:directive).present?
                        %br
                        %i (L'organisation n'a pas de format csv configuré)
                    %td
                      - if @user.leader? || @user.manage_customers
                        .col-md-12.clearfix.mb-3
                          .float-end
                            - if @customer.csv_descriptor.try(:use_own_format?)
                              - if @organization.csv_descriptor.try(:directive).present?
                                - idocus_params = param_encode({ url: deactivate_custom_user_csv_descriptor_path(@organization.id, @customer.id), method: 'post', confirm: "Voulez-vous vraiment utiliser le format défini pour l'organisation?" })
                                %button.btn.btn-secondary.as_idocus_ajax{ type: 'button', idocus: idocus_params } Utiliser le format de l'organisation
                              %button.btn.btn-primary#edit_customer_csv_descriptor{ type: 'button', data: { id: @customer.id, organization_id: @organization.id } } Modifier le format propre au dossier
                            - else
                              %button.btn.btn-primary#edit_customer_csv_descriptor{ type: 'button', data: { id: @customer.id, organization_id: @organization.id } } Créer un format propre au dossier
            .modal#csv_descriptor_modal 
              .modal-dialog
                .modal-content
                  .modal-header
                    %h5.modal-title.bold Format CSV personnalisable
                    %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
                  .modal-body
                    #edit_csv_descriptor_format
                  .modal-footer
                    .w-100.text-end
                      - idocus_params = param_encode({ url: "/organizations/#{@organization.id}/csv_descriptor/#{@customer.id}/update", method: 'patch', form:{  id: 'edit_format_csv_descriptor' }, before_send: 'csv_descriptor_update_format', modal: { id: 'csv_descriptor_modal' } })
                      %button.btn.btn-primary.valid.as_idocus_ajax{ idocus: idocus_params } Valider

      .tab-pane#accounting-plan{ class: ('active' if params[:tab] == 'accounting_plan'), "role" => "tabpanel", "aria-labelledby" => "accounting-plan-tab" }
        .load-accounting-plan
          = javascript_include_tag 'front/accounting_plans/assets/javascripts/main'
        

      - if @organization.mcf_settings.try(:access_token).present? || @customer.try(:mcf_documents).try(:not_processable).try(:any?)
        .tab-pane.box.no-margin#mcf{ class: ('active' if params[:tab] == 'mcf'), "role" => "tabpanel", "aria-labelledby" => "mcf-tab" }
          = render file: Rails.root.join('app/templates/front/my_company_files/views/my_company_files/_configuration.html.haml')

      - if @organization.knowings.try(:ready?) && 1 == 0
        .tab-pane.box.no-margin#ged{ class: ('active' if params[:tab] == 'ged'), "role" => "tabpanel", "aria-labelledby" => "ged-tab" }
          %table.table.table-striped.table-condensed
            %thead
              %tbody
                %tr
                  %th= t('activerecord.models.user.attributes.knowings_code')
                  %td= @customer.knowings_code
                %tr
                  %th= t('activerecord.models.user.attributes.knowings_visibility')
                  %td= knowings_visibility @customer.knowings_visibility
          .row
            .col-md-12
              .form-group.no-margin
                .w-100.text-end
                  = link_to t('actions.edit'), edit_knowings_options_organization_customer_path(@organization, @customer), class: 'btn btn-primary'

      - if @user.is_admin && @customer.active?
        .tab-pane.no-margin#file-storages{ class: ('active' if params[:tab] == 'file_storage'), "role" => "tabpanel", "aria-labelledby" => "file-storages-tab" }
          .box
            = render file: Rails.root.join('app/templates/front/external_file_storages/views/external_file_storages/efs_user/_efs_user.html.haml'), locals: { user: @customer }
          / .form-group.no-margin
          /   .w-100.text-end
          /     = link_to t('actions.edit'), edit_organization_customer_file_storage_authorizations_path(@organization, @customer), class: 'btn btn-primary bold'

    = render partial: 'customer_dialog'
    = render partial: 'order_dialog'
    = render partial: 'journal_dialog'
    = render file: Rails.root.join('app/templates/front/my_company_files/views/my_company_files/customer/_mcf_dialog.html.haml')
= javascript_include_tag 'front/customers/assets/javascripts/main'
