#information.tab-pane.fade{ class: ('active show' if params[:tab] == 'information' || params[:tab].blank?) }
  = simple_form_for @member, url: collaborator_form_url(@organization, @member), html: { class: 'form-horizontal create_update_form' } do |f|
    - company_value = @member.persisted? ? @member.user.company : current_user.company
    %input{type: :hidden, name: 'from_show', value: 'true'}
    %table.table.table-striped.table-condensed
      - if @user.leader?
        %tr
          %th= t('activerecord.models.member.attributes.role')
          %td= f.input :role, label: false, collection: organization_role_options, input_html: { class: 'select-collaborator-role', id: 'select-collaborator-role' }, required: true, prompt: '', multiple: false
      %tr
        %th= t('activerecord.models.group.name').pluralize
        %td= f.input :group_ids, label: false, collection: @organization.groups, input_html: { class: 'select-organization-group-list', id: 'select-organization-group-list', 'multiple' => 'multiple' }
      %tr
        %th= t('activerecord.models.common.attributes.created_at')
        %td= l @member.user.created_at
      %tr
        %th Membre depuis
        %td= l @member.created_at
      = f.simple_fields_for :user do |uf|
        %tr
          %th= t('activerecord.models.user.attributes.email')
          %td.select-container= uf.input :email, label: false, input_html: { class: 'select-container no-padding w-100', placeholder: "jean.dupont@mail.fr" }, hint: "Correspond à l'identifiant de connexion de votre collaborateur", disabled: @member.user.admin?
        %tr
          %th= t('activerecord.models.user.attributes.first_name')
          %td.select-container= uf.input :first_name, label: false, input_html: { class: 'select-container no-padding w-100', placeholder: "Jean" }
        %tr
          %th= t('activerecord.models.user.attributes.last_name')
          %td.select-container= uf.input :last_name, label: false, input_html: { class: 'select-container no-padding w-100', placeholder: "Dupont" }
        %tr
          %th= t('activerecord.models.user.attributes.company')
          %td.select-container= uf.input :company, label: false, input_html: { class: 'select-container no-padding w-100 book-code-software ', placeholder: "iDocus", value: company_value }
      %tr
        %th= t('activerecord.models.user.attributes.code')
        %td.select-container= f.input :code, label: false, input_html: { class: 'select-container no-padding w-100', placeholder: "IDOC%JEAN-D" }, hint: "Doit impérativement commencer par : #{@organization.code}%", required: true

    - if @organization.is_active
      .form-group
        .w-100.text-end{id: "member-#{@member.id}"}
          = f.submit 'Valider les modifications', class: 'btn btn-primary bold valid-collaborator-modification'
