= stylesheet_link_tag 'front/documents/main'

.container-fluid
  .row
    .col-md-1
      %button.btn.btn-default.add-to-favorite.float-right
        = glyphicon('arrow-left', {size: '12', color: '#72AA42'})
        &nbsp;Retour
    .col-md-7.no-padding
      %h3.bold
        IDOC%0001 BQ 2021011245
        %span.badge.badge-secondary.regular 43
    .col-md-3   
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input{ placeholder: 'Rechercher'}
    .col-md-1.no-padding
      %button.btn.btn-light
        Filtrer
        %span
          = glyphicon('layers', { size: '16', color: '#72AA42'})

  .row.box.pr-0
    .col-md-9
    .col-md-3
      .row
        .col-md-6
        .col-md-1.action-group.pointer= glyphicon('account-logout', { size: '25', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
        .col-md-1.action-group.pointer= glyphicon('loop-circular', { size: '25', color:'rgba(26, 26, 26, 0.32);'})
        .col-md-1.action-group.pointer
          %label.container.pointer
            %input{ type: :checkbox }
            %span.checkmark
              = glyphicon('check', { size: '14', color: '#FFF'})

  .row.bank-content
    .w-50
      .box
        .row
          .col-md-10
            %h5.pack.semibold IDOC%0001 BQ 2021011245
          .col-md-1.action-group
            %label.container.pointer
              %input{ type: :checkbox }
              %span.checkmark
                = glyphicon('check', { size: '14', color: '#FFF'})
        .row
          .col-md-5
            %span 13/11/2020
            %span -         
            %span Devise :
            %span EUR 

        .row.m-3.content-table
          %table.table
            %thead
              %th.no-border N° de compte
              %th.no-border Débit
              %th.no-border Crédit
            %tbody
              %tr
                %td 4233154897
                %td -
                %td 22.6
              %tr.striped
                %td 87452145
                %td 22.6
                %td -
        %hr    
        .row
          .col-md-9
            %span.badge.badge-success Nouveau
            %span.badge.badge-danger Ecritures non livrées
            %span.badge.badge-dark Banque
            %span.badge.badge-dark Neatops
          .col-md-3.text-right
            %span.action-group= glyphicon('flag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('tag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('loop-circular', { size: '20', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
            %span.action-group= glyphicon('pencil', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
    .w-50
      .box
        .row
          .col-md-10
            %h5.pack.semibold IDOC%0001 BQ 2021011245
          .col-md-1.action-group
            %label.container.pointer
              %input{ type: :checkbox }
              %span.checkmark
                = glyphicon('check', { size: '14', color: '#FFF'})
        .row
          .col-md-5
            %span 13/11/2020
            %span -         
            %span Devise :
            %span EUR 
        .row.m-3.content-table
          %table.table
            %thead
              %th.no-border N° de compte
              %th.no-border Débit
              %th.no-border Crédit
            %tbody
              %tr
                %td 4233154897
                %td -
                %td 22.6
              %tr.striped
                %td 87452145
                %td 22.6
                %td -
        %hr    
        .row
          .col-md-9
            %span.badge.badge-danger Ecritures non livrées
            %span.badge.badge-dark Banque
            %span.badge.badge-dark Neatops
          .col-md-3.text-right
            %span.action-group= glyphicon('flag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('tag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('loop-circular', { size: '20', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
            %span.action-group= glyphicon('pencil', { size: '20', color:'rgba(26, 26, 26, 0.32);'})


= render partial: 'document_dialog'

= javascript_include_tag 'front/documents/main'
