- months = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"]

.container-fluid
  %h1 TEST: Infos sur l'utilsateur
  %h3
    %span Utilisateur :
    %span= current_user.name
  %h3
    %span Nombre de billings :
    %b= current_user.billings.count
  .mb-4
  %h2 
    %span Détails
    %span= current_user.billings.first.name
  %h3
    %span Title :
    %span= current_user.billings.first.title
  %h3
    %span Période :
    %span= current_user.billings.first.period
  .mb-4
  .row
    .col-md-12
      .row
        .col-md-1.text-center.p-1
          %span.badge.bg-info.semibold Légende :
        .col-md-2.p-2 : Aucun documents reçus
        .col-md-2.p-2 : Documents papier reçus
        .col-md-2.p-2 : Documents téléversés reçus
        .col-md-2.p-2 : Documents papier reçus et documents téléversés reçus
        .col-md-2.p-2
          %button.btn.btn-primary.semibold.w-100
            %span.me-4= glyphicon('share-boxed', { size: '15', color: 'white'})
            %span.text-white Export xls

  .mb-4
  .row
    .col-md-12.d-inline
      .form-group
        %label{"for" => "value_filter"} Affichage par :
        %select.form-select.w-25{"name" => "value_filter"}
          %option{"value" => "8"} Montant facture (€ HT)
          %option{"value" => "9"} Dépassement (€ HT)
          %option{"value" => "0"} Feuilles numérisées
          %option{"value" => "1"} Pièces numérisées
          %option{"value" => "2"} Pages numérisées
          %option{"value" => "10"} Dépassement numérisation
      .mb-4
      %table.table.table-striped
        %thead
          %tr
            %th.w-15.text-center
              %a{"href" => "2021"} 2021
              %a{"href" => "2022"} 2022
            - months.each do |month|
              %th.month{ :style => "width:7%;padding-right:7px;" }
                #{month}
            
        %tbody
          %tr
            %td document 01
            %td 
              .btn.btn-link{"data-bs-toggle"=>"modal", "data-bs-target"=>"#invoiceModal"} 01 €
            %td
              .btn.btn-link{"data-bs-toggle"=>"modal", "data-bs-target"=>"#invoiceModal"} 02 €
            %td
              .btn.btn-link{"data-bs-toggle"=>"modal", "data-bs-target"=>"#invoiceModal"} 03 €
            %td
              .btn.btn-link{"data-bs-toggle"=>"modal", "data-bs-target"=>"#invoiceModal"} 04 €
            %td 05 €
            %td 06 €
            %td 07 €
            %td 08 €
            %td 09 €
            %td 10 €
            %td 11 €
            %td 12 €
          %tr
            %td document 02
            %td 01 €
            %td 02 €
            %td 03 €
            %td 04 €
            %td 05 €
            %td 06 €
            %td 07 €
            %td 08 €
            %td 09 €
            %td 10 €
            %td 11 €
            %td 12 €

          %tr
            %td document 03
            %td 01 €
            %td 02 €
            %td 03 €
            %td 04 €
            %td 05 €
            %td 06 €
            %td 07 €
            %td 08 €
            %td 09 €
            %td 10 €
            %td 11 €
            %td 12 €


        %tr#total
          %td
            %b Montant facture (€ HT)
            %br
            %span Non reçus
            %span Reçus
            %span Traités
            %br
            %span Nombre de clients actifs
            %br
            %span Facture
          %td
            %span= @totalJanuary
            %span €
            %br
            %span 15
            %span 0
            %span 2
          %td
            %span= @totalFebruary
            %span €
            %br
            %span 17
            %span 0
            %span 1
          %td
            %span= @totalMarch
            %span €
            %br
            %span 16
            %span 0
            %span 2
          %td
            %span= @totalApril
            %span €
            %br
            %span 18
            %span 0
            %span 0
          %td
            %span= @totalMay
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalJune
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalJuly
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalAugust
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalSeptember
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalOctober
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalNovember
            %span €
            %br
            %span 0
            %span 0
            %span 0
          %td
            %span= @totalDecember
            %span €
            %br
            %span 0
            %span 0
            %span 0

        %tr
          %td Dépassement mutualisé
          %td.text-center 0,00 €
          %td.text-center 0,00 €
          %td.text-center 0,00 €
          %td.text-center 0,00 €
          %td.text-center -
          %td.text-center -
          %td.text-center -
          %td.text-center -
          %td.text-center -
          %td.text-center -
          %td.text-center -
          %td.text-center -
        %tfooter
          %tr
            %th.w-15.text-center
              %a{"href" => "2021"} 2021
              %a{"href" => "2022"} 2022
            - months.each do |month|
              %th.month{ :style => "width:7%;padding-right:7px;" }
                #{month}


.modal#invoiceModal.fade.in{"tabindex"=>"-1", "aria-labelledby"=>"invoiceModalLabel", "aria-hidden"=>"true"}
  .modal-dialog.modal-dialog-scrollable.modal-dialog-centered.modal-xl
    .modal-content
      .modal-header
        .user
          %h4.modal-title.bold IDOC%001 - iDocus
        .period.no-border.ms-5.no-padding
          %h3.no-margin.grey-label.regular Month YEAR
        %button.btn-close{"type"=>"button", "data-bs-dismiss"=>"modal", "aria-label"=>"Close"}
      .modal-body.clearfix.back-grey
        .documentlist
          .box
            %table.table.table-striped
              %thead
                %tr
                  %th Nom des documents
                  %th.center Pièces
                  %th.center Pré-aff.
                  %th.center Feuilles
                  %th.center Pages
                  %th.center Attaches
                  %th.center Hors format
                  %th.last
              %tbody
                %tr
                  %td.semibold Total
                  %td.center
                    %b 0(0, 0, 0, 0)
                  %td.center
                    %b 0
                  %td.center
                    %b 0
                  %td.center
                    %b 0(0, 0, 0, 0)
                  %td.center
                    %b 0
                  %td.center
                    %b 0
                  %td.last
        .optionlist.box
          %table.table.table-striped
            %thead
              %tr
                %th.header Paramètre
                %th.header Valeur
                %th.header Prix HT
            %tbody
              %tr
                %td.semibold iDo'Classique
                %td Téléchargement + Pré-saisie comptable
                %td 11,00 €
              %tr
                %td.semibold Courrier
                %td Envoi par courrier A/R
                %td 11,00 €
              %tr
                %td.semibold Automates
                %td Récupération banque
                %td 5,00 €
              %tr
                %td
                %td.semibold
                  %b Total :
                %td.semibold.text-end 41,00 €
              %tr
                %td
                %td.semibold
                  %b Facture(s) :
                %td
      .modal-footer
        .row.w-100.form-group
          .col-md-8.p-2
            %label Légende : Total (Téléversées, Numérisées, iDocus'Box, Automatique)
          .col-md-4.text-end
            %a.left.btn.btn-light
              = glyphicon('chevron-left', size: '13')
            %a.up.btn.btn-light
              = glyphicon('chevron-top', size: '13')
            %a.down.btn.btn-light
              = glyphicon('chevron-bottom', size: '13')
            %a.right.btn.btn-light
              = glyphicon('chevron-right', size: '13')

%script{ :type => "text/x-tmpl", :id => "tmpl-period" }
  :plain