#more-filter.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Filtrer
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %span
            = glyphicon('x', { size: '15', color: "rgba(26, 26, 26, 0.32)"})
      .modal-body
        .form-group
          %label Etat pièce
          %select.form-control#state_piece{ name: 'state_piece', multiple: true }
            %option En attente validation analytique
            %option Ignorée
            %option Pré-saisie en cours
        .form-group
          %label Livraison/Export écriture comptable
          %select.form-control#delivery{ name: 'delivery', multiple: true }
            %option Livrée
            %option Non livrée
            %option Avec erreur
            %option Télécharger
            %option Non récupérer
        .form-group
          %label Date de livraison
          .select-container
            #delivery-date.row.date.datepicker
              .col-md-1.text-center= glyphicon('calendar', { size: '28', color: 'rgba(26, 26, 26, 0.7)'} )
              .col-md-10.p-1.label-titre Séléctionner une date ou une période                  
              .col-md-1.text-right.arrow-bottom= glyphicon('chevron-bottom', { size: '20', color: 'rgba(26, 26, 26, 0.7)'})
              %span.add-on.hide{style: 'width: 0px; height:35px'}
        .form-group
          %label Date de facture
          .select-container
            #invoice-date.row.date.datepicker
              .col-md-1.text-center= glyphicon('calendar', { size: '28', color: 'rgba(26, 26, 26, 0.7)'} )
              .col-md-10.p-1.label-titre Séléctionner une date ou une période                  
              .col-md-1.text-right.arrow-bottom= glyphicon('chevron-bottom', { size: '20', color: 'rgba(26, 26, 26, 0.7)'})
              %span.add-on.hide{style: 'width: 0px; height:35px'}
        .form-group
          %label Montant
          .row
            .col-md-4.compare-choice
              %select.form-control#compare{ name: 'compare', multiple: true }
                %option Eg à
                %option Sup - Eg à
                %option Inf - Eg à
            .col-md-8
              .select-container
                %input.value-content{ placeholder: "ex: 100" }                

      .modal-footer
        %button.btn.btn-light{'data-dismiss' => 'modal', :type => 'button'} Annuler
        %button.btn.btn-primary.btn-add{:type => 'button', id: 'launch-filter'} Filtrer

#add-document.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.bold Ajouter des documents
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %span
            = glyphicon('x', { size: '15', color: "rgba(26, 26, 26, 0.32)"})
      .modal-body
        .form-group
          %label Code client
          %select.form-control#customer_code{ name: 'customer_code', multiple: true }
            %option IDOC%001
            %option IDOC%002
            %option IDOC%003
        .form-group
          %label Type de document
          %select.form-control#book-type{ name: 'book-type', multiple: true }
            %option AC (Achat)
            %option NDF (NOte de frais)
        .form-group
          %label Période 
          %select.form-control#periods{ name: 'periods', multiple: true }
            %option 05 2021
            %option 06 2021
            %option 07 2021
            %option 08 2021
            %option 09 2021
            %option 10 2021
            %option 11 2021
        .row
          .col-md-3.text-center.no-padding.mt-2 Compta analytique
          .col-md-4.no-padding
            %button.btn.btn-light Editer analytique
        .upload-content.text-center.p-5.m-3
          .w-100
            %span= glyphicon('cloud-download', { size: '22', color: 'rgba(26, 26, 26, 0.7)'})
          .w-100 Déposez vos fichiers ici
          .w-100
            %span ou 
            %span.pointer.green-label séléctionnez-les depuis votre ordinateur
        .alert-content
          %label.red-label 
            Attention : Fichier de plus de 100 pages ou plus de 10 mégas non acceptés. PDF protégés non acceptés  



      .modal-footer
        %button.btn.btn-light{'data-dismiss' => 'modal', :type => 'button'} Annuler
        %button.btn.btn-primary.btn-add{:type => 'button', id: 'launch-filter'} Ajouter

#view-document-content.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog
    .modal-content      
      .modal-body.m-2.document-content

.dismiss-modal.hide
  %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
    %span
      = glyphicon('x', { size: '15', color: "rgba(26, 26, 26, 0.32)"})