- favorites.each do |favorite|
  .box
    .favorite-list
      .row
        .col-md-10.float-left
          %span.bold= favorite.name
          %br
          %i.text-muted
            = favorite.name
            %span.text-muted-light= favorite.info

        .col-md-1.no-padding.text-right
          %span.state{ class: "state-#{favorite.state}"}= favorite.note
        .col-md-1
          = link_to glyphicon('chevron-right', {size: '17', color: '#b5a6a6'}), '#', class: 'favorite-link', id: favorite.id

    .favorite-customer-content.hide{id: "details_#{favorite.id}"}
      %hr.clearfix 
      .row
        .col-md-10
          %h6.bold État de la configuration
          .text-small-content
            %p
              Le dossier client est configuré de façon optimale
              %span
                = link_to glyphicon('cog', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
        .col-md-1.no-padding.text-right
          %span.state.state-medium Moyen
      %hr.clearfix
      .row
        .col-md-10
          %h6.bold Activité du dossier
          .row              
            .col-md-4
              %span
                %span Dernier lot ajouté :
            .col-md-3.text-right
              %span
                %span NDF 202011
                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
        .col-md-1.no-padding.text-right
          %span.state.state-good Bonne
      %hr.clearfix
      .row
        .col-md-10
          .row
            .col-md-4
              %span
                %span Dernière activité :
            .col-md-3.text-right
              %span
                %span 06/11/20
                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
        .col-md-1.no-padding.text-right
          %span.state.state-medium Moyen
      %hr.clearfix
      .row
        .col-md-10
          %h6.bold Ajout de documents            
          .row
            .col-md-4
              %span Erreurs détectées :
            .col-md-3.text-right
              %span 8
              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
          .row
            .col-md-4
              %span Pannes d’automates :
            .col-md-3.text-right
              %span 1
              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
          .row
            .col-md-4
              %span Doublons en pré-affectation :
            .col-md-3.text-right
              %span 0
              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
        .col-md-1.no-padding.text-right
          %span.state.state-critical Critique