= stylesheet_link_tag 'front/dashboard/main'

.container-fluid
  .row
    %h1
      Bienvenue sur 
      %span.label_idocus iDocus
      %span.label_user Paul Soft !
  .row.direct_access
    %p
      Vous pouvez voir l'état de vos dossier ici ou directement accéder à vos documents

  .row
    .col-md-4.view-documents.no-padding
      %button.btn.btn-primary.view-documents-btn Voir mes documents
  .row
    .col-md-6.no-padding
      %h3.favorite_label
        Mes dossiers favoris
        %span.badge.badge-secondary.regular#my-favorite-customers-count 12
    .col-md-6
      %button.btn.btn-default.add-to-favorite.float-right{'data-target' => '#add-to-favorite', 'data-toggle' => 'modal', 'data-original-value' => '455', :type => 'button'}
        = glyphicon('plus', {size: '12', color: '#72AA42'})
        Ajouter un dossier aux favoris
  .row.my-favorite-customers
    - if @favorites.size > 0
      = render partial: 'favorite_customers', locals: { collection: @favorites }
    - else
      .no-favorite-customer
        Veuillez ajoutés vos dossiers favories
    

#add-to-favorite.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myFavoriteModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-dialog{:role => 'document'}
    .modal-content
      .modal-header
        %h5.modal-title.bold Ajouter un dossier aux favoris
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
      .modal-body
        = form_tag('front/add_customer_to_favorite/', method: :post, id: 'send_customer_to_favorite', multipart: true) do |f|
          .form-group
            .label-section
              = label_tag 'my_favorite_customers_list', 'Rechercher un dossier', class: 'select control-label'
            .control-section
              = select_tag 'my_favorite_customers_list form-control', options_for_select(['DEVP%001 - TEST - Testa Test', 'DEVP%002 - TEST - Testa Test', 'DEVP%003 - TEST - Testa Test', 'DEVP%004 - TEST - Testa Test'], 'DEVP%004 - TEST - Testa Test'), class: 'select-customer searchable-option-list', id: 'select-customer-to-favorite', include_blank: false, multiple: true
      .modal-footer
        %button.btn.btn-light{'data-dismiss' => 'modal', :type => 'button'} Annuler
        %button.btn.btn-secondary.btn-add{:type => 'button', id: 'add-customer-to-favorite'} Ajouter


= javascript_include_tag 'front/dashboard/main'
