= stylesheet_link_tag 'front/documents/main'

.container-fluid
  .row
    .col-md-7
      %h1.bold
        Lots documents et écritures
        %span.badge.badge-secondary.regular 6
    .col-md-2.no-padding
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input{ placeholder: 'Rechercher'}
    .col-md-1.text-center.no-padding
      %button.btn.btn-light.more-filter
        Filtrer
        %span
          = glyphicon('layers', { size: '16', color: '#72AA42'})
    .col-md-2.no-padding
      %button.btn.btn-primary.add-document
        %span= glyphicon('plus', { size: '16', color: '#FFFF'})
        &nbsp;Ajouter des documents
  .row.bank-content
    .w-50
      .box
        .row
          .col-md-5
            %h5.pack.semibold IDOC%0001 BQ 2021011245
            %h6.under_pack.regular Neatops 
          .col-md-4
            .created-date
              %span.semibold Premier ajout le :
              %span 23/11/2020
            .updated-date
              %span Modifié le :
              %span 23/01/2021
          .col-md-2.no-padding
            .operation-count 
              %span 43023
          .col-md-1
            = glyphicon('caret-right', { size: '20', color: '#CCC' })
        %hr    
        .row
          .col-md-9
            %span.badge.badge-success Nouveau
            %span.badge.badge-danger Ecritures non livrées
            %span.badge.badge-dark Banque
            %span.badge.badge-dark Neatops
          .col-md-3.text-right
            %span.action-group= glyphicon('flag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('tag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('account-logout', { size: '20', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
            %span.action-group= glyphicon('cloud-download', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
    .w-50
      .box
        .row
          .col-md-5
            %h5.pack.semibold IDOC%0001 BQ 2021011245
            %h6.under_pack.regular Neatops 
          .col-md-4
            .created-date
              %span.semibold Premier ajout le :
              %span 23/11/2020
            .updated-date
              %span Modifié le :
              %span 23/01/2021
          .col-md-2.no-padding
            .operation-count 
              %span 43
          .col-md-1
            = glyphicon('caret-right', { size: '20', color: '#CCC' })
        %hr    
        .row
          .col-md-9
            %span.badge.badge-warning Inmportant
            %span.badge.badge-dark Notes de frais
            %span.badge.badge-dark iDocus
          .col-md-3.text-right
            %span.action-group= glyphicon('flag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('tag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
            %span.action-group= glyphicon('account-logout', { size: '20', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
            %span.action-group= glyphicon('cloud-download', { size: '20', color:'rgba(26, 26, 26, 0.32);'})

= render partial: 'document_dialog'

= javascript_include_tag 'front/documents/main'
