- reports.each do |report|
  .box
    .row
      .col-md-5
        %h5.pack.semibold= report.name.gsub('all', '').strip
        %h6.under_pack.regular= report.user.try(:organization).try(:name)
      .col-md-4
        .created-date
          %span.semibold Premier ajout le :
          %span= report.preseizures.first.try(:created_at).try(:strftime, '%d/%M/%Y')
        .updated-date
          %span Dérnier ajout le :
          %span= report.preseizures.last.try(:created_at).try(:strftime, '%d/%M/%Y')
      .col-md-2.no-padding
        .operation-count 
          %span= report.preseizures.where('operation_id > 0').size
      .col-md-1
        = link_to glyphicon('caret-right', { size: '18', color: '#CCC' }), operations_details_path(id: report.id)
    %hr    
    .row
      .col-md-8
        - if report.created_at >= 1.days.ago
          %span.badge.badge-success.semibold Nouveau
        - if report.has_not_delivered_preseizures?
          %span.badge.badge-danger.semibold Ecritures non livrées
        - if report.preseizures.size >= 50
          %span.badge.badge-warning.semibold Important
        - if report.expenses.size > 0
          %span.badge.bg-dark.semibold Notes de frais
      .col-md-4.text-end
        / %span.ms-2= glyphicon('flag', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
        %span.ms-2.preseizures_export{title: 'Export écriture comptable', data:{ id: report.id, type: 'special_operation', multi: 'true' }}= glyphicon('cloud-download', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
        - if 1==1 || report.user.uses_api_softwares?
          %span.ms-2.deliver_preseizures{title: 'Livraison écriture comptable', data: {id: report.id, type: 'special_operation', multi: 'true'}}= glyphicon('loop-circular', { size: '18', color:'rgba(26, 26, 26, 0.32);'})