- reports.each do |report|
  .box.animatedChild{ class: animation }
    .row
      .col-md-5
        %h6.pack.semibold= link_to report.name.gsub('all', '').strip, operations_details_path(id: report.id), class: 'no-style bold black-label'
        %label.under_pack.regular= report.user.try(:organization).try(:name)
      .col-md-4.no-padding
        .created-date
          %label.semibold Premier ajout le :
          %label= report.preseizures.first.try(:created_at).try(:strftime, '%d/%M/%Y')
        .updated-date
          %label Dérnier ajout le :
          %label= report.preseizures.last.try(:created_at).try(:strftime, '%d/%M/%Y')
      .col-md-2.no-padding
        .operation-count.text-end.p-1
          %span= report.preseizures.where('operation_id > 0').size
      .col-md-1
        = link_to glyphicon('caret-right', { size: '18', color: '#CCC' }), operations_details_path(id: report.id)
    %hr    
    .row
      .col-md-8
        - if report.created_at >= 1.days.ago
          %span.badge.badge-success.semibold Nouveau
        - if report.has_not_delivered_preseizures?
          %span.badge.badge-danger.semibold Ecritures non livrées
        - if report.preseizures.where(created_at: [7.days.ago..Time.now]).size >= 20
          %span.badge.badge-warning.semibold Important
        - if report.expenses.size > 0
          %span.badge.bg-dark.semibold Notes de frais
      .col-md-4.icon-actions.text-end
        / %span.ms-2= glyphicon('flag', { size: '18', color:'rgba(26, 26, 26, 0.32);'})
        - if @user.has_collaborator_action?
          %span.ms-2.preseizures_export{title: 'Export écriture comptable', data:{ id: report.id, type: 'special_operation', multi: 'true' }}= glyphicon('cloud-download', { size: '14', color:'rgba(26, 26, 26, 0.32);'})
          - if report.user.uses_api_softwares?
            %span.ms-2.deliver_preseizures{title: 'Livraison écriture comptable', data: {id: report.id, type: 'special_operation', multi: 'true'}}= glyphicon('loop-circular', { size: '14', color:'rgba(26, 26, 26, 0.32);'})