- reports.each do |report|
  .box
    .row
      .col-md-5
        %h5.pack.semibold= report.name.gsub('all', '').strip
        %h6.under_pack.regular= report.user.try(:organization).try(:name)
      .col-md-4
        .created-date
          %span.semibold Premier ajout le :
          %span= report.operations.first.try(:created_at).try(:strftime, '%d/%M/%Y')
        .updated-date
          %span Dérnier ajout le :
          %span= report.operations.last.try(:created_at).try(:strftime, '%d/%M/%Y')
      .col-md-2.no-padding
        .operation-count 
          %span= report.operations.size
      .col-md-1
        = link_to glyphicon('caret-right', { size: '20', color: '#CCC' }), operations_details_path(id: report.id)
    %hr    
    .row
      .col-md-9
        %span.badge.badge-success Nouveau
        %span.badge.badge-danger Ecritures non livrées
        %span.badge.badge-dark Banque
        %span.badge.badge-dark Neatops
      .col-md-3.text-right
        %span.action-group= glyphicon('flag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
        %span.action-group= glyphicon('tag', { size: '20', color:'rgba(26, 26, 26, 0.32);'})
        %span.action-group= glyphicon('account-logout', { size: '20', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
        %span.action-group= glyphicon('loop-circular', { size: '20', color:'rgba(26, 26, 26, 0.32);'})