= stylesheet_link_tag 'front/documents/assets/stylesheets/main'

.container-fluid
  .row
    .col-md-8.derivationLeft
      %h3.bold
        %span.me-2 Lots opérations bancaires
        %span.badge.badge-secondary.regular.datas_size= @reports.total_count
    .col-md-3.derivationRight
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input#search_input{placeholder: 'Rechercher'}
    .col-md-1.no-padding.derivationRight
      %button.btn.btn-light.more-filter.w-100.semibold        
        %span.me-2 Filtrer
        %span= glyphicon('transfer', { size: '15', color: '#72AA42', style: 'transform: rotate(90deg)'})
  .mb-4

  .row.box.p-2
    .form-group.no-margin.w-100
      .float-end.w-25.pt-1
        = select_tag 'customer_document_filter', options_for_select(accounts_options), id: 'customer_document_filter', multiple: true

  .row.main-content
    = javascript_declare_var 'has_more_result', (@reports.size > 0 && @reports.total_count > @reports.size).to_s
    - if @reports.size > 0
      - count       = @reports.size
      - reports_left  = []
      - reports_right = []
      - @reports.each_with_index do |report, index|
        - ((index % 2) == 0)? reports_left << report : reports_right << report
      .w-50.animatedGroups
        = render partial: 'report_box', locals: { reports: reports_left, animation: 'toLeft' }
      .w-50.animatedGroups
        = render partial: 'report_box', locals: { reports: reports_right, animation: 'toRight' }
    - else
      .no-data-found.box= t('global.no-data-found')

= render file: Rails.root.join('app/templates/front/documents/views/documents/_dialog_box.html.haml')

= javascript_include_tag 'front/documents/assets/javascripts/operations'
