= stylesheet_link_tag 'front/documents/assets/stylesheets/main'

.container-fluid
  .row
    .col-md-8.derivationLeft
      %h3.bold
        %span.me-2 Lots opérations bancaires
        %span.badge.badge-secondary.regular.datas_size= @reports.total_count
    .col-md-3.derivationRight
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input#search_input{placeholder: 'Rechercher'}
    .col-md-1.no-padding.derivationRight
      %button.btn.btn-light.more-filter.w-100.semibold
        %span.me-2 Filtrer
        %span= glyphicon('transfer', { size: '15', color: '#72AA42', style: 'transform: rotate(90deg)'})
  .mb-4

  .main-content
    .row.box.p-2
      .col-md-4
      .col-md-8
        .row.pt-1
          .col-md-5
            .form-group.no-margin
              %input.user_and_journals{ type: 'hidden', value: user_and_journal_list(true) }
              - if accounts_options.size == (session[:params_document_operation].try(:[], :user_ids).try(:size) rescue 0)
                = select_tag 'customer_document_filter', options_for_select(accounts_options), id: 'customer_document_filter', multiple: true
              - else
                = select_tag 'customer_document_filter', options_for_select(accounts_options, session[:params_document_operation].try(:[], :user_ids)), id: 'customer_document_filter', multiple: true
          .col-md-3
            .form-group.no-margin
              = select_tag 'journal_document_filter', options_for_select(accounts_journaux(true), session[:params_document_operation].try(:[], :journal)), id: 'journal_document_filter', multiple: true
          .col-md-2.text-center.pt-1
            %button.btn.btn-dark.w-100.filter-customer-journal Valider
          .col-md-2.text-center.pt-1
            %button.btn.btn-default.semibold.btn-reinit{:type => 'button', id: 'launch-reinit'} Réinitialiser

    .row
      = javascript_declare_var 'has_more_result', (@reports.size > 0 && @reports.total_count > @reports.size).to_s
      - if @reports.size > 0
        - count       = @reports.size
        - reports_left  = []
        - reports_right = []
        - @reports.each_with_index do |report, index|
          - ((index % 2) == 0)? reports_left << report : reports_right << report
        .w-50.animatedGroups
          = render partial: 'report_box', locals: { reports: reports_left, animation: 'toLeft' }
        .w-50.animatedGroups
          = render partial: 'report_box', locals: { reports: reports_right, animation: 'toRight' }
      - else
        .no-data-found.box= t('global.no-data-found')

= render file: Rails.root.join('app/templates/front/documents/views/documents/_dialog_box.html.haml')

= javascript_include_tag 'front/documents/assets/javascripts/operations'
