= stylesheet_link_tag 'front/documents/assets/stylesheets/main'

.container-fluid
  .row.derivationLeft
    .col-md-1
      %button.btn.btn-default.add-to-favorite.float-right
        %a{ href: operations_path }
          = glyphicon('arrow-left', {size: '12', color: '#72AA42'})
          &nbsp;Retour
    .col-md-7.no-padding
      %h3.bold{ id: 'current_report', data: { id: @report.id } }
        = @report.name.gsub('all', '').strip
        %span.badge.badge-secondary.regular.datas_size= @preseizures.total_count
    .col-md-3   
      .search-content
        .row.no-margin
          .col-md-1.no-padding.text-center.glass
            = glyphicon('magnifying-glass', { size: '16', color: 'background: rgba(26, 26, 26, 0.7)' })
          .col-md-11.no-padding.no-margin
            %input#search_input{placeholder: 'Rechercher' }
    .col-md-1.no-padding
      %button.btn.btn-light.more-filter
        Filtrer
        %span
          = glyphicon('layers', { size: '16', color: '#72AA42'})

  .row.box.pr-0.derivationRight
    .col-md-9
    .col-md-3
      .row
        .col-md-6
        .col-md-1.action-group.pointer= glyphicon('account-logout', { size: '25', color:'rgba(26, 26, 26, 0.32);', style: 'transform: rotate(90deg)'})
        .col-md-1.action-group.pointer= glyphicon('loop-circular', { size: '25', color:'rgba(26, 26, 26, 0.32);'})
        .col-md-1.action-group.pointer
          %label.container.pointer
            %input{ type: :checkbox }
            %span.checkmark
              = glyphicon('check', { size: '14', color: '#FFF'})

  .main-content.derivationLeft
    - if @preseizures.size > 0
      - @preseizures.each_slice(2) do |_preseizures|
        .row
          - _preseizures.each do |preseizure|
            = render partial: 'operation_box', locals: { preseizure: preseizure }
    - else
      .no-data-found.box= t('global.no-data-found')

= render file: Rails.root.join('app/templates/front/documents/views/documents/_dialog_box.html.haml')

= javascript_include_tag 'front/documents/assets/javascripts/operations_details'