#pre_assignment_deliveries
  .row.derivationLeft.box.small-shadow.clearfix.header
    .col-md-12   
      %h3
        Liste des livraisons de pré-affectation vers #{@pre_assignment_deliveries_software}
        %span.badge.bg-dark= @pre_assignment_deliveries_count

  .row.derivationRight
    .col-md-12
      .box#table_pre_assignment
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th= sortable :id,            'N°'
              %th= sortable :created_at,    t('activerecord.models.common.attributes.created_at')
              %th= sortable :updated_at,    t('activerecord.models.common.attributes.updated_at')
              %th= sortable :pack_name,     t('activerecord.models.pre_assignment_delivery.attributes.pack_name')
              %th= sortable :total_item,    'Nb'
              %th= sortable :is_auto,       'Auto'
              %th= sortable :state,         t('activerecord.models.pre_assignment_delivery.attributes.state')
              %th= sortable :error_message, t('activerecord.models.pre_assignment_delivery.attributes.error_message')
              %th.text-end Action
          %tbody
            - @pre_assignment_deliveries.each do |delivery|
              %tr
                %td= delivery.id
                %td= l(delivery.created_at, format: '%d %b %Y %H:%M')
                %td= l(delivery.updated_at, format: '%d %b %Y %H:%M')
                %td= delivery.pack_name
                %td= delivery.total_item
                %td= delivery.is_auto ? t('yes_value') : t('no_value')
                %td= pre_assignment_delivery_state delivery
                %td= delivery.error_message.to_s[0..55]
                %td.text-end.pointer                  
                  .action.sub_edit_delete
                    %span.glyph= glyphicon('ellipses', { size: '12', style: 'transform: rotate(90deg)'})
                  .sub_menu.text-start.hide
                    %ul.no-margin.no-padding.regular
                      %li.edit                                
                        = link_to admin_pre_assignment_delivery_path(delivery) do
                          %span.me-2= glyphicon('eye', size: 12)
                          %span Afficher les détails

        = render file: Rails.root.join('app/views/shared/_pagination.html.haml'), locals: { url: admin_pre_assignment_deliveries_path(software: params[:software]), target: '#table_pre_assignment', total_pages: @pre_assignment_deliveries.total_pages, filter: 'form-filter' }

    / = render partial: 'sidebar'
