- favorites.each do |user_id|
  - infos = FavoriteCustomer.get_infos_of(user_id)

  .box
    .favorite-list
      .row
        .col-md-10.float-start
          %span.bold= infos.try(:name)
          %br
          %i.text-muted
            = infos.try(:name)
            %span.text-muted-light= infos.try(:message)

        .col-md-1.no-padding.semibold.text-end
          = tag_state infos.try(:document_state)
        .col-md-1.text-center
          = link_to glyphicon('chevron-right', {size: '17', color: '#b5a6a6'}), '#', class: 'favorite-link', id: infos.try(:id)

    .favorite-customer-content.hide{id: "details_#{infos.try(:id)}"}
      %hr.clearfix 
      .row
        .col-md-10
          %h6.bold= t('dashboard.configuration_state')
          .text-small-content
            %p
              - if infos.try(:active)
                = t('dashboard.configuration_text')
              - else
                = 'Dossier cloturé'
              %span
                = link_to glyphicon('cog', {size: '11', color: '#b5a6a6'}), '#', class: 'support-chat-link'
        .col-md-1.no-padding.semibold.text-end
          = tag_state ( infos.try(:active)? 'good' : 'critical' )
      %hr.clearfix
      .row
        .col-md-12
          %h6.bold= t('dashboard.folder_activity')
          .row              
            .col-md-4
              %span
                %span= t('dashboard.last_pack_added') + ' :'
            .col-md-3.text-end
              %span
                %span= infos.try(:last_pack).try(:name).try(:gsub, ' all', '') || '-'
                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#', class: 'support-chat-link'
      %hr.clearfix
      .row
        .col-md-12
          .row
            .col-md-4
              %span
                %span= t('dashboard.last_activity') + ' :'
            .col-md-3.text-end
              %span
                %span= infos.try(:last_pack).try(:updated_at).try(:strftime, '%d/%m/%Y %H:%M:%S') || '-'
                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#', class: 'support-chat-link'

      %hr.clearfix
      .row
        .col-md-10
          %h6.bold= t('dashboard.add_documents')
          .row
            .col-md-4
              %span= t('dashboard.errors_found') + ' :'
            .col-md-3.text-end
              %span= infos.try(:temp_docs_error_size).to_i
              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#', class: 'support-chat-link'
          - if infos.try(:retriever_option_active)
            .row
              .col-md-4
                %span= t('dashboard.retrievers_failing') + ' :'
              .col-md-3.text-end
                %span= infos.try(:retriever_error_size).to_i
                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#', class: 'support-chat-link'
          .row
            .col-md-4
              %span= t('dashboard.pre_assignement_duplicated') + ' :'
            .col-md-3.text-end
              %span= infos.try(:duplicated_preseizures_size).to_i
              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#', class: 'support-chat-link'
        .col-md-1.no-padding.semibold.text-end
          = tag_state infos.try(:anomaly_state)
          