#my-favorite-customers-list
  - @favorites.each_slice(2) do |favs|
    .row.my-favorite-customers-list
      - favs.each do |favorite|
        .col-md-6
          .favorite-list
            .row
              .col-md-10.float-left
                %span= favorite.name
                %br
                %i.text-muted
                  = favorite.name
                  %span.text-muted-light= favorite.info

                .favorite-customer-content.hidden-content.d-none{id: "c-details-id-#{favorite.id}"}
                  .row
                    .col-md-10.customer-configuration-section
                      %h6.text-h6 État de la configuration
                      .text-small-content
                        %p
                          Le dossier client est configuré de façon optimale
                          %span.configure-client
                            = link_to glyphicon('cog', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
                    .col-md-2
                      %span.badge.badge-success.status-sucess Bonne
                  .row
                    .col-md-10.customer-activities-section
                      %h6.text-h6 Activité du dossier
                      .row
                        .col-md-12
                          .row
                            .col-md-3
                              %span.text-left.text-small-content
                                %span Dernier lot ajouté :
                            .col-md-3
                              %span.text-right.text-small2-content
                                %span NDF 202011
                                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'

                          .row
                            .col-md-3
                              %span.text-left.text-small-content
                                %span Dernière activité :
                            .col-md-3.last-activities
                              %span.text-right.text-small2-content
                                %span 06/11/20
                                = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
                    .col-md-2
                      %span.badge.badge-success.status-sucess Bonne
                  .row
                    .col-md-10.add-documents-section
                      %h6.text-h6 Ajout de documents
                      .row
                        .col-md-6.text-small-content
                          .row
                            .col-md-8
                              %span Erreurs détectées :
                            .col-md-4.align-add-document-info
                              %span 8
                              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
                          .row
                            .col-md-8
                              %span Pannes d’automates :
                            .col-md-4.align-add-document-info
                              %span 1
                              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
                          .row
                            .col-md-8
                              %span Doublons en pré-affectation :
                            .col-md-4.align-add-document-info
                              %span 0
                              = link_to glyphicon('chevron-right', {size: '11', color: '#b5a6a6'}), '#todo', class: 'support-chat-link'
                    .col-md-2
                      %span.badge.badge-success.status-critical Critiqué

              .col-md-2.float-right.text-right
                %span.badge.badge-success.status-sucess.favorite-status bon
                = link_to glyphicon('chevron-right', {size: '17', color: '#b5a6a6'}), '#', class: 'favorite-customer-details-link', id: "f-customer-details-id-#{favorite.id}"