#account_sharing
  %h3 Partage de compte
  
  .mb-3

  .box
    - unless @user.is_guest
      %h6 Liste des contacts avec qui je partage mon compte :
      %ul
        - if @user.inverse_account_sharings.size > 0
          - @user.inverse_account_sharings.each do |account_sharing|
            %li
              = account_sharing.collaborator.info
              = link_to 'Supprimer', account_sharings_delete_path(account_sharing), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir annuler le partage de votre compte avec \"#{account_sharing.collaborator.info}\" ?" }
        - else
          %li
            %i Aucun
      %button.btn.btn-light.semibold{type:'button', :data => { bs: {:toggle => 'modal', :target => '#account-sharing-new'} } } Partager mon compte avec un contact
      %br
      %br
    %h6 Liste des dossiers qui me sont partagés :
    %ul
      - if @user.account_sharings.size > 0
        - @user.account_sharings.each do |account_sharing|
          %li
            = account_sharing.account.info
            = link_to 'Supprimer', account_sharings_delete_path(account_sharing), method: :delete, data: { confirm: "Êtes-vous sûr de ne plus vouloir accéder au dossier \"#{account_sharing.account.info}\" ?" }
            &nbsp;
            %button.btn.btn-light-secondary{type:'button', :data => { bs: { :toggle => 'modal', :target => '#email_document_info'} } } Détails
            .modal.fade.in{id: 'email_document_info', tabindex: '-1', role: 'dialog', aria: {labelledby: 'title_info', hidden: 'true'}}
              .modal-dialog{role: 'document', style:"max-width: 900px"}
                .modal-content
                  #emailed_documents
                    .modal-header
                      .col-md-11
                        %h4{class: 'modal-title', id: 'title_info'}
                          Adresse email d'envoi de documents &nbsp;
                          %a{ :href => '#', :title => "#{account_sharing.account.info}"}
                            %span{class: 'fs-origin', style: 'font-size: 18px;'}
                              = account_sharing.account.info
                      .col-md-1
                        %button.close{type: 'button', data: {dismiss:'modal'}, aria: {label: 'Close'}} &times;
                    .modal-body
                      .row
                        - period_service = Billing::Period.new user: account_sharing.account, current_time: Time.now.beginning_of_month
                        .col-md-12
                          .row
                            .col-md-6
                              Vous pouvez envoyer vos pièces comptables par mail.
                              %br
                              La plateforme iDocus intégrera les pièces jointes (#{UploadedDocument.valid_extensions}) de votre mail.
                              %br
                              %br
                              Règles d'utilisation :
                              %ul
                                %li
                                  Format de l’objet du mail : [libellé court du journal comptable] [période]
                                  - if account_sharing.account.account_book_types.first && period_service.names.first
                                    %br
                                    exemple :
                                    %b
                                      %i #{account_sharing.account.account_book_types.first.name} #{period_service.names.first}
                                %li
                                  La somme des tailles des pièces jointes de votre mail ne doit pas dépasser
                                  %b 10 Mo
                                  \.
                            .col-md-6
                              %h4 Vos journaux comptables accessibles :
                              %hr
                              %ul
                                - account_sharing.account.account_book_types.each do |journal|
                                  %li
                                    %b= journal.name
                                    = "(#{journal.full_name.sub(/\A\s*\(/,'').sub(/\)\s*\z/,'')})"
                              %h4 Vos périodes actuellement accessibles :
                              %hr
                              %ul
                                - period_service.names.each do |name|
                                  %li
                                    %b= name
                          .row
                            .col-md-12
                              Voici votre adresse personnalisée à laquelle vous devez envoyer vos pièces :
                              %b{ style: 'font-size: 16px;' }
                                = "#{account_sharing.account.email_code}@fw.idocus.com"
                    .modal-footer
                      %button.btn.btn-secondary{type:'button', data:{dismiss:'modal'}} Fermer
      - else
        %li
          %i Aucun
    %h6 Liste des mes demandes d'accès :
    %ul
      - if @user.account_sharings.unscoped.pending.select { |e| e.collaborator == @user }.size > 0
        - @user.account_sharings.unscoped.pending.select { |e| e.collaborator == @user }.each do |account_sharing|
          %li
            = account_sharing.account.info
            = link_to 'Supprimer', account_sharings_delete_path(account_sharing), method: :delete, data: { confirm: "Êtes-vous sûr de ne plus vouloir accéder au dossier \"#{account_sharing.account.info}\" ?" }
      - else
        %li
          %i Aucun
    %button.btn.btn-light.semibold{type:'button', :data => { bs: { :toggle => 'modal', :target => '#account-sharing-new-request'} }} Demander l'accès à un dossier

= render file: Rails.root.join('app/templates/front/account_sharings/views/account_sharings/profile/_dialogs.html.haml')
= javascript_include_tag 'front/account_sharings/assets/javascripts/profile'