%nav.navbar.navbar-expand-lg.fixed-top.sticky-top{ class: "#{(Rails.env != 'production') ? 'border-bottom-red' : ''}" }
  .row.w-100.no-margin
    .col-md-1.text-center
      = link_to image_tag('logo/tiny_logo_2.png', alt: 'logo iDocus'), '/', class: 'navbar-brand no-margin', data:{ href: '/' }
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    .col-md-9.menu
      %ul.navbar-nav
        - unless organizations_suspended? && @user.active?
          %li.nav-item.active
            =link_to t('layouts.home'), '/', class: 'nav-link goto_button bold', data:{ href: '/' }
          %li.nav-item.dropdown
            =link_to t('layouts.my_account'), '', class: 'nav-link dropdown-toggle bold', id: 'navbardropdownmenuaccount', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-bs-toggle' => "dropdown", 'role' => "button"
            .dropdown-menu{"aria-labelledby" => "navbardropdownmenuaccount"}
              =link_to t('layouts.change_password'), '/account/profile', class: 'dropdown-item'
              =link_to t('layouts.external_storage'), '/account/external_storage', class: 'dropdown-item'
              =link_to t('layouts.notification'), '/account/notification', class: 'dropdown-item'
          %li.nav-item.dropdown
            =link_to t('layouts.my_documents'), '', class: 'nav-link dropdown-toggle bold', id: 'navbardropdownmenudocuments', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-bs-toggle' => "dropdown", 'role' => "button"
            .dropdown-menu{"aria-labelledby" => "navbardropdownmenudocuments"}
              =link_to t('layouts.pieces_and_pre_assignment'), documents_path, class: 'dropdown-item'
              =link_to t('layouts.pieces_errors'), '/documents/others', class: 'dropdown-item'            
          %li.nav-item
            =link_to t('layouts.bank_operations'), operations_path, class: 'nav-link bold'

        - if @user.collaborator?
          - if @user.has_one_organization?
            - if @user.inactive? || @user.organizations_not_suspended? || @user.can_unsuspend?
              - path = (organizations_suspended? && @user.active?) ? organization_path(@user.organization, tab: 'payments') : organization_path(@user.organization)
              %li.nav-item
                =link_to t('layouts.my_company'), path, class: 'nav-link bold'
          - elsif @user.organizations_not_suspended? || @user.can_unsuspend?
            %li.nav-item.dropdown
              =link_to t('layouts.my_company'), '', class: 'nav-link dropdown-toggle bold', id: 'navbardropdownmenucompany', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-bs-toggle' => "dropdown", 'role' => "button"
              .dropdown-menu{"aria-labelledby" => "navbardropdownmenucompany"}
                - @user.organizations.each do |organization|
                  - if organization.is_suspended
                    = link_to organization_path(organization, tab: 'payments'), class: 'dropdown-item dropdown-item' do
                      = organization.name
                      %i (Suspendu)
                  - else
                    = link_to organization.name, organization_path(organization), class: 'dropdown-item dropdown-item'
        - if @user.active? && @user.organization.is_active
          %li.nav-item
            =link_to t('layouts.reporting'), '/reporting', class: 'nav-link bold'
        - if accounts.detect { |e| e.options.is_retriever_authorized } || @user.organization.specific_mission
          %li.nav-item.dropdown
            =link_to t('layouts.my_retrievers'), '', class: 'nav-link dropdown-toggle bold', id: 'navbardropdownmenuretriever', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-bs-toggle' => "dropdown", 'role' => "button"
            .dropdown-menu{"aria-labelledby" => "navbardropdownmenuretriever"}
              =link_to t('layouts.retriever.automates'), retrievers_path, class: 'dropdown-item'
              =link_to t('layouts.retriever.historic'), retrievers_historics_path, class: 'dropdown-item'
              =link_to t('layouts.retriever.others'), '/retriever/others', class: 'dropdown-item'

    .col-md-2.user-menu
      %ul.navbar-nav.notifaction_group.me-5
        - if current_user.try(:is_admin)
          %li.nav-item
            =link_to glyphicon('fork', color: "rgba(26, 26, 26, 0.7);", size: '22'), '/admin', class: 'nav-link bold'
          - if session[:user_code].presence
            %li.nav-item
              %span.badge.rounded-pill.badge-warning.semibold.mt-2= current_user_info        
          %li.nav-item
            =link_to glyphicon('people', color: "rgba(26, 26, 26, 0.7);", size: '22'), '#', class: 'nav-link bold me-1 as_user position-relative'
          
        %li.nav-item.dropdown
          = link_to glyphicon('cog', color: "rgba(26, 26, 26, 0.7);", size: '22'), '#configure-profile', class: 'nav-link dropdown-toggle bold', id: 'navbardropdownmenusetting', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-bs-toggle' => 'dropdown'
          .dropdown-menu.dropdown-menu-setting{"aria-labelledby" => "navbardropdownmenusetting"}
            = link_to glyphicon('person', {size: '17', color: '#1A1A1A'}) + ' Mon compte', '#my_profile', class: 'dropdown-item', target: '_blank'
            = link_to glyphicon('document', {size: '17', color: '#1A1A1A'}) + ' Documentation', '#documentation', class: 'dropdown-item', target: '_blank'
            = link_to glyphicon('comment-square', {size: '17', color: '#1A1A1A'}) + ' Nous contacter', '#contact', class: 'dropdown-item', target: '_blank'
            = link_to glyphicon('account-logout', {size: '17', color: '#FF4848'}) + ' Se déconnecter', '#log-out', class: 'dropdown-item red-label  account-log-out', target: '_blank'
        %li.nav-item.dropdown
          %span.badge.badge-alert.fs-origin.float-end.notif-badge
          = link_to glyphicon('bell', color: "rgba(26, 26, 26, 0.7);", size: '22'), '#notification', class: 'nav-link dropdown-toggle', id: 'notification-content', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-bs-toggle' => 'dropdown'
          .dropdown-menu.dropdown-notifications{"aria-labelledby" => "notification-content"}
            .notification-content-list
              %ul.dropdown-notif-items

