= stylesheet_link_tag 'front/organization_lefter'

- organization_edit         = controller_path == 'organizations/main' && action_name == 'edit'
- file_naming_policy_edit   = controller_path == 'file_naming_policies/main' && action_name == 'edit'
- reminder_emails_index     = controller_path == 'reminder_emails/main' && action_name == 'index'
- addresses_index           = controller_path == 'organizations/addresses' && action_name == 'index'
- organization_use_software = controller_path == 'organizations/main' && action_name == 'use_software'
- organization_edit_payment = controller_path == 'organizations/main' && action_name == 'edit_payment'

- toggle_submenu = organization_edit || file_naming_policy_edit || reminder_emails_index || addresses_index || organization_use_software || organization_edit_payment

.organizations.mb-5
  .lefter
    %ul.principal
      %li{ data: { href: 'organization_home' } }
        %a{href: organization_path(@organization) }
          %span.link_principal{class: (controller_path == 'organizations/main' && action_name == 'show')? 'active' : ''}= t('organizations.home')
      %li{ data: { href: "parametres" } }
        %span.chevron= glyphicon('chevron-right', { color: "#1A1A1A"})
        %span.chevron{ style: "display: none;" }= glyphicon('chevron-bottom', { color: "#1A1A1A"})
        %span.link_principal.parameters{class: (toggle_submenu ? 'active' : '')}= t('views.standards.setting').capitalize.pluralize
        %ul.slave.hide{style: (toggle_submenu ? 'display: block' : 'display: none')}
          %li{ data: { href: "#{@organization.id}/edit" } }
            %a{href: edit_organization_path(@organization) }
              %span.link_slave{class: (organization_edit ? 'active' : '')}= t('organizations.general')
          %li{ data: { href: "#{@organization.id}/file_naming_policy/edit" } }
            %a{href: edit_organization_file_naming_policy_path(@organization) }
              %span.link_slave{class: (file_naming_policy_edit ? 'active' : '')}= t('organizations.pdf_naming')
          %li{ data: { href: "#{@organization.id}/reminder_emails" } }
            %a{href: organization_reminder_emails_path(@organization) }
              %span.link_slave{class: (reminder_emails_index ? 'active' : '')}= t('organizations.reminder_emails')
          %li{ data: { href: "#{@organization.id}/addresses/" } }
            %a{href: organization_addresses_path(@organization) }
              %span.link_slave{class: (addresses_index ? 'active' : '')}= t('organizations.address_management')
          %li{ data: { href: "#{@organization.id}/use_software" } }
            %a{href: use_software_organization_path(@organization) }
              %span.link_slave{class: (organization_use_software ? 'active' : '')}= t('organizations.software')
          %li{ data: { href: "#{@organization.id}/edit_payment" } }
            %a{href: edit_payment_organization_path(@organization) }
              %span.link_slave{class: (organization_edit_payment ? 'active' : '')}= t('organizations.payment_method')
      - if @user.leader? || @user.manage_collaborators
        %li{ data: { href: "#{@organization.id}/collaborateurs" } }
          %a{href: organization_collaborators_path(@organization) }
            %span.link_principal{class: (controller_path == 'collaborators/main')? 'active' : ''}= t('organizations.collaborators')
      %li{ data: { href: "#{@organization.id}/customers" } }
        %a{href: organization_customers_path(@organization) }
          %span.link_principal{class: (controller_path == 'customers/main')? 'active' : ''}= t('organizations.customers')
      - if @organization.is_active
        - if (@user.leader? || @user.manage_journals) && !@organization.specific_mission
          %li{ data: { href: "#{@organization.id}/journals" } }
            %a{href: organization_journals_path(@organization) }
              %span.link_principal{class: (controller_path == 'journals/main')? 'active' : ''}= t('organizations.journals')
      - if @organization.is_active && !@organization.specific_mission
        %li{ data: { href: "#{@organization.id}/account_number_rules" } }
          %a{href: organization_account_number_rules_path(@organization) }
            %span.link_principal{class: (controller_path == 'account_number_rules/main')? 'active' : ''}= t('organizations.bank_assignment')
      %li{ data: { href: "#{@organization.id}/account_sharing" } }
        %a{href: "#" }
          %span.link_principal= t('folders.shared_folders')
      %li{ data: { href: "#{@organization.id}/invoices" } }
        %a{href: organization_invoices_path(@organization) }
          %span.link_principal{class: (controller_path == 'invoices/main')? 'active' : ''}= t('organizations.invoices')
      - unless @organization.specific_mission
        %li{ data: { href: "#{@organization.id}/paper_set_orders" } }
          %a{href: organization_paper_set_orders_path(@organization) }
            %span.link_principal{class: (controller_path == 'paper_set_orders/main')? 'active' : ''}= t('organizations.idocus_box_and_order')

  .content
    != content_for?(:content) ? yield(:content) : yield

= javascript_include_tag 'front/organization_lefter'