!!!
%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        Idocus | Archivage numérique
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = yield(:head)

    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'front/main'

  = render partial: 'layouts/front/header'
  .body_content
    = yield
  = render partial: 'layouts/front/support_chat'
  = render partial: 'layouts/front/notice_flush_messages'
  = render partial: 'layouts/front/footer'
 
  = javascript_declare_var('XHR_TKN', FrontController::XHR_TOKEN)
  = javascript_include_tag 'front/main'