!!!
%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        = t('layouts.title')
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = yield(:head)

    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'front/main'
    = javascript_include_tag 'front/main'
    = javascript_include_tag Ckeditor.cdn_url

  = render partial: 'layouts/front/header'  
  .body_content
    - if @is_organization_layout   
      = render partial: 'layouts/front/organization_lefter'
    - else
      != content_for?(:content) ? yield(:content) : yield
  - render partial: 'layouts/front/support_chat'
  = render partial: 'layouts/front/notice_flush_messages'
  = render partial: 'shared/as_user'

  = render partial: 'layouts/front/footer'

  %div.loading_box.hide{style: 'background-color: rgba(0,0,0,0.5); width: 100%; height: 100%; position: absolute; z-index: 1100; top: 0; left: 0'}
    %span Chargement en cours ...
