!!!
%html
  %head
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        = t('layouts.title')
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-type" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = yield(:head)

    %link{ :rel => 'shortcut icon', :type => "image/ico", :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'front/main'
    = javascript_include_tag 'front/main'
    = javascript_include_tag Ckeditor.cdn_url

  = render partial: 'layouts/front/header'  
  .body_content
    - if @is_organization_layout   
      = render partial: 'layouts/front/organization_lefter'
    - else
      != content_for?(:content) ? yield(:content) : yield
    .footer_marginer

  = render partial: 'layouts/front/main_modal'
  // = render partial: 'layouts/front/support_chat'
  = render partial: 'layouts/front/notice_flush_messages'
  = render partial: 'shared/as_user'

  = render partial: 'layouts/front/footer'

  #news_box

  .loading_box.hide
    .box.text-center
      %img{ src: '/assets/application/spinner_gray_alpha.gif', alt: 'spin gif'}
      %label.mt-2.semibold Chargement

  .scroll-on-top.pointer.hide
    .scroll-arrow= glyphicon('arrow-top', { size: '16', color: 'rgba(26, 26, 26, 0.7)' })

  // For more result system (used by "Mes documents" AND "Opération bancaires" AND "Automates")
  %button.btn.btn-light.more-result.hide.w-25
    / %span.me-2= glyphicon('arrow-bottom', {size: '12', color: '#72AA42'})
    %span Plus de résultat
    %span.ms-2= glyphicon('arrow-bottom', {size: '12', color: '#72AA42'})

  = javascript_include_tag 'front/news/assets/javascripts/main'
  = javascript_declare_var 'rails_env', Rails.env