!!!
%html
  %head
    %title Idocus | Archivage numérique
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }
    %link{ :rel => 'shortcut icon', :type => 'image/ico', :href => image_path('favicon.ico') }
    = csrf_meta_tag
    = stylesheet_link_tag 'application', 'account/organizations'
    = stylesheet_link_tag 'account/subscriptions'
    = stylesheet_link_tag 'account/csv_descriptors'
    = stylesheet_link_tag 'account/ibiza'
    = stylesheet_link_tag 'account/organization/retrievers'
    = stylesheet_link_tag 'account/addresses'
    = stylesheet_link_tag 'account/invoices'
    / = stylesheet_link_tag 'account/accounting_plans'
    / = stylesheet_link_tag 'account/vat_accounts'
    / = stylesheet_link_tag 'account/knowings'
    / = stylesheet_link_tag 'account/pack_reports'
    / = stylesheet_link_tag 'account/file_sending_kits'
    / = stylesheet_link_tag 'account/file_storage_authorizations'
    / = stylesheet_link_tag 'account/use_csv_descriptors'
    / = stylesheet_link_tag 'account/list_journals'
    / = stylesheet_link_tag 'account/account_sharings'
    / = stylesheet_link_tag 'account/account_sharing_groups'
    / = stylesheet_link_tag 'account/guest_collaborators'
    / = stylesheet_link_tag 'account/ibizabox_documents'
    / = stylesheet_link_tag 'account/ftps'
    / = stylesheet_link_tag 'account/sftps'
    / = stylesheet_link_tag 'account/mcf_settings'


    / = javascript_declare_var('XHR_TKN', FrontController::XHR_TOKEN)
    = javascript_include_tag Ckeditor.cdn_url
    = javascript_include_tag 'front/main'

  #wrap
    = render 'layouts/front/head_menu'
    .body_content{ style: 'padding: 15px' }
      .container-fluid
        .row.derivationLeft
          .col-md-12
            .box.clearfix.small-shadow{ style: 'margin-bottom: 20px' }
              .float-left
                %h3= @organization.name
              - if @user.is_admin
                .float-right
                  - if !@organization.is_active
                    %span.badge.badge-danger.fs-origin.margin1right.closed_account Compte clôturé
                  - if @organization.is_active
                    = link_to glyphicon('x') + " Clôturer l'organisation", close_confirm_organization_path(@organization), class: 'btn btn-danger'
                  - else
                    = link_to glyphicon('briefcase') + " Réouvrir l'organisation", activate_organization_path(@organization), method: 'patch',class: 'btn btn-primary'

        .alerts
          = render partial: 'shared/messages'
        .row.retractable.with-menu
          .retractable-menu
            .row
              .col-md-12
                .box.medium-shadow.bg-menu.side-menu
                  %span.retractable-caret
                    %span.title= @organization.name
                    %span.icon= glyphicon('caret-right')
                  %ul.nav.flex-column.nav-list.dlink
                    %li.nav-item{ class: ((controller_name.in?(%w(organizations organization_addresses organization_period_options reminder_emails file_sending_kits organization_subscriptions csv_descriptors organization_csv_descriptors knowings ibiza file_naming_policies ftps sftps mcf_settings)) && !request.path.match(/customers/)) ? 'active' : '') }
                      %a{ href: organization_path(@organization), class: 'nav-link' }
                        Paramètres
                        = glyphicon('cog',{ class: 'float-right' })
                    %li.nav-item{ class: (controller_name == 'groups' ? 'active' : '') }
                      %a{ href: organization_groups_path(@organization), class: 'nav-link' }
                        Groupes
                        = glyphicon('people', { class: 'float-right' })
                    - if @user.leader? || @user.manage_collaborators
                      %li.nav-item{ class: ((controller_name.in?(%w(collaborators rights)) || (controller_name == 'file_storage_authorizations' and params[:collaborator_id].present?)) ? 'active' : '') }
                        %a{ href: organization_collaborators_path(@organization), class: 'nav-link' }
                          Collaborateurs
                          = glyphicon('person', { class: 'float-right' })
                    - if @organization.is_active
                      - if (@user.leader? || @user.manage_journals) && !@organization.specific_mission
                        %li.nav-item{ class: ((controller_name == 'journals' && params[:customer_id].blank?) ? 'active' : '') }
                          %a{ href: organization_journals_path(@organization), class: 'nav-link' }
                            Journaux comptables partagés
                            = glyphicon('book', { class: 'float-right' })
                    %li.nav-item{ class: (request.path.match(/customers/) ? 'active' : '') }
                      %a{ href: organization_customers_path(@organization), class: 'nav-link' }
                        Clients
                        = glyphicon('briefcase', { class: 'float-right' })
                    - if @organization.is_active && !@organization.specific_mission
                      %li.nav-item{ class: (controller_name == 'account_number_rules' ? 'active' : '') }
                        %a{ href: organization_account_number_rules_path(@organization), class: 'nav-link' }
                          Affectations bancaires
                          %br
                          (iDo'FacBanque)
                          = glyphicon('list', { class: 'float-right', style: 'margin-top: -8px' })
                    - # %li.nav-item{ class: (controller_name.in?(%w(pre_assignments pre_assignment_ignored pre_assignment_delivery_errors pack_reports pre_assignment_blocked_duplicates)) ? 'active' : '') }
                    - # %a{ href: account_documents_path, class: 'nav-link' }
                    - # Pré-affectations
                    - # glyphicon('file', { class: 'float-right' })
                    - unless @organization.specific_mission
                      %li.nav-item{ class: (controller_name.in?(%w(paper_set_orders)) ? 'active' : '') }
                        %a{ href: organization_paper_set_orders_path(@organization), class: 'nav-link' }
                          Commande Kit Courriers
                          = glyphicon('envelope-closed', { class: 'float-right' })
                      %li.nav-item{ class: (controller_name.in?(%w(account_sharings account_sharing_groups guest_collaborators)) ? 'active' : '') }
                        %a{ href: organization_account_sharings_path(@organization), class: 'nav-link' }
                          Accès clients multi-dossiers
                          = glyphicon('folder', { class: 'float-right' })
                    - if @user.leader? && !@organization.try(:is_suspended?)
                      %li.nav-item{ class: (controller_name.in?(%w(invoices)) ? 'active' : '') }
                        %a{ href: organization_invoices_path(@organization), class: 'nav-link' }
                          Factures
                          = glyphicon('spreadsheet', { class: 'float-right' })
          .col-md-12.retractable.fadein
            != yield
      #push

    = render 'layouts/front/footer'
    = render 'layouts/front/news'

    :plain
      <!--[if lt IE 9]>
        <script src="/assets/html5.js" type="text/javascript"></script>
      <![endif]-->
    .to_delete
      = javascript_include_tag 'application', 'inner'
      = javascript_include_tag 'account/software_users'
      = javascript_include_tag 'account/compta_analytics'
      = javascript_include_tag 'account/customers', 'account/subscriptions', 'account/organization_subscriptions', 'account/journals'
      = javascript_include_tag 'account/csv_descriptors'
      = javascript_include_tag 'account/organization_retrievers'
      = javascript_include_tag 'account/addresses'
      = javascript_include_tag 'account/invoices'
      / = javascript_include_tag 'account/rights'
      / = javascript_include_tag 'account/collaborators'
      / = javascript_include_tag 'account/organization_addresses'
      / = javascript_include_tag 'account/vat_accounts'
      / = javascript_include_tag 'account/exercises'
      / = javascript_include_tag 'account/bank_accounts'
      / = javascript_include_tag 'account/knowings'
      / = javascript_include_tag 'account/pre_assignment_delivery_errors'
      / = javascript_include_tag 'account/ibiza'
      / = javascript_include_tag 'account/reminder_emails'
      / = javascript_include_tag 'account/new_provider_requests'
      / = javascript_include_tag 'account/retrieved_banking_operations'
      / = javascript_include_tag 'account/retrieved_documents'
      / = javascript_include_tag 'account/file_sending_kits'
      / = javascript_include_tag 'account/file_storage_authorizations'
      / = javascript_include_tag 'account/use_csv_descriptors'
      / = javascript_include_tag 'account/list_journals'
      / = javascript_include_tag 'account/account_sharing_groups'
      / = javascript_include_tag 'account/guest_collaborators'
      / = javascript_include_tag 'account/mcf_settings'
      / = javascript_include_tag 'account/sftps'
    = render '/shared/google_analytics'
    = render '/shared/zendesk_help'


